{% extends 'CatalogCommonBundle:Catalog:05_subgroups.html.twig' %}
{% use 'CatalogToyotaBundle::toyota.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('catalog_toyota') }}">Регион, модель, модификация ({{ oContainer.getActiveRegion.getRuname }},
        {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> /
    <a href="{{ path('catalog_toyota_complectations', parameters) }}">Комплектация ({{ oContainer.getActiveComplectation.getRuname}})</a> /
    <a href="{{ path('catalog_toyota_groups', parameters) }}">Группа запчастей ({{ oContainer.getActiveGroup.getRuname}})</a> /
    Подгруппа запчастей
{% endblock breadcrumbs %}


{% block subgroupImage %}{% endblock subgroupImage %}
{% block subgroupItem %}
    <div id="subgroup{{ subgroup.getCode }}">
        <a href="{{ path('catalog_toyota_schemas', parameters|merge({'subGroupCode': subgroup.getCode})) }}">({{ subgroup.getCode }}) {{ subgroup.getRuname }}</a>
    </div>
{% endblock subgroupItem %}
 {% block area %}
 {% endblock area %}
{% block cycleScript %}
{% endblock cycleScript %}

