{% trans_default_domain 'common' %}
{% extends 'CatalogCommonBundle:Catalog:05_subgroups.html.twig' %}
{% use 'CatalogToyotaBundle::toyota.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('catalog_toyota_token', parameters) }} {% else %} {{ path('catalog_toyota') }} {% endif %}">{{'Регион, модель, модификация'|trans}} ({{ oContainer.getActiveRegion.getRuname }},
        {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> /
    <a href="{{ path('catalog_toyota_complectations', parameters) }}">{{'Комплектация'|trans}} ({{ oContainer.getActiveComplectation.getRuname}})</a> /
    <a href="{{ path('catalog_toyota_groups', parameters) }}">{{'Группа запчастей'|trans}} ({{ oContainer.getActiveGroup.getRuname|trans({}, 'toyota') }})</a> /
    {{'Подгруппа запчастей'|trans}}
{% endblock breadcrumbs %}

{% block groupRuname %}{{ oContainer.getActiveGroup.getRuname|trans({}, 'toyota') }}{% endblock groupRuname %}


{% block subgroupImage %}{% endblock subgroupImage %}
{% block subgroupItem %}
    {% set loc = app.request.get('_locale')~'_'~app.request.get('_locale')|upper %}
    <div id="subgroup{{ subgroup.getCode }}">
        <a href="{{ path('catalog_toyota_schemas', parameters|merge({'subGroupCode': subgroup.getCode})) }}">({{ subgroup.getCode }}) {{ subgroup.getOption('locale_name')|trans({}, 'toyota', loc) }}</a>
    </div>
{% endblock subgroupItem %}
 {% block area %}
 {% endblock area %}
{% block cycleScript %}
{% endblock cycleScript %}

