{% extends 'CatalogCommonBundle:Catalog:07_schema.html.twig' %}
{% use 'CatalogCadillacBundle::cadillac.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('catalog_cadillac') }}">Регион, модель, модификация ({{ oContainer.getActiveRegion.getRuname }},
   {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> /
    <a href="{{ path('catalog_cadillac_complectations', parameters) }}"> Комплектация ({{ oContainer.getActiveComplectation.getRuname }})</a>/
    <a href="{{ path('catalog_cadillac_groups', parameters) }}">Группа запчастей ({{ oContainer.getActiveGroup.getRuname}})</a>/
    <a href="{{ path('catalog_cadillac_schemas', parameters) }}">Подгруппа запчастей ({{ oContainer.getActiveSchema.getRuname }})</a> /
    Запчасти
{% endblock breadcrumbs %}


{% block refGroupsHead %}<h4>Связанные изображения</h4>{% endblock refGroupsHead %}

							{% block pncScript %}
                                <script>
                                    $("#pnc_{{ pnc.getCode }}").on("click", function(){
                                    	
                                    	{% block pncClick %}
                                    	
                                    	$("#articul_for_pnc{{ pnc.getCode }}").toggleClass("hidden");
                                        $("#pnc_{{ pnc.getCode }}").toggleClass("glyphicon-plus");
                                        
                                        $("#articul_for_pnc{{ pnc.getCode }}").html('<img src={{ asset("bundles/catalogcommon/images/loading.gif") }} height="15px" />');
                                        $.ajax({
                                            type:   'POST',
                                            async:  false,
                                            url:    "{{ path('catalog_cadillac_articuls') }}",
                                            data:   { regionCode: '{{ oContainer.getActiveRegion.getCode }}', modelCode: '{{ oContainer.getActiveModel.getCode }}', modificationCode: '{{ oContainer.getActiveModification.getCode }}', complectationCode: '{{ oContainer.getActiveComplectation.getCode }}', groupCode: '{{ parameters.groupCode }}', subGroupCode: '{{ parameters.subGroupCode }}', schemaCode: '{{ oContainer.getActiveSchema.getCode }}', pncCode: '{{ pnc.getCode }}', options: '{{ oContainer.getActiveSchema.getOptions|json_encode()|raw }}'  },
                                            success: function(data) {
                                                $("#articul_for_pnc{{ pnc.getCode }}").html(data);
                                            }
                                        });
                                        
                                        $.scrollTo("#pnc_{{ pnc.getCode }}", {duration:1500});
                                        
                                        
                                        $("#pnc_{{ pnc.getCode }}").toggleClass("glyphicon-minus");
                                        $("#pnc_{{ pnc.getCode }}").toggleClass("small btn-default");
                                        
                                        {% endblock pncClick %}
                                    });
                                    $("#pnc_{{ pnc.getCode }}").on("mouseover", function(){
                                        $(this).css("cursor", "pointer");
                                        $(this).addClass("btn-info");
                                    });
                                    $("#pnc_{{ pnc.getCode }}").on("mouseout", function(){
                                        $(this).removeClass("btn-info");
                                    });
   
                                </script>
                            {% endblock pncScript %}
                            
{% block image %}
 
    <img src="{{ asset('bundles/cataloggm/Images/B/'~oContainer.getActiveSchema.getOption('IMAGE_NAME')~'.png') }}" width="100%" usemap="#{{ oContainer.getActiveSchema.getCode }}" alt="{{ oContainer.getActiveSchema.getCode }}"/>

{% endblock image %}




{% block subGroupPath %}{{ path('catalog_cadillac_group', parameters|merge({'subGroupCode': refGroup.getCode})) }}{% endblock subGroupPath %}

{% block summary %}
    <div class="col-lg-4">
        <div>
            {% block region %}
                <b>Регион:</b> {% block regionRuname %}{{ oContainer.getActiveRegion.getRuname }}{% endblock regionRuname %}
            {% endblock region %}
        </div>
        <div>
            {% block model %}
                <b>{% block modelTitle %}Модель:{% endblock modelTitle %}</b> {% block modelRuname %}{{ oContainer.getActiveModel.getRuname }}{% endblock modelRuname %}
            {% endblock model %}
        </div>
        <div>
            {% block modification %}
                <b>{% block modificationTitle %}Модификация:{% endblock modificationTitle %}</b> {% block modificationRuname %}{{ oContainer.getActiveModification.getRuname }}{% endblock modificationRuname %}
            {% endblock modification %}
        </div>
        <div>
            {% block complectation %}
                <b>Комплектация:</b> {% block complectationRuname %}{{ oContainer.getActiveComplectation.getRuname }}{% endblock complectationRuname %}
            {% endblock complectation %}
        </div>
    </div>
    <div class="col-lg-4">
        <div>
            {% block group %}
                <b>Группа запчастей:</b> {% block groupRuname %}{{ oContainer.getActiveGroup.getRuname }}{% endblock groupRuname %}
            {% endblock group %}
        </div>
        <div>
            {% block subGroup %}
            {% endblock subGroup %}
        </div>
        <div>
            {% block schemaSummary%}
                <b>Подгруппа запчастей:</b> {% block schemaRuname %}{{ oContainer.getActiveSchema.getRuname }}{% endblock schemaRuname %}
            {% endblock schemaSummary %}
        </div>
    </div>
{% endblock summary%}