{% extends 'CatalogCommonBundle:Catalog:04_groups.html.twig' %}
{% use 'CatalogInfinitiBundle::infiniti.base.html.twig' %}
{% block breadcrumbs %}
   <a href="{{ path('catalog_infiniti') }}">Регион, модель, модификация ({{ oContainer.getActiveRegion.getRuname }}, 
   {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a>
    / <a href="{{ path('catalog_infiniti_complectations', parameters) }}">Комплектация ({{ oContainer.getActiveComplectation.getRuname}})</a>
    / Группа запчастей
{% endblock breadcrumbs %}


{% set a = 'GENIMG' %}

{% block body %}


    {% block head %}<h3>Выбрать группу запчастей:</h3>{% endblock head %}
    <div class="row">
        {% block groupImage %}
            <div class="col-lg-8">
                <img src="{{ asset('bundles/catalognissan/Img/'~oContainer.getActiveRegion.getCode~'/'~oContainer.getActiveComplectation.getCode|slice(0,3)~'/'~a~'/000000.gif') }}" alt="{{ oContainer.getActiveComplectation.getRuname }}" usemap="#{{ oContainer.getActiveComplectation.getCode }}" />
            </div>
        {% endblock groupImage %}
        <div class="col-lg-4">
            {% block groups %}
                <div class="groups">
                    {% block GroupsMap %}
                        <map name="{{ oContainer.getActiveComplectation.getCode }}">
                            {% for group in oContainer.getGroups %}
                                {% block area %}
                            <area shape="rect" coords="
                                    {{ group.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::X1')) }},
                                    {{ group.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::Y1')) }},
                                    {{ group.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::X2')) }},
                                    {{ group.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::Y2')) }}
                                " href="#" id="{{ group.getCode~group.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::X1')) }}" data-name="{% block dataName %}{{ group.getCode }}{% endblock dataName %}"/>
                                {% endblock area %}
                                {% block groupItem %}
                                <div id="group{{ group.getCode }}">
                                    <a href="{{ path('catalog_infiniti_subgroups', parameters|merge({'groupCode': group.getCode})) }}">({{ group.getCode }}) {{ group.getRuname }}</a>
                                </div>
                                {% endblock groupItem %}
                                {% block cycleScript %}
                                <script>
                                    $("#{{ group.getCode~group.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::X1')) }}").on('mouseover', function(){
                                        $("#group{{ group.getCode }}").toggleClass("btn-default");
                                    });
                                    $("#{{ group.getCode~group.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::X1')) }}").on('mouseout', function(){
                                        $("#group{{ group.getCode }}").toggleClass("btn-default");
                                    });
                                    $("#{{ group.getCode~group.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::X1')) }}").on('click', function(){
                                        $("#group{{ group.getCode }}").toggleClass("btn-info");
                                    });
                                </script>
                                {% endblock cycleScript %}
                            {% endfor %}
                        </map>
                    {% endblock GroupsMap %}
                </div>
            {% endblock groups %}
        </div>
    </div>
    {% block mapsterScript %}
        <script>
            $('img').mapster({
                fillColor: '70daf1',
                fillOpacity: 0.3,
                mapKey: 'data-name',
                staticState: true
            });
        </script>
    {% endblock mapsterScript %}
    {% block pageScript %}{% endblock pageScript %}

{% endblock body %}