{% extends 'CatalogCommonBundle:Catalog:06_schemas.html.twig' %}
{% use 'CatalogHondaBundle::honda.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('articul_honda_find') }}">Выбрать регион, модель, модификацию</a> / <a href="{{ path('articul_honda_groups', parameters) }}">Выбрать группу запчастей</a> / <a href="{{ path('articul_honda_subgroups', parameters) }}">Выбрать подгруппу запчастей</a> / Выбрать схему
{% endblock breadcrumbs %}



{% block schema %}
    {% if schema.getCode is not empty %}
            <div class="col-xs-3">
        <a href="{{ path('articul_honda_schema', parameters|merge({'schemaCode': schema.getCode})) }}">

                    <div class="row">
                        {{ schema.getRuname }}
                    </div>
                    <div class="row">
                         <img src="{{ asset('bundles/cataloghonda/images/'~schema.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::CD'))|slice(0,2)~'/'~schema.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::CD'))|slice(2,9)~'/'~schema.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::CD'))|slice(11,2)~'/model'~schema.getOption('num_model')~'/part1/'~schema.getCode~'.png') }}" width="300" alt="{{ schema.getRuname }}"/>
                    </div>

        </a>
            </div>
    {% endif %}
{% endblock schema %}