{% extends 'CatalogCommonBundle:Catalog:01_regions_models.html.twig' %}
{% use 'CatalogRollsRoyceBundle::rollsroyce.base.html.twig' %}


{% block models %}
    <h3>Модельный ряд:</h3>

    <div class="col-lg-6">


        <div id="result">
            {% for model in oContainer.getActiveRegion.getModels %}
                {% if loop.index <= (modelsListLenght/2|round + 1) %}
                    {% block halfList %}
                        {% set modelCode = model.getCode|md5 %}

                        <img src="{{ asset('bundles/catalogbmw/grafik/w_grafik/'~model.getOption('grafik')) }}" href="#" id="{{ modelCode }}{{ modelCode }}" regionCode="{{ oContainer.getActiveRegion.getCode }}" alt="{{ model.getRuname }}" style="cursor: pointer">

                        <div class="model glyphicon-plus" id="{{ modelCode }}" regionCode="{{ oContainer.getActiveRegion.getCode }}">
                            {{ model.getRuname }}
                        </div>
                        <div id="modifications_for_model{{ modelCode }}" class="hidden"></div><br/>
                    {% block modificationScript %}
                        <script>


                            $("#{{ modelCode }}").on("click", function(){
                                {% block ModelClick %}

                                $("#modifications_for_model{{ modelCode }}").toggleClass("hidden");
                                $("#{{ modelCode }}").toggleClass("glyphicon-plus");
                                $.ajax({
                                    type:   'POST',
                                    async:  false,
                                    url:    "{% block ajaxUrl %}{{ path('catalog_rollsroyce_modifications') }}{% endblock ajaxUrl %}",
                                    data:   { regionCode: $(this).attr('regionCode'), modelCode: "{{ model.getCode }}" },
                                    success: function(data) {
                                        $("#modifications_for_model{{ modelCode }}").html(data);
                                    }
                                });
                                $("#{{ modelCode }}").toggleClass("glyphicon-minus");
                                {% endblock ModelClick %}
                            });
                            $("#{{ modelCode }}").on("mouseover", function(){
                                $(this).css("cursor", "pointer");
                                $(this).addClass("btn-info");
                            });
                            $("#{{ modelCode }}").on("mouseout", function(){
                                $(this).removeClass("btn-info");
                            });
                        </script>
                    {% endblock modificationScript %}
                    {% block ImgScript %}
                        <script>
                            $("img#{{ modelCode }}{{ modelCode }}").on("click", function(){
                                {{ block('ModelClick') }}
                            });

                            $("img#{{ modelCode }}{{ modelCode }}").on("mouseover", function(){
                                $("#{{ modelCode }}").css("cursor", "pointer");
                                $("#{{ modelCode }}").addClass("btn-info");
                            });

                            $("img#{{ modelCode }}{{ modelCode }}").on("mouseout", function(){
                                $("#{{ modelCode }}").removeClass("btn-info");
                            });
                        </script>

                    {% endblock ImgScript %}
                    {% endblock halfList %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-6">
        <div id="result">
            {% for model in oContainer.getActiveRegion.getModels %}
                {% if loop.index > (modelsListLenght/2|round + 1) %}
                    {{ block('halfList') }}
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock models %}
{% block regionPath %}{{ path('catalog_rollsroyce', {'regionCode': region.getCode}) }}{% endblock regionPath %}
