<table class="table small">
    <thead>
        <tr>
            <th>Артикул</th>
            <th>Наименование</th>
            <th>Кол-во</th>
            <th>Период</th>
            <th>Доп.информация</th>
        </tr>
    </thead>
    <tbody>
    {% for articul in oContainer.getActivePnc.getArticuls %}
        <tr>
            <td><a href="{{ constant('Catalog\\CommonBundle\\Components\\Constants::FIND_PATH') }}{{ articul.getCode }}" target="_blank">{% block articulItem %}{{ articul.getCode }}{% endblock articulItem %}</a></td>
            <td>{{ articul.getRuname }}</td>
            <td>{{ articul.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::QUANTITY')) }}</td>
            <td>{{ articul.getOption('option1')|huyndai_date_convertor}} - {{ articul.getOption('option2')|huyndai_date_convertor}}</td>
            <td>{% if articul.getOption('option3') %} Код замены: </br> {{ articul.getOption('option3')}} {% endif %}</td>
            
        </tr>
    {% endfor %}
    </tbody>
</table>