{% extends 'CatalogCommonBundle:Catalog:06_schemas.html.twig' %}
{% use 'CatalogSuzukiBundle::suzuki.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('vin_suzuki') }}">Поиск по номеру кузова</a> / <a href="{{ path('vin_suzuki_groups', parameters) }}">Выбрать группу запчастей</a> / <a href="{{ path('vin_suzuki_subgroups', parameters) }}">Выбрать подгруппу запчастей</a> / Выбрать схему
{% endblock breadcrumbs %}



{% block schema %}
    {% if schema.getCode is not empty %}
            <div class="col-xs-3">
        <a href="{{ path('vin_suzuki_schema', parameters|merge({'schemaCode': schema.getCode})) }}">

                    <div class="row">
                        {{ schema.getRuname }}
                    </div>
                    <div class="row">
                         <img src="{{ asset('bundles/catalogsuzuki/images/'~schema.getCode~'.jpg') }}" width="300" alt="{{ schema.getRuname }}"/>
                    </div>

        </a>
            </div>
    {% endif %}
{% endblock schema %}