{% extends 'CatalogCommonBundle::base.html.twig' %}
{% block breadcrumbs %}
    Выбрать регион, модель, модификацию
{% endblock breadcrumbs %}

{% block regionRuname %}{{ oContainer.getActiveRegion.getRuname }}{% endblock regionRuname %}

{% block model %}{% endblock model %}
{% block modification %}{% endblock modification %}
{% block complectation %}{% endblock complectation %}
{% block group %}{% endblock group %}
{% block subGroup %}{% endblock subGroup %}

{% block body %}
    {% block regions %}
        <h3>Выбрать регион:</h3>
        <ul class="nav nav-pills" role="tablist">
            {% for region in oContainer.getRegions %}
                <li role="region" class="{% if region.getCode == oContainer.getActiveRegion.getCode %}active{% endif %}" id="{{ region.getCode }}"><a href="{{ path('catalog_mazda', {'regionCode': region.getCode}) }}">{{ region.getRuname }}</a></li>
            {% endfor %}
        </ul>
    {% endblock regions %}
    {% block models %}
        <h3>Модельный ряд:</h3>
        <div id="result">
            {% for model in oContainer.getActiveRegion.getModels %}
                <div class="model glyphicon-plus" id="{{ model.getCode }}" name="{{ model.getName }}" regionCode="{{ oContainer.getActiveRegion.getCode }}">
                    {{ model.getRuname }}
                </div>
                <div id="modifications_for_model{{ model.getCode }}" class="hidden"></div>
                {% block modificationScript %}
                    <script>
                        $("#{{ model.getCode }}").on("click", function(){
                            $("#modifications_for_model{{ model.getCode }}").toggleClass("hidden");
                            $(this).toggleClass("glyphicon-plus");
                            $.ajax({
                                type:   'POST',
                                async:  false,
                                url:    "{% block ajaxUrl %}{{ path('catalog_common_modifications') }}{% endblock ajaxUrl %}",
                                data:   { regionCode: $(this).attr('regionCode'), modelCode: $(this).attr('name') },
                                success: function(data) {
                                    $("#modifications_for_model{{ model.getCode }}").html(data);
                                }
                            });
                            $(this).toggleClass("glyphicon-minus");
                        });
                        $("#{{ model.getCode }}").on("mouseover", function(){
                            $(this).css("cursor", "pointer");
                            $(this).addClass("btn-info");
                        });
                        $("#{{ model.getCode }}").on("mouseout", function(){
                            $(this).removeClass("btn-info");
                        });
                    </script>
                {% endblock modificationScript %}
            {% endfor %}
        </div>
    {% endblock models %}
{% endblock body %}
