{% extends 'CatalogCommonBundle::base.html.twig' %}
{% block breadcrumbs %}
    Выбрать регион, модель, модификацию / Выбрать комплектацию / Выбрать группу запчастей
{% endblock breadcrumbs %}

{% block regionRuname %}{{ oContainer.getActiveRegion.getRuname }}{% endblock regionRuname %}
{% block modelRuname %}{{ oContainer.getActiveModel.getRuname }}{% endblock modelRuname %}
{% block modificationRuname %}{{ oContainer.getActiveModification.getRuname }}{% endblock modificationRuname %}
{% block complectationRuname %}{{ oContainer.getActiveComplectation.getRuname }}{% endblock complectationRuname %}

{% block group %}{% endblock group %}
{% block subGroup %}{% endblock subGroup %}

{% block body %}
    {% block head %}<h3>Выбрать группу запчастей:</h3>{% endblock head %}
    <div class="row">
    <div class="col-lg-3">
        {% block groups %}
            <div class="groups">
                {% for group in oContainer.getGroups %}
                    <div>
                        <a href="{% block pathToSubgroup %}{% endblock pathToSubgroup %}">({{ group.getCode }}) {{ group.getRuname }}</a>
                    </div>
                {% endfor %}
            </div>
        {% endblock groups %}
    </div>
    <div class="col-lg-9">
        {% block picture %}{% endblock picture %}
    </div>
    </div>
{% endblock body %}