{% extends 'CatalogCommonBundle::base.html.twig' %}
{% block breadcrumbs %}
    Выбрать регион, модель, модификацию / Выбрать комплектацию / Выбрать группу запчастей / Выбрать подгруппу запчастей / Выбрать схему
{% endblock breadcrumbs %}

{% block regionRuname %}{{ oContainer.getActiveRegion.getRuname }}{% endblock regionRuname %}
{% block modelRuname %}{{ oContainer.getActiveModel.getRuname }}{% endblock modelRuname %}
{% block modificationRuname %}{{ oContainer.getActiveModification.getRuname }}{% endblock modificationRuname %}
{% block complectationRuname %}{{ oContainer.getActiveComplectation.getRuname }}{% endblock complectationRuname %}
{% block groupRuname %}{{ oContainer.getActiveGroup.getRuname }}{% endblock groupRuname %}
{% block subGroupRuname %}{{ oContainer.getActiveGroup.getSubGroup(parameters['subGroupCode']).getRuname }}{% endblock subGroupRuname %}

{% block body %}
    {% block head %}<h3>Выбрать схему:</h3>{% endblock head %}
    <div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
    {% block schemas %}
        <div class="schemas">
            {% for schema in oContainer.getSchemas %}
                {% block schema %}
                    {{ shema.getCode }}<br/>
                {% endblock schema %}
            {% endfor %}
        </div>
    {% endblock schemas %}
    </div>
    </div>

{% endblock body %}