{% if oContainer.getActivePnc.getArticuls %}
<table class="table small">
    <thead>
        <tr>
            <th>Артикул</th>
            <th>Кол-во</th>
            <th>Период производства</th>
            <th>Примеч.</th>
        </tr>
    </thead>
    <tbody>
    {% for articul in oContainer.getActivePnc.getArticuls %}
        <tr>
            <td><a href="{% block commonArticulPath %}{% endblock commonArticulPath %}" target="_blank">{% block articulItem %}{{ articul.getCode }}{% endblock articulItem %}</a></td>
            <td>{{ articul.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::QUANTITY')) }}</td>
            <td>{{ articul.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::START_DATE'))|date_convertor }} - {{ articul.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::END_DATE'))|date_convertor }}</td>
            <td>{{ articul.getRuname }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="label label-danger">Запчасти отсутствуют</div>
{% endif %}
