{% trans_default_domain 'common' %}
{% extends 'CatalogFordBundle:Catalog:07_schema.html.twig' %}
{% use 'CatalogFordBundle::ford.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('articul_ford_find_token', parameters) }} {% else %} {{ path('articul_ford_find') }} {% endif %}">{{'Регион, модель, модификация'|trans}} ({{ oContainer.getActiveRegion.getRuname }},
        {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> /
    <a href="{{ path('articul_ford_complectations', parameters) }}">{{'Комплектация'|trans}}</a> /
    <a href="{{ path('articul_ford_groups', parameters) }}">{{'Группа запчастей'|trans}} ({{ oContainer.getActiveGroup.getRuname}})</a> /
    <a href="{{ path('articul_ford_subgroups', parameters) }}">{{'Подгруппа запчастей'|trans}} ({{ oContainer.getActiveGroup.getSubGroup(parameters.subGroupCode).getRuname }})</a> /
    <a href="{{ path('articul_ford_schemas', parameters) }}">{{ 'Схема'|trans }}</a> / {{'Запчасти'|trans}}
{% endblock breadcrumbs %}
{% block complectation %}{% endblock complectation %}

{% block refGroupsHead %}<h4>{{ 'Связанные изображения'|trans }}</h4>{% endblock refGroupsHead %}

{% block pncScript %}
        {% if pnc.isActive %}
        <script>
            $(document).ready(function(){
                {% block pncClick %}
                $(("#articul_for_pnc{{ pnc.getCode|md5 }}")).toggleClass("hidden");
                $(("#pnc_{{ pnc.getCode|md5 }}")).toggleClass("glyphicon-plus");
                $(("#articul_for_pnc{{ pnc.getCode|md5 }}")).html('<img src={{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~"/bundles/catalogcommon/images/loading.gif") }} height="15px" />');
                $.ajax({
                    type:   'POST',
                    async:  false,
                    url:    "{% block ajaxUrl %}{{ path('articul_ford_articuls') }}{% endblock ajaxUrl %}",
                    data:   { {% block ajaxData %}
                        regionCode: '{{ oContainer.getActiveRegion.getCode }}',
                        modelCode: '{{ oContainer.getActiveModel.getCode }}',
                        modificationCode: '{{ oContainer.getActiveModification.getCode }}',
                        complectationCode: '{{ oContainer.getActiveComplectation.getCode}}',
                        groupCode: '{{ oContainer.getActiveGroup.getCode}}',
                        subgroupCode: '{{ oContainer.getActiveGroup.getSubGroup(parameters.subGroupCode).getCode }}',
                        pncCode: '{{ pnc.getCode }}',
                        articul: '{{ parameters.articul }}',
                        token: '{{ parameters.token }}',
                        options: '{{ oContainer.getActiveSchema.getOptions|json_encode()|raw }}'
                        {% endblock ajaxData %} },
                    success: function(data) {
                        $(("#articul_for_pnc{{ pnc.getCode|md5 }}")).html(data);
                    }
                });
                $(("#pnc_{{ pnc.getCode|md5 }}")).toggleClass("glyphicon-minus");
                $(("#pnc_{{ pnc.getCode|md5 }}")).toggleClass("small btn-default");
                $('.g_highlight[name="{{ pnc.getCode|md5 }}"]').toggleClass('g_highlight_lock');
                {% endblock pncClick %}
            });
        </script>
        {% endif %}
        {{ parent() }}
{% endblock pncScript %}

{#{% block articulForPnc %}
        <div class="hidden" id="articul_for_pnc{{ pnc.getCode|md5  }}"></div>
{% endblock articulForPnc %}

{% block pncArea %}{% endblock pncArea %}
{% set a = [] %}
{% for pnc in oContainer.getActiveSchema.getPncs %}
    {% if pnc.isActive %}
        {% set a = a|merge([pnc.getCode|md5]) %}
    {% endif %}
{% endfor %}
{% block activeLabel %}{{ a|join(',') }}{% endblock activeLabel %}

{% block refGroups %}
    {% for refGroup in oContainer.getActiveSchema.getRefGroups %}
        {% block refGroup %}
            <div>
                <a href="{{ path('articul_ford_group', parameters|merge({'subGroupCode': refGroup.getCode})) }}">{% block refGroupName %}{{ refGroup.getCode }}{% endblock refGroupName %}</a>
            </div>
        {% endblock refGroup %}
    {% endfor %}
{% endblock refGroups %}#}