{% trans_default_domain 'common' %}
{% extends 'CatalogLexusBundle:Catalog:07_schema.html.twig' %}
{% use 'CatalogLexusBundle::lexus.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('articul_lexus_find_token', parameters) }} {% else %} {{ path('articul_lexus_find') }} {% endif %}">{{'Регион, модель, модификация'|trans}} ({{ oContainer.getActiveRegion.getRuname }},
   {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> /
    <a href="{{ path('articul_lexus_complectations', parameters) }}">{{'Комплектация'|trans}} ({{ oContainer.getActiveComplectation.getRuname}})</a>/
    <a href="{{ path('articul_lexus_groups', parameters) }}">{{'Группа запчастей'|trans}} ({{ oContainer.getActiveGroup.getRuname|trans({}, 'lexus') }})</a>/
    <a href="{{ path('articul_lexus_subgroups', parameters) }}">{{'Подгруппа запчастей'|trans}} ({{ oContainer.getActiveGroup.getSubGroup(parameters.subGroupCode).getRuname }})</a> /
    <a href="{{ path('articul_lexus_schemas', parameters) }}">{{ 'Cхема'|trans }}</a> / {{'Запчасти'|trans}}
{% endblock breadcrumbs %}



{% block refGroupsHead %}<h4>{{'Связанные подгруппы'|trans}}</h4>{% endblock refGroupsHead %}

{% block image %}
    <img src="{{ asset('bundles/catalogtoyota/Img/'~oContainer.getActiveRegion.getCode~'/'~oContainer.getActiveSchema.getOption('disk')~'/'~oContainer.getActiveSchema.getCode~'.png') }}" width="600px" usemap="#{{ oContainer.getActiveSchema.getCode }}" alt="{{ oContainer.getActiveSchema.getCode }}"/>
{% endblock image %}

{% block commonArticulPath %}{{ parameters.redirectAdress|replace({ '{article}': commonArticul.getCode }) }}{% endblock commonArticulPath %}
{% block subGroupPath %}{{ path('articul_lexus_group', parameters|merge({'subGroupCode': refGroup.getCode})) }}{% endblock subGroupPath %}
{% block pncScript %}
    {% if pnc.isActive %}
        <script>
            $(document).ready(function(){
                {% block pncClick %}
                $("#articul_for_pnc{{ pnc.getCode }}").toggleClass("hidden");
                $("#pnc_{{ pnc.getCode }}").toggleClass("glyphicon-plus");

                $("#articul_for_pnc{{ pnc.getCode }}").html('<img src={{ asset("bundles/catalogcommon/images/loading.gif") }} height="15px" />');
                $.ajax({
                    type:   'POST',
                    async:  false,
                    url:    "{% block ajaxUrl %}{{ path('articul_lexus_articuls') }}{% endblock ajaxUrl %}",
                    data:   {
                        regionCode: '{{ oContainer.getActiveRegion.getCode }}',
                        modelCode: '{{ oContainer.getActiveModel.getCode }}',
                        modificationCode: '{{ oContainer.getActiveModification.getCode }}',
                        complectationCode: '{{ oContainer.getActiveComplectation.getCode }}',
                        groupCode: '{{ oContainer.getActiveGroup.getCode }}',
                        subGroupCode: '{{ parameters.subGroupCode }}',
                        pncCode: '{{ pnc.getCode }}',
                        articul: '{{ parameters.articul }}',
                        token: '{{ app.request.get('token') }}',
                        options: '{{ oContainer.getActiveSchema.getOptions|json_encode()|raw }}'  },
                    success: function(data) {
                        $("#articul_for_pnc{{ pnc.getCode }}").html(data);
                    }
                });
                $.scrollTo("#pnc_{{ pnc.getCode }}", {duration:1500});

                $("#pnc_{{ pnc.getCode }}").toggleClass("glyphicon-minus");
                $("#pnc_{{ pnc.getCode }}").toggleClass("small btn-default");
                {% endblock pncClick %}
            });
        </script>

    {% endif %}
    {{ parent() }}
{% endblock pncScript %}
{% set a = [] %}
{% for pnc in oContainer.getActiveSchema.getPncs %}
    {% if pnc.isActive %}
        {% set a = a|merge([pnc.getCode]) %}
    {% endif %}
{% endfor %}
{% block activeLabel %}{{ a|join(',') }}{% endblock activeLabel %}