{% extends 'CatalogMitsubishiBundle:Default:sub_groups_list.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('catalog_mitsubishi_homepage') }}">Выбрать регион, модель, модификацию</a> >>
    <a href="{{ path('catalog_mitsubishi_classifications_list', {'catalog': catalog, 'catalogNum': catalogNum, 'model': model}) }}">Выбрать комплектацию</a> >>
    <a href="{{ path('catalog_mitsubishi_maingroups_list', {'catalog': catalog, 'catalogNum': catalogNum, 'model': model, 'classification': classification}) }}">Выбрать группу запчастей</a> >>
<a href="{{ path('catalog_mitsubishi_subgroups_list', {'catalog': catalog, 'catalogNum': catalogNum, 'model': model, 'classification': classification, 'mainGroup': mainGroup}) }}">Выбрать подгруппу запчастей</a> >>
    Выбрать схему
{% endblock breadcrumbs %}
{% block summary %}
    {{ parent() }}<br/>
    <b>Подгруппа запчастей</b>:
            {{ descSubGroup }} ({{ subGroup }})
{% endblock summary %}
{% block body %}
    <h3>Выбрать схему:</h3>
    <div class="row">
    {% for data in bgroups %}
        <div class="col-xs-4">
        <a href="{{ path('catalog_mitsubishi_pncs_list', {'catalog': catalog, 'model': model,
            'mainGroup': mainGroup,
            'subGroup': subGroup,
            'catalogNum': catalogNum,
            'classification': classification,
            'illustration': data.illustration,
            'pnc': pnc
        }) }}">
        <div>Схема: {{ loop.index }} из {{ bgroups|length }}</div>
        <img src="{{ asset('bundles/catalogmitsubishi/images/'~catalog~'/'~data.illustration~'.png') }}" width="300" />
        </a>
        </div>
    {% endfor %}
    </div>
{% endblock body %}