{% extends '::base.html.twig' %}
{% block breadcrumbs %}
    Выбрать регион, модель, модификацию
{% endblock breadcrumbs %}
{% block vin %}
    <div class="alert alert-dismissable">
        <div class="row">
            <div class="col-xs-6">
                <h3>Поиск по VIN</h3>
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="vin" placeholder="Введите VIN"/>
                        </div>
                        <input type="button" class="btn btn-info" value="Искать" id="vin-button"/>
                    </div>
                </div>
                <div id="vin-result"></div>
            </div>
            <div class="col-xs-6">
                <h3>Поиск по FRAME</h3>
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-4">
                            <input type="text" class="form-control" id="frame-1"/>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" id="frame-2"/>
                        </div>
                        <input type="button" class="btn btn-info" value="Искать" id="frame-button"/>
                    </div>
                </div>
                <div id="frame-result"></div>
            </div>
        </div>
    <script>
        $("#vin-button").on('click', function(){
            if($("#vin").val().length !== 17){
                alert("VIN должен состоять из 17 знаков!");
                return;
            }
            $("#vin-result").html('<img src={{ asset("bundles/catalogmitsubishi/images/loading.gif") }} height="150px" />');
            $.ajax({
                type:   'POST',
                async:  false,
                url:    "{{ path('catalog_mitsubishi_find_vin') }}",
                data:   { vin: $("#vin").val() },
                success: function(data) {
                    $("#vin-result").html(data);
                }
            });
        });
        $("#frame-button").on('click', function(){
            if($("#frame-1").val().length > 0 && $("#frame-2").val().length > 0){
                $("#frame-result").html('<img src={{ asset("bundles/catalogmitsubishi/images/loading.gif") }} height="150px" />');
                $.ajax({
                    type:   'POST',
                    async:  false,
                    url:    "{{ path('catalog_mitsubishi_find_frame') }}",
                    data:   { frame1: $("#frame-1").val(), frame2: $("#frame-2").val() },
                    success: function(data) {
                        $("#frame-result").html(data);
                    }
                });
            }
        });
    </script>

    </div>
{% endblock vin %}
{% block summary_set %}
{% endblock summary_set %}
{% block body %}
    <h3>Выбрать регион:</h3>
    <ul class="nav nav-pills" role="tablist">
        {% set radio_count = 0 %}
        {% for catalog in catalogsList %}
            {% if radio_count == 0 %}
                <li role="region" class="active" id="{{ catalog.catalog }}"><a href="#">{{ catalog.catalog }}</a></li>
            {% else %}
                <li role="region" id="{{ catalog.catalog }}"><a href="#">{{ catalog.catalog }}</a></li>
            {% endif %}
            {% set radio_count = radio_count + 1 %}
        {% endfor %}
    </ul>
    <script>
        $(document).ready(function(){

            $.ajax({
                type:   'POST',
                async:  false,
                url:    "{{ path('catalog_mitsubishi_vncs_list') }}",
                data:   { catalog: $("li.active[role=region]").attr('id') },
                success: function(data) {
                    $("#result").html(data);
                }
            });
        })
        $("li[role=region]").on('click', function(){
            $("li.active").toggleClass('active');
            $(this).toggleClass('active');
            $("#result").html('<img src={{ asset("bundles/catalogmitsubishi/images/loading.gif") }} height="150px" />');
            $.ajax({
                type:   'POST',
                async:  false,
                url:    "{{ path('catalog_mitsubishi_vncs_list') }}",
                data:   { catalog: $(this).attr('id') },
                success: function(data) {
                        $("#result").html(data);
                }
            });
        });
    </script>
    <h3>Модельный ряд:</h3>
    <div id="result"><img src="{{ asset('bundles/catalogmitsubishi/images/loading.gif') }}" height="150px" /></div>
{% endblock body %}