{% extends '::base.html.twig' %}

{% block breadcrumbs %}
    <a href="{{ path('catalog_mitsubishi_homepage') }}">Выбрать регион, модель, модификацию</a> >> Выбрать комплектацию
{% endblock breadcrumbs %}
    {% block summary %}
        <div class="col-xs-6">
            <h4>Информация:</h4>

            <b>Регион</b>: {{ catalog }}<br/>
            {% if app.request.cookies.get('descCatalogNum') is defined %}
            <b>Модель</b>: {{ app.request.cookies.get('descCatalogNum') }} ({{ catalogNum }})<br/>
            {% endif %}
            {% if app.request.cookies.get(catalog~catalogNum) != "" %}
            <b>Модификация</b>: {{ (app.request.cookies.get(catalog~catalogNum)|json_decode)[model] }} ({{ model }})
            {% endif %}
        </div>
    {% endblock summary %}
{% block body %}
    <h3>Выбрать комплектацию:</h3>
    {% for data in classificationsList %}
        {% if data.classification %}
        <a href="{{ path('catalog_mitsubishi_maingroups_list', {'catalog': catalog, 'catalogNum': catalogNum, 'model': model, 'classification': data.classification}) }}">{{ data.classification }} ({{ data.descEn }})</a><br/>
        {% endif %}
    {% endfor %}
{% endblock body %}