{% extends '::base.html.twig' %}
{% block body %}
Выбрать регион:
<form class="form-inline">
    <label class="radio">
        <input type="radio" name="optionsRadios" id="EU" value="option1" checked>
        EU
    </label>
    <label class="radio">
        <input type="radio" name="optionsRadios" id="JP" value="option2">
        JP
    </label>
    <label class="radio">
        <input type="radio" name="optionsRadios" id="US" value="option2">
        US
    </label>
    <label class="radio">
        <input type="radio" name="optionsRadios" id="GR" value="option2">
        GR
    </label>
</form>

{% for catalog, vncs in catalogsList %}
    {{ catalog }}<br/>
    {% for vnc, data in vncs %}
        {{ vnc }} ({{ data.repModel }})<br/>
        {% for model, desc in data.models %}
            <a href="{{ path('mitsubishi_catalog_vncs_list', { 'catalog': catalog }) }}">{{ model }} ({{ desc }})</a><br/>
        {% endfor %}
    {% endfor %}
{% endfor %}
{% endblock body %}
