{% extends 'CatalogCommonBundle:Catalog:07_schema.html.twig' %}
{% use 'CatalogSeatBundle::seat.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('vin_seat',parameters) }}">Поиск по номеру кузова ({{ oContainer.getActiveRegion.getRuname }},
   {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> /
    <a href="{{ path('vin_seat_groups', parameters) }}">Группа запчастей ({{ oContainer.getActiveGroup.getRuname}})</a> /
    <a href="{{ path('vin_seat_subgroups', parameters) }}">Подгруппа запчастей ({{ oContainer.getActiveGroup.getSubGroup(parameters.subGroupCode).getRuname }})</a> /
    <a href="{{ path('vin_seat_schemas', parameters) }}">Cхема</a> / Запчасти
{% endblock breadcrumbs %}


{% block complectation %}
{% endblock complectation %}

{% block pncScript %}
                                <script>
                                    $("#pnc_{{ pnc.getCode }}").on("click", function(){
                                    	
                                    	{% block pncClick %}
                                    	
                                    	$("#articul_for_pnc{{ pnc.getCode }}").toggleClass("hidden");
                                        $("#pnc_{{ pnc.getCode }}").toggleClass("glyphicon-plus");
                                        
                                        $("#articul_for_pnc{{ pnc.getCode }}").html('<img src={{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~"/bundles/catalogcommon/images/loading.gif") }} height="15px" />');
                                        $.ajax({
                                            type:   'POST',
                                            async:  false,
                                            url:    "{{ path('vin_seat_articuls') }}",
                                            data:   {
                                                regionCode: '{{ oContainer.getActiveRegion.getCode }}',
                                                modelCode: '{{ oContainer.getActiveModel.getCode }}',
                                                modificationCode: '{{ oContainer.getActiveModification.getCode }}',
                                                groupCode: '{{ parameters.groupCode }}',
                                                subGroupCode: '{{ parameters.subGroupCode }}',
                                                pncCode: '{{ pnc.getCode }}',
                                                options: '{{ oContainer.getActiveSchema.getOptions|json_encode()|raw }}',
                                                token: '{{ parameters.token }}'
                                            },
                                            success: function(data) {
                                                $("#articul_for_pnc{{ pnc.getCode }}").html(data);
                                            }
                                        });
                                        
                                        $.scrollTo("#pnc_{{ pnc.getCode }}", {duration:1500});
                                        
                                        
                                        $("#pnc_{{ pnc.getCode }}").toggleClass("glyphicon-minus");
                                        $("#pnc_{{ pnc.getCode }}").toggleClass("small btn-default");
                                        
                                        {% endblock pncClick %}
                                    });
                                    $("#pnc_{{ pnc.getCode }}").on("mouseover", function(){
                                        $(this).css("cursor", "pointer");
                                        $(this).addClass("btn-info");
                                    });
                                    $("#pnc_{{ pnc.getCode }}").on("mouseout", function(){
                                        $(this).removeClass("btn-info");
                                    });
   
                                </script>
{% endblock pncScript %}

{% block image %}

    <img src="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogaudi/Images/Bilder/'~oContainer.getActiveSchema.getOption('cd')~'/'~oContainer.getActiveSchema.getCode~'.png') }}" width="100%" usemap="#{{ oContainer.getActiveSchema.getCode }}" alt="{{ oContainer.getActiveSchema.getCode }}"/>
{% endblock image %}

{% block ajaxUrl %}{{ path('vin_seat_articuls') }}{% endblock ajaxUrl %}

{% block subGroupPath %}{{ path('vin_seat_group', parameters|merge({'subGroupCode': refGroup.getCode})) }}{% endblock subGroupPath %}