{% extends 'CatalogCommonBundle:Catalog:07_schema.html.twig' %}
{% use 'CatalogSuzukiBundle::suzuki.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('vin_suzuki') }}">Поиск по номеру кузова</a> /
    <a href="{{ path('vin_suzuki_groups', parameters) }}">Группа запчастей ({{ oContainer.getActiveGroup.getRuname}})</a> /
    <a href="{{ path('vin_suzuki_subgroups', parameters) }}">Подгруппа запчастей ({{ oContainer.getActiveGroup.getSubGroup(parameters.subGroupCode).getRuname }})</a> /
    <a href="{{ path('vin_suzuki_schemas', parameters) }}">Cхема</a> / Запчасти
{% endblock breadcrumbs %}



{% block image %}
 
    <img src="{{ asset('bundles/catalogsuzuki/images/'~oContainer.getActiveSchema.getCode~'.png') }}" width="900" usemap="#{{ oContainer.getActiveSchema.getCode }}" alt="{{ oContainer.getActiveSchema.getRuname }}"/>
{% endblock image %}

{% block ajaxUrl %}{{ path('vin_suzuki_articuls') }}{% endblock ajaxUrl %}

{% block ajaxData %}
    regionCode: '{{ oContainer.getActiveRegion.getCode }}',
    modelCode: '{{ oContainer.getActiveModel.getCode }}',
    modificationCode: '{{ oContainer.getActiveModification.getCode }}',
    complectationCode: '{{ oContainer.getActiveComplectation.getCode }}',
    groupCode: '{{ oContainer.getActiveGroup.getCode }}',
    subGroupCode: '{{ parameters.subGroupCode }}',
    pncCode: '{{ pnc.getCode }}',
    articul: '{{ parameters.articul }}',
    token: '{{ parameters.token }}',
    options: '{{ oContainer.getActiveSchema.getOptions|json_encode()|raw }}'
{% endblock ajaxData %}

{% block subGroupPath %}{{ path('vin_suzuki_group', parameters|merge({'subGroupCode': refGroup.getCode})) }}{% endblock subGroupPath %}