{% extends 'CatalogCommonBundle:Catalog:06_schemas.html.twig' %}
{% use 'CatalogNissanBundle::nissan.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('catalog_nissan_token', parameters) }} {% else %} {{ path('catalog_nissan') }} {% endif %}">Регион, модель, модификация ({{ oContainer.getActiveRegion.getRuname }},
        {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> /
    <a href="{{ path('catalog_nissan_complectations', parameters) }}">Комплектация ({{ oContainer.getActiveComplectation.getRuname}})</a>/
    <a href="{{ path('catalog_nissan_groups', parameters) }}">Группа запчастей ({{ oContainer.getActiveGroup.getRuname}})</a>/
    <a href="{{ path('catalog_nissan_subgroups', parameters) }}">Подгруппа запчастей ({{ oContainer.getActiveGroup.getSubGroup(parameters.subGroupCode).getRuname }})</a> / Выбрать схему
{% endblock breadcrumbs %}

{% block subGroupRuname %}{{ oContainer.getActiveGroup.getSubGroup(parameters['subGroupCode']).getRuname }}{% endblock subGroupRuname %}


{% set a = 'SECIMG' %}
{% if oContainer.getActiveRegion.getCode != "JP"  %}
    {% set a = 'SECIMG' %}
{% endif %}

{% block schema %}
    {% if schema.getCode is not empty %}
        <div style=" height: 300px; " class="col-sm-4 col-sm-offset-5 col-md-4 col-md-offset-0">
        <a href="{{ path('catalog_nissan_schema', parameters|merge({'schemaCode': schema.getCode})) }}" class="thumbnail">


                    <div class="row">
                        {{ schema.getOption('FROMDATE')|nissan_date_convertor }} - {{ schema.getOption('UPTODATE')|nissan_date_convertor }}
                    </div>

                    <div class="row">
                        {{ schema.getRuname }}
                    </div>



                    <div class="row">
                        <img src="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalognissan/Img/'~oContainer.getActiveRegion.getCode~'/'~oContainer.getActiveComplectation.getCode|slice(0,3)~'/'~a~'/'~schema.getCode|slice(0,6)~'.gif') }}"
                             style="width: auto;"
                             class="img-responsive"
                             alt="{{ schema.getRuname }}"/>
                    </div>


        </a>
            </div>
    {% endif %}
{% endblock schema %}