{% extends 'CatalogCommonBundle:Catalog:02_modifications.html.twig' %}
{% use 'CatalogMazdaBundle::mazda.base.html.twig' %}
{% block modification %}
    <a href="{{ path('catalog_mazda_groups', parameters|merge({'modificationCode': modification.getCode, 'token': app.request.get('token')})) }}">
        {{ modification.getOption(constant('Catalog\\MazdaBundle\\Components\\MazdaConstants::PROD_YEAR')) }}
        {{ modification.getOption(constant('Catalog\\MazdaBundle\\Components\\MazdaConstants::PROD_DATE')) }}
        {{ modification.getOption(constant('Catalog\\MazdaBundle\\Components\\MazdaConstants::CARLINE')) }}
        {{ modification.getRuname }}
    </a>
{% endblock modification %}
