{% extends 'CatalogCommonBundle:Catalog:05_subgroups.html.twig' %}
{% use 'CatalogMazdaBundle::mazda.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('catalog_mazda_token', parameters) }} {% else %} {{ path('catalog_mazda') }} {% endif %}">Выбрать регион, модель, модификацию</a> / <a href="{{ path('catalog_mazda_groups', parameters) }}">Выбрать группу запчастей</a> / Выбрать подгруппу запчастей
{% endblock breadcrumbs %}

{% block complectation %}{% endblock complectation %}

{% block imagePath %}
    {{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogmazda/images/'~oContainer.getActiveRegion.getCode~'/'~oContainer.getActiveSchema.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::CD'))~'/image/'~oContainer.getActiveSchema.getCode|slice(0,3)~'/'~oContainer.getActiveSchema.getCode~'.png') }}
{% endblock imagePath %}

{% block pathToSchemas %}
    {{ path('catalog_mazda_schemas', parameters|merge({'subGroupCode': subgroup.getCode})) }}
{% endblock pathToSchemas %}