{% extends 'CatalogCommonBundle:Catalog:06_schemas.html.twig' %}
{% use 'CatalogMercedesBundle::mercedes.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('vin_mercedes',parameters) }}">Выбрать регион, модель, модификацию</a> / <a href="{{ path('vin_mercedes_groups', parameters) }}">Выбрать группу запчастей</a> / <a href="{{ path('vin_mercedes_subgroups', parameters) }}">Выбрать подгруппу запчастей</a> / Выбрать схему
{% endblock breadcrumbs %}

{% block schema %}
    {% if schema.getCode is not empty %}
            <div class="col-xs-3">
        <a href="{{ path('vin_mercedes_schema', parameters|merge({'schemaCode': schema.getCode})) }}">

                    <div class="row">
                        {{ schema.getRuname }}
                    </div>
                    <div class="row">
                        <img src="{{ asset('bundles/catalogmercedes/images/BM_IMAGES/'~schema.getCode~'.png')|file_exists() ? asset('bundles/catalogmercedes/images/BM_IMAGES/'~schema.getCode~'.png') : asset('bundles/catalogmercedes/images/BM_IMAGES_ARC/'~schema.getCode~'.png') }}" width="300" alt="{{ schema.getRuname }}"/>
                    </div>

        </a>
            </div>
    {% endif %}
{% endblock schema %}