{% extends 'CatalogCommonBundle:Catalog:03_complectations.html.twig' %}
{% use 'CatalogFordBundle::ford.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('catalog_ford') }}" xmlns="http://www.w3.org/1999/html">Регион, модель, модификация ({{ oContainer.getActiveRegion.getRuname }},
   {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getCode }})</a> / Комплектация                    
{% endblock breadcrumbs %}

{% block body %}
    {% block head %}<h3>Выбрать комплектацию:</h3>{% endblock head %}
   
    {% block complectations %}
    <div class="row">
    
        <div class="complectations"><hr />


            <div class="col-lg-8">
                <div class="form-group">
                    <div class="row">

                    <form action="{{ path('catalog_ford_groups', parameters|merge({'complectationCode': oContainer.getActiveModification.getComplectations|first.getCode})) }}" name="form1">

            {% for complectation in oContainer.getActiveModification.getComplectations %}

            <div class="col-lg-6">

        
    <b>    {{ complectation.getCode }}: </b>

                {#         <form action="{{ path("post_delete") }}" method="post">
                    <input name="filter" class="form-control" value="{{ post.id }}" type="text" style="display:none;"/>

                    <input type="submit" class="symfony-button-grey" value="Удалить запись"/>
                </form>
                #}

                <select class="form-control" name="filter['{{ complectation.getCode }}']">


                {%for opt in complectation.getOption('option1') %}
                <option> {{ opt }} </option>
                {% endfor %}
                </select>



                </div>

            {% endfor %}
                    </div> </br>

                        <div class="row">
                <input type="submit" class="btn btn-default" value="Далее"/>
                        </div>

                    </form>


                </div>
            </div>

        </div>
    </div>
    {% endblock complectations %}

  
{% endblock body %}
