{% trans_default_domain 'common' %}
{% extends 'CatalogCommonBundle:Catalog:03_complectations.html.twig' %}
{% use 'CatalogFordBundle::ford.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('catalog_toyota_token', parameters) }} {% else %} {{ path('catalog_toyota') }} {% endif %}">{{'Регион, модель, модификация'|trans}} ({{ oContainer.getActiveRegion.getRuname }},
        {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> / {{'Комплектация'|trans}}
{% endblock breadcrumbs %}

{% block body %}
    {% block head %}<h3>{{'Выбрать комплектацию'|trans}}:</h3>{% endblock head %}
   
    {% block complectations %}
    <div class="row">
    
        <div class="complectations"><hr />

            <div class="form-group control-group">
                <form action="{{ path('catalog_ford_groups', parameters|merge({'complectationCode': '1'})) }}">
                    <div class="col-sm-4">   {{ form_widget(form) }}
                    <br>
                    <input type="submit" class="btn btn-primary" value="{{ 'Далее'|trans({}, 'ford') }}" />
                    </div>
                </form>
            </div>


        </div>
    </div>
    {% endblock complectations %}

  
{% endblock body %}
