{% trans_default_domain 'common' %}
<table class="table small">
    {% if oContainer.getActivePnc.getArticuls %}
    <thead>
        <tr>
            <th>{{ 'Артикул'|trans }}</th>
            <th>{{ 'Наименование'|trans }}</th>
            <th>{{ 'Кол-во'|trans }}</th>
            <th>{{ 'Период'|trans }}</th>

        </tr>
    </thead>

    <tbody>
    {% for articul in oContainer.getActivePnc.getArticuls %}
        <tr>
            <td><a href="{{ parameters.redirectAdress|replace({ '{article}': articul.getCode }) }}" target="_blank">{% block articulItem %}{{ articul.getCode }}{% endblock articulItem %}</a></td>
            <td>{{ articul.getRuname }}</td>
            <td>{{ articul.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::QUANTITY')) }}</td>
            <td>{{ articul.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::START_DATE'))}} - {{ articul.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::END_DATE'))}}</td>

            
        </tr>
    {% endfor %}
    </tbody>
    {% endif %}
    {% if not oContainer.getActivePnc.getArticuls %}
        <tbody>
        {{ 'Запчасть не применяется в выбранной комплектации'|trans }}
    </tbody>
    {% endif %}

</table>