{% extends 'CatalogCommonBundle:Catalog:05_subgroups.html.twig' %}
{% use 'CatalogSubaruBundle::subaru.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('articul_subaru_find') }}">Регион, модель, модификация ({{ oContainer.getActiveRegion.getRuname }},
        {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> /
    <a href="{{ path('articul_subaru_groups', parameters) }}">Группа запчастей ({{ oContainer.getActiveGroup.getRuname}})</a> /
    Подгруппа запчастей
{% endblock breadcrumbs %}



{% block subgroupImage %}
        <div class="col-lg-8">
            <img src="{{ asset('bundles/catalogsubaru/Subaru_Images/'~oContainer.getActiveSchema.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::CD'))~'/'~oContainer.getActiveSchema.getOption('sub_dir')~'/'~oContainer.getActiveSchema.getOption('sub_wheel')~'/model'~oContainer.getActiveSchema.getOption('num_model')~'/part1/'~oContainer.getActiveSchema.getOption('num_image')~'.png') }}" alt="{{ oContainer.getActiveGroup.getRuname }}" width="900" usemap="#{{ oContainer.getActiveGroup.getCode }}" />
        </div>
        {% endblock subgroupImage %}


{% block pathToSchemas %}
    {{ path('articul_subaru_schemas', parameters|merge({'subGroupCode': subgroup.getCode})) }}
{% endblock pathToSchemas %}