{% extends 'CatalogNissanBundle:Catalog:07_schema.html.twig' %}
{% use 'CatalogNissanBundle::nissan.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('articul_nissan_find_token', parameters) }} {% else %} {{ path('articul_nissan_find') }} {% endif %}">Регион, модель, модификация ({{ oContainer.getActiveRegion.getRuname }},
   {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> /
    <a href="{{ path('articul_nissan_complectations', parameters) }}">Комплектация ({{ oContainer.getActiveComplectation.getRuname}})</a>/
    <a href="{{ path('articul_nissan_groups', parameters) }}">Группа запчастей ({{ oContainer.getActiveGroup.getRuname}})</a>/
    <a href="{{ path('articul_nissan_subgroups', parameters) }}">Подгруппа запчастей ({{ oContainer.getActiveGroup.getSubGroup(parameters.subGroupCode).getRuname }})</a> /
    <a href="{{ path('articul_nissan_schemas', parameters) }}">Схема</a> / Запчасти
{% endblock breadcrumbs %}



{% block refGroupsHead %}<h4>Связанные изображения</h4>{% endblock refGroupsHead %}

{% block imageviewport %}
    {% block image %}
        <div class="row" style="overflow: auto; height:520px;">
            <img src="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalognissan/Img/'~oContainer.getActiveRegion.getCode~'/'~oContainer.getActiveComplectation.getCode|slice(0,3)~'/SECIMG/'~oContainer.getActiveSchema.getCode|slice(0,6)~'.gif') }}"
                 style="width: auto; display: inline-block; opacity: 0;  border: 0px none; position: absolute;"
                 class="img-responsive"
                 usemap="#{{ oContainer.getActiveSchema.getCode }}"
                 alt="{{ oContainer.getActiveSchema.getCode }}"/>
        </div>
    {% endblock image %}
<br>
<div class="row">
    <button type="button" class="btn btn-default" id="make-small">Small</button>
    <button type="button" class="btn btn-default" id="make-big">Big</button>
    <button type="button" class="btn btn-default" id="make-any">Заданный размер</button>
    <input id="new-size" class="form-control" style="width:80px; display: inline-block;" value="1000" type="text">
</div>
{% endblock imageviewport %}

{% block commonArticulPath %}{{ parameters.redirectAdress|replace({ '{article}': commonArticul.getCode }) }}{% endblock commonArticulPath %}
{% block subGroupPath %}{{ path('articul_nissan_group', parameters|merge({'subGroupCode': refGroup.getCode})) }}{% endblock subGroupPath %}
{% block pncScript %}
    {% if pnc.isActive %}
        <script>
            $(document).ready(function(){
                {% block pncClick %}
                $(addslashes("#articul_for_pnc{{ pnc.getCode }}")).toggleClass("hidden");
                $(addslashes("#pnc_{{ pnc.getCode }}")).toggleClass("glyphicon-plus");
                $(addslashes("#articul_for_pnc{{ pnc.getCode }}")).html('<img src={{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~"/bundles/catalogcommon/images/loading.gif") }} height="15px" />');
                $.ajax({
                    type:   'POST',
                    async:  false,
                    url:    "{% block ajaxUrl %}{{ path('articul_nissan_articuls') }}{% endblock ajaxUrl %}",
                    data:   { {% block ajaxData %}
                        regionCode: '{{ oContainer.getActiveRegion.getCode }}',
                        modelCode: '{{ oContainer.getActiveModel.getCode }}',
                        modificationCode: '{{ oContainer.getActiveModification.getRuname }}',
                        complectationCode: '{{ oContainer.getActiveComplectation.getCode}}',
                        groupCode: '{{ oContainer.getActiveGroup.getCode}}',
                        subgroupCode: '{{ oContainer.getActiveGroup.getSubGroup(parameters.subGroupCode).getCode }}',
                        pncCode: '{{ pnc.getCode }}',
                        articul: '{{ parameters.articul }}',
                        token: '{{ app.request.get('token') }}',
                        options: '{{ oContainer.getActiveSchema.getOptions|json_encode()|raw }}'
                        {% endblock ajaxData %} },
                    success: function(data) {
                        $(addslashes("#articul_for_pnc{{ pnc.getCode }}")).html(data);
                    }
                });
                $(addslashes("#pnc_{{ pnc.getCode }}")).toggleClass("glyphicon-minus");
                $(addslashes("#pnc_{{ pnc.getCode }}")).toggleClass("small btn-default");
                {% endblock pncClick %}
            });
        </script>

    {% endif %}
    {{ parent() }}
{% endblock pncScript %}
{% set a = [] %}
{% for pnc in oContainer.getActiveSchema.getPncs %}
    {% if pnc.isActive %}
        {% set a = a|merge([pnc.getCode]) %}
    {% endif %}
{% endfor %}
{% block activeLabel %}{{ a|join(',') }}{% endblock activeLabel %}

    {% block mapsterScript %}
        <script>
            $('img').mapster({
                stroke: true,
                strokeColor: '70daf1',
                strokeOpacity: 1,
                strokeWidth: 1,
                fill: true,
                fillColor: '70daf1',
                fillOpacity: 0.5,
                mapKey: 'data-name',
                render_highlight: {
                    fillOpacity: 0.5
                },
                render_select: {
                    fillOpacity: 0
                },

                onClick: function(e) {
                    e.e.preventDefault();
                    var target = $(this).attr('target');
                    if (target=='_blank') {
                        window.open($(this).attr('href'));
                    }
                    return false;
                },
                clickNavigate: true,
                scaleMap: true
            }).mapster('set', true, '{{ block('activeLabel') }}');

            $('#make-small').bind('click',function() {
                $('img').mapster('resize', 200, 0, 1000);
            });
            $('#make-big').bind('click',function() {
                $('img').mapster('resize', 720, 0, 1000);
            });
            $('#make-any').bind('click',function() {
                $('img').mapster('resize', $('#new-size').val(), 0, 1000);
            });
        </script>
    {% endblock mapsterScript %}
