{% trans_default_domain 'common' %}
{% extends 'CatalogHyundaiBundle:Catalog:07_schema.html.twig' %}
{% use 'CatalogHyundaiBundle::hyundai.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('articul_hyundai_find_token', parameters) }} {% else %} {{ path('articul_hyundai_find') }} {% endif %}">{{'Регион, модель, модификация'|trans}} ({{ oContainer.getActiveRegion.getRuname }},
   {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> /
    <a href="{{ path('articul_hyundai_complectations', parameters) }}">{{'Комплектация'|trans}} ({{ oContainer.getActiveComplectation.getCode}})</a> /
    <a href="{{ path('articul_hyundai_groups', parameters) }}">{{'Группа запчастей'|trans}} ({{ oContainer.getActiveGroup.getRuname }})</a>/
    <a href="{{ path('articul_hyundai_subgroups', parameters) }}">{{'Подгруппа запчастей'|trans}} ({{ oContainer.getActiveGroup.getSubGroup(parameters.subGroupCode).getRuname }})</a> /
    <a href="{{ path('articul_hyundai_schemas', parameters) }}">{{ 'Схема'|trans }}</a> / {{'Запчасти'|trans}}
{% endblock breadcrumbs %}

{% block refGroupsHead %}<h4>{{ 'Связанные изображения'|trans }}</h4>{% endblock refGroupsHead %}



{% block commonArticulPath %}{{ parameters.redirectAdress|replace({ '{article}': commonArticul.getCode }) }}{% endblock commonArticulPath %}
{% block subGroupPath %}{{ path('catalog_hyundai_group', parameters|merge({'subGroupCode': refGroup.getCode})) }}{% endblock subGroupPath %}
{% block pncScript %}
    {% if pnc.isActive %}
        <script>
            $(document).ready(function(){

                {% block pncClick %}
                $(("#articul_for_pnc{{ pnc.getCode }}")).toggleClass("hidden");
                $(("#pnc_{{ pnc.getCode }}")).toggleClass("glyphicon-plus");
                $(("#articul_for_pnc{{ pnc.getCode }}")).html('<img src={{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~"/bundles/catalogcommon/images/loading.gif") }} height="15px" />');
                $.ajax({
                    type:   'POST',
                    async:  false,
                    url:    "{% block ajaxUrl %}{{ path('articul_hyundai_articuls') }}{% endblock ajaxUrl %}",
                    data:   { {% block ajaxData %}
                        regionCode: '{{ oContainer.getActiveRegion.getCode }}',
                        modelCode: '{{ oContainer.getActiveModel.getCode }}',
                        modificationCode: '{{ oContainer.getActiveModification.getCode }}',
                        complectationCode: '{{ oContainer.getActiveComplectation.getCode}}',
                        groupCode: '{{ oContainer.getActiveGroup.getCode }}',
                        subGroupCode: '{{ oContainer.getActiveGroup.getSubGroup(parameters.subGroupCode).getCode }}',
                        pncCode: '{{ pnc.getCode }}',
                        articul: '{{ parameters.articul }}',
                        token: '{{ parameters.token }}',
                        options: '{{ oContainer.getActiveSchema.getOptions|json_encode()|raw }}'
                        {% endblock ajaxData %} },
                    success: function(data) {
                        $(("#articul_for_pnc{{ pnc.getCode }}")).html(data);
                    }
                });
                $(("#pnc_{{ pnc.getCode }}")).toggleClass("glyphicon-minus");
                $(("#pnc_{{ pnc.getCode }}")).toggleClass("small btn-default");
                $('.g_highlight[name="{{ pnc.getCode }}"]').toggleClass('g_highlight_lock');
                {% endblock pncClick %}
            });
        </script>

    {% endif %}
    {{ parent() }}
{% endblock pncScript %}