<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Mitsubishi{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/catalogmitsubishi/css/bootstrap.min.css') }}" media="all">
            <link rel="stylesheet" href="{{ asset('bundles/catalogmitsubishi/css/bootstrap-theme.min.css') }}" media="all">
            <link rel="stylesheet" href="{{ asset('bundles/catalogmitsubishi/css/mitsubishi.css') }}" media="all">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block javascripts %}
            <script src="{{ asset('bundles/catalogmitsubishi/js/jquery-2.1.1.min.js') }}"></script>
            <script src="{{ asset('bundles/catalogmitsubishi/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/catalogmitsubishi/js/jquery.imagemapster.min.js') }}"></script>
        {% endblock %}
        <div class="mitsu">
            <div class="container-fluid">
                <div class="breadcrumb">
                    {% block breadcrumbs %}
                    {% endblock breadcrumbs %}
                </div>
                {% block articul %}{% endblock articul %}
                {% block vin %}{% endblock vin %}
                {% block summary_set%}
                <div class="alert alert-info">
                    <div class="row">
                        {% block summary %}
                            <div class="col-lg-4">
                                <div>
                                    {% block region %}
                                        Регион: {% block regionRuname %}{% endblock regionRuname %}
                                    {% endblock region %}
                                </div>
                                <div>
                                    {% block model %}
                                        Модель: {% block modelRuname %}{% endblock modelRuname %}
                                    {% endblock model %}
                                </div>
                                <div>
                                    {% block modification %}
                                        Модификация: {% block modificationRuname %}{% endblock modificationRuname %}
                                    {% endblock modification %}
                                </div>
                                <div>
                                    {% block complectation %}
                                        Комплектация: {% block complectationRuname %}{% endblock complectationRuname %}
                                    {% endblock complectation %}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div>
                                    {% block group %}
                                        Группа запчастей: {% block groupRuname %}{% endblock groupRuname %}
                                    {% endblock group %}
                                </div>
                                <div>
                                    {% block subGroup %}
                                        Подгруппа запчастей: {% block subGroupRuname %}{% endblock subGroupRuname %}
                                    {% endblock subGroup %}
                                </div>
                            </div>
                        {% endblock summary%}
                    </div>
                </div>
                {% endblock summary_set%}

                {% block body %}{% endblock body%}
            </div>
        </div>
    </body>
</html>
