<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ trans('Каталог', app.request.get('_locale')) }} {% block brand %}{% endblock brand %}{% endblock title%}</title>
    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('bundles/catalogcommon/css/bootstrap.min.css') }}" media="all">
        <link rel="stylesheet" href="{{ asset('bundles/catalogcommon/css/bootstrap-theme.min.css') }}" media="all">
        <link rel="stylesheet" href="{{ asset('bundles/cataloghonda/css/jquery.zoomscroll-2.0.1.css') }}" media="all">
        <link rel="stylesheet" href="{{ asset('bundles/catalogcommon/css/guayaquil.css') }}" media="all">
        <link rel="stylesheet" href="{{ asset('bundles/catalogcommon/css/colorbox.css') }}" media="all">
        <link rel="stylesheet" href="{{ asset('bundles/catalogcommon/css/unit.css') }}" media="all">


    {% endblock %}

</head>
<body>
{% block javascripts %}

	
    <script src="{{ asset('bundles/cataloghonda/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cataloghonda/js/jquery.mousewheel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cataloghonda/js/jquery-ui-1.8.16.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/catalogcommon/js/jquery.zoomscroll-2.0.1.js') }}"></script>
    <script src="{{ asset('bundles/catalogcommon/js/jquery.imagemapster.min.js') }}"></script>
    <script src="{{ asset('bundles/cataloghonda/js/jquery-scrolling.js') }}"></script>
    <script src="{{ asset('bundles/catalogcommon/js/bootstrap.min.js') }}"></script>

    <script src="{{ asset('bundles/cataloghonda/js/detailslist.js') }}"></script>
    <script src="{{ asset('bundles/cataloghonda/js/dragscrollable.js') }}"></script>
    <script src="{{ asset('bundles/cataloghonda/js/jquery.colorbox.js') }}"></script>
    <script src="{{ asset('bundles/cataloghonda/js/jquery.scrollTo-min.js') }}"></script>
    <script src="{{ asset('bundles/cataloghonda/js/unit.js') }}"></script>
    <script src="{{ asset('bundles/cataloghonda/js/jquery.tooltip.js') }}"></script>
    <script src="{{ asset('bundles/cataloghonda/js/mootools-core.js') }}"></script>
    <script src="{{ asset('bundles/cataloghonda/js/mootools-more.js') }}"></script>
    
{% endblock %}
{% block source %}{% endblock source %}
<div class="main" id="dynamic-content">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% block catalogPathLogo %}{% endblock catalogPathLogo %}">{{ trans('Каталог', app.request.get('_locale')) }} <span id="span1">{{ block('brand') }}</span></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="{{ 'catalog' in app.request.getPathInfo ? 'active'}}"><a href="{% block catalogPath %}{% endblock catalogPath %}">{% block catalogMenuItem %}{{ trans('Каталог', app.request.get('_locale')) }}{% endblock catalogMenuItem %}</a></li>
                    <li class="{{ 'vin' in app.request.getPathInfo ? 'active'}}"><a href="{% block vinPath %}{% endblock vinPath %}">{% block vinMenuItem %}{{ trans('Поиск по VIN', app.request.get('_locale')) }}{% endblock vinMenuItem %}</a></li>
                    <li class="{{ 'articul' in app.request.getPathInfo ? 'active'}}"><a href="{% block articulPath %}{% endblock articulPath %}">{% block articulMenuItem %}{{ trans('Поиск запчасти по артикулу', app.request.get('_locale')) }}{% endblock articulMenuItem %}</a></li>
                </ul>

                {% set langes = ['en', 'ru'] %}

                {#<input type="button" name = "button_res" id = "id_ru" class="btn btn-primary btn-xs" value = "ru"
                       style = "float:right;">#}

                {% for  lang in langes %}
                <a type="button" name = "button_res" id = "id_{{ lang }}" class="btn btn-default btn-xs"

                   href="{% if parameters is defined %}{{ path(app.request.get('_route'), parameters|merge({'_locale': lang})) }}{% else %} {{ path(app.request.get('_route'), {'_locale': lang}) }} {% endif %}"

                   style = "float:right;">{{ lang }}</a>

                    <script>

                        $('#id_{{ lang }}').each(function(){
                            {
                                var tr = '{{ app.request.get('_locale') }}';
                                if (tr == '') { tr = 'ru' };
                                ($(this).text() == tr) ? $(this).addClass('btn-primary'): $(this).removeClass('btn-primary');


                            }
                        });

                        $("#id_{{ lang }}").on('click', function(){
                        $('a[name="button_res"]').removeClass('btn-primary');
                            $(this).addClass('btn-primary');
                    });
                    </script>

                {% endfor %}

            </div><!-- /.navbar-collapse -->

        </div><!-- /.container-fluid -->
    </nav>


    <div class="container-fluid">
        {% block breadcrumbs_set %}
            <div class="breadcrumb">
                {% block breadcrumbs %}
                {% endblock breadcrumbs %}
            </div>
        {% endblock breadcrumbs_set %}
        {% block summary_set%}
            <div class="alert alert-info">
                <div class="row">
                    {% block summary %}
                        <div class="col-lg-4 col-xs-4 col-md-8 col-sm-8">
                            <div>
                                {% block region %}
                                    <b>{{ trans('Регион', app.request.get('_locale')) }}:</b> {% block regionRuname %}{% endblock regionRuname %}
                                {% endblock region %}
                            </div>
                            <div>
                                {% block model %}
                                    <b>{% block modelTitle %}{{ trans('Модель', app.request.get('_locale')) }}:{% endblock modelTitle %}</b> {% block modelRuname %}{% endblock modelRuname %}
                                {% endblock model %}
                            </div>
                            <div>
                                {% block modification %}
                                    <b>{% block modificationTitle %}{{ trans('Модификация', app.request.get('_locale')) }}:{% endblock modificationTitle %}</b> {% block modificationRuname %}{% endblock modificationRuname %}
                                {% endblock modification %}
                            </div>
                            <div>
                                {% block complectation %}
                                    <b>{{ trans('Комплектация', app.request.get('_locale')) }}:</b> {% block complectationRuname %}{% endblock complectationRuname %}
                                {% endblock complectation %}
                            </div>
                        </div>
                        <div class="col-lg-4 col-xs-4 col-md-8 col-sm-8">
                            <div>
                                {% block group %}
                                    <b>{{ trans('Группа запчастей', app.request.get('_locale')) }}:</b> {% block groupRuname %}{% endblock groupRuname %}
                                {% endblock group %}
                            </div>
                            <div>
                                {% block subGroup %}
                                    <b>{{ trans('Подгруппа запчастей', app.request.get('_locale')) }}:</b> {% block subGroupRuname %}{% endblock subGroupRuname %}
                                {% endblock subGroup %}
                            </div>
                        </div>
                        <div class=".col-md-1 .col-md-offset-2 .col-lg-1 .col-lg-offset-2 .col-xs-2 .col-sm-2" style = "position: relative; text-align: right; cursor: pointer">

                            <div class="jivo-btn jivo-offline-btn jivo-btn-dark jivo-btn-gradient" onclick="jivo_api.open();" style="font-family: Helvetica, Arial;font-size: 15px;background-color: #FFEB3B;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;height: 30px;line-height: 30px;padding: 0 15px 0 15px;display: none;font-weight: normal;font-style: normal">{{ trans('Сообщить об ошибке', app.request.get('_locale')) }}</div>

                        </div>


                    {% endblock summary%}
                </div>
            </div>
        {% endblock summary_set%}
        {% block body %}{% endblock body%}
    </div>
</div>



<script type='text/javascript'>
    (function(){ var widget_id = 'cmEqz9a23Q';var d=document;var w=window;function l(){
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>


<script type="text/javascript">

    $(document).ready(function(){
        {
            setInterval(publishHeight, 300);
        }
    });
</script>

<script>
      var host = '{{ app.request.get('callbackhost') }}';
      var ddomain = get_cookie('DOMAIN');

      if (!host){

          host = get_cookie('COOKIEHOST'.concat($("#span1").text().trim().toLowerCase(), ddomain));
      }


 function publishHeight() {

  var actualHeight = $('#dynamic-content').height();
  var currentHeight = $(window).height();

  if (host == '') {
      var pairs = window.location.href.split('?');
      if (pairs[1]) {
          pairs = pairs[1].split('&');
          if ((pairs != null) && (pairs.length > 0)) {
              for(var i = 0; i < pairs.length; i++) {
                  var pair = pairs[i].split('=');
                  if ((pair != null) && (pair.length > 0)) {
                      if (pair[0] == 'host') {
                          host = unescape(pair[1]);
                          host = host.split('#');
                          host = host[0];
                      }
                  }
              }
          }
      }
  }

  if (Math.abs(actualHeight - currentHeight) > 5) {
      if (host){
          var hostUrl = host;
          hostUrl += '#height=' + actualHeight.toString();
          window.top.location = hostUrl;
      }
  }
}
function get_cookie (cookie_name)

{
  var results = document.cookie.match ( '(^|;) ?' + cookie_name + '=([^;]*)(;|$)' );

  if ( results )
      return ( unescape ( results[2] ) );
  else
      return null;

}

function set_cookie ( name, value, exp_y, exp_m, exp_d, path, domain, secure )
{
  var cookie_string = name + "=" + escape ( value );

  if ( exp_y )
  {
      var expires = new Date ( exp_y, exp_m, exp_d );
      cookie_string += "; expires=" + expires.toGMTString();
  }

  if ( path )
      cookie_string += "; path=" + escape ( path );

  if ( domain )
      cookie_string += "; domain=" + escape ( domain );

  if ( secure )
      cookie_string += "; secure";

  document.cookie = cookie_string;
}

</script>




</body>
</html>
