<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Каталог {% block brand %}{% endblock brand %}{% endblock title%}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/catalogcommon/css/bootstrap.min.css') }}" media="all">
        <link rel="stylesheet" href="{{ asset('bundles/catalogcommon/css/bootstrap-theme.min.css') }}" media="all">
    {% endblock %}
{#    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
</head>
<body>
{% block javascripts %}
	
    <script src="{{ asset('bundles/catalogcommon/js/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ asset('bundles/catalogcommon/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/catalogcommon/js/jquery.imagemapster.min.js') }}"></script>
    <script src="{{ asset('bundles/cataloghonda/js/jquery-scrolling.js') }}"></script>

{% endblock %}
{% block source %}{% endblock source %}
<div class="main" id="dynamic-content">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% block catalogPathLogo %}{% endblock catalogPathLogo %}">Каталог {{ block('brand') }}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="{{ 'catalog' in app.request.getPathInfo ? 'active'}}"><a href="{% block catalogPath %}{% endblock catalogPath %}">{% block catalogMenuItem %}Каталог{% endblock catalogMenuItem %}</a></li>
                    <li class="{{ 'vin' in app.request.getPathInfo ? 'active'}}"><a href="{% block vinPath %}{% endblock vinPath %}">{% block vinMenuItem %}Поиск по VIN{% endblock vinMenuItem %}</a></li>
                    <li class="{{ 'articul' in app.request.getPathInfo ? 'active'}}"><a href="{% block articulPath %}{% endblock articulPath %}">{% block articulMenuItem %}Поиск запчасти по артикулу{% endblock articulMenuItem %}</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
        {% block breadcrumbs_set %}
            <div class="breadcrumb">
                {% block breadcrumbs %}
                {% endblock breadcrumbs %}
            </div>
        {% endblock breadcrumbs_set %}
        {% block summary_set%}
            <div class="alert alert-info">
                <div class="row">
                    {% block summary %}
                        <div class="col-lg-4">
                            <div>
                                {% block region %}
                                    <b>Регион:</b> {% block regionRuname %}{% endblock regionRuname %}
                                {% endblock region %}
                            </div>
                            <div>
                                {% block model %}
                                    <b>{% block modelTitle %}Модель:{% endblock modelTitle %}</b> {% block modelRuname %}{% endblock modelRuname %}
                                {% endblock model %}
                            </div>
                            <div>
                                {% block modification %}
                                    <b>{% block modificationTitle %}Модификация:{% endblock modificationTitle %}</b> {% block modificationRuname %}{% endblock modificationRuname %}
                                {% endblock modification %}
                            </div>
                            <div>
                                {% block complectation %}
                                    <b>Комплектация:</b> {% block complectationRuname %}{% endblock complectationRuname %}
                                {% endblock complectation %}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div>
                                {% block group %}
                                    <b>Группа запчастей:</b> {% block groupRuname %}{% endblock groupRuname %}
                                {% endblock group %}
                            </div>
                            <div>
                                {% block subGroup %}
                                    <b>Подгруппа запчастей:</b> {% block subGroupRuname %}{% endblock subGroupRuname %}
                                {% endblock subGroup %}
                            </div>
                        </div>
                    {% endblock summary%}
                </div>
            </div>
        {% endblock summary_set%}
        {% block body %}{% endblock body%}
    </div>
</div>





<script type="text/javascript">
    $(document).ready(function(){
        setInterval(publishHeight, 300);
    });
</script>

<script type="text/javascript">



    if (!get_cookie('cookiehost'))
    {
        host = '{{ app.request.get('callbackhost') }}';
        document.cookie = "cookiehost = host";
    }
    else
    {
        var host = get_cookie('cookiehost');
    }

    {#var host = '{{ app.request.cookies.get('callbackhost') }}';#}


    function publishHeight() {

        var actualHeight = $('#dynamic-content').height();
        var currentHeight = $(window).height();

        if (host == '') {
            var pairs = window.location.href.split('?');
            if (pairs[1]) {
                pairs = pairs[1].split('&');
                if ((pairs != null) && (pairs.length > 0)) {
                    for(var i = 0; i < pairs.length; i++) {
                        var pair = pairs[i].split('=');
                        if ((pair != null) && (pair.length > 0)) {
                            if (pair[0] == 'host') {
                                host = unescape(pair[1]);
                                host = host.split('#');
                                host = host[0];
                            }
                        }
                    }
                }
            }
        }

        if (Math.abs(actualHeight - currentHeight) > 15) {
            if (host){
                var hostUrl = host;
                hostUrl += '#height=' + actualHeight.toString();
                window.top.location = hostUrl;
            }
        }
    }
    function get_cookie (cookie_name)
    {
        var results = document.cookie.match ( '(^|;) ?' + cookie_name + '=([^;]*)(;|$)' );alert(results);

        if ( results )
            return ( unescape ( results[2] ) );
        else
            return null;
    }
</script>


</body>
</html>
