{% extends 'CatalogCommonBundle:Catalog:05_subgroups.html.twig' %}
{% use 'CatalogGmcBundle::gmc.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('vin_gmc',parameters) }}">Поиск по номеру кузова ({{ oContainer.getActiveRegion.getRuname }},
   {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }}, {{ oContainer.getActiveComplectation.getRuname }})</a> /
    <a href="{{ path('vin_gmc_groups', parameters) }}">Группа запчастей ({{ oContainer.getActiveGroup.getRuname}})</a> /
    Подгруппа запчастей
{% endblock breadcrumbs %}



{% block subgroupImage %}

{% endblock subgroupImage %}



{% block pathToSchemas %}
    {{ path('vin_gmc_schemas', parameters|merge({'subGroupCode': subgroup.getCode})) }}
{% endblock pathToSchemas %}