{% trans_default_domain 'common' %}
{% extends 'CatalogCommonBundle:Catalog:01_regions_models.html.twig' %}
{% use 'CatalogBmwBundle::bmw.base.html.twig' %}


{% block models %}
    <h3>{{ ('Модельный ряд' | trans) }}:</h3>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs pagination">
        <li class="active"><a href="#" data-toggle="tab" onclick="$('.listLine').each(function(){
            $(this).show().addClass('visible');
            }); $(this).addClass('active'); return false;"><b>{{ ('Все'|trans({}, 'bmw')) }}</b></a>
        </li>

        {% for transit in oContainer.getActiveRegion.getModels|first.getOption('firstSymbolsModels') %}
            <li><a href="#" data-toggle="tab" onclick="var tr = $(this).text(); $('.listLine').each(function(){
                     ($(this).attr('id') != tr) ? $(this).hide().removeClass('visible'):$(this).show().addClass('visible');
                    }); $(this).addClass('active'); return false;"><b>{{ transit }}</b></a>
            </li>
        {% endfor %}
    </ul>
    <div class="row">
        <div id="result">

            {% for transl in oContainer.getActiveRegion.getModels|first.getOption('firstSymbolsModels') %}
                <div class="listLine" id="{{ transl }}">
                    <div class="wordBold">{{ transl }}</div>
                    <div class="clear"></div>
                    <div class="brandsList">
                        <ul>

                            {% for model in oContainer.getActiveRegion.getModels %}

                                {% if  model.getRuname|slice(0,1) == transl or model.getRuname|slice(0,2) == transl %}
                                    {% block halfList %}
                                        {% set modelCode = model.getCode|md5 %}
                                        <li class="liSearch liModels" style="width: 30% !important;">
                                            <img src="{{ asset('bundles/catalogbmw/grafik/w_grafik/'~model.getOption('grafik')) }}" id="{{ modelCode }}{{ modelCode }}" regionCode="{{ oContainer.getActiveRegion.getCode }}" alt="{{ model.getRuname }}" style="cursor: pointer">
                                            <div class="model glyphicon-plus" id="{{ modelCode }}" regionCode="{{ oContainer.getActiveRegion.getCode }}">
                                                {{ model.getRuname }}
                                            </div>
                                            <div id="modifications_for_model{{ modelCode }}" class="hidden"></div>
                                            <br/>
                                        </li>
                                    {% block modificationScript %}
                                        <script>
                                            $("#{{ modelCode }}").on("click", function(){
                                                {% block ModelClick %}
                                                $("#modifications_for_model{{ modelCode }}").toggleClass("hidden");
                                                $("#{{ modelCode }}").toggleClass("glyphicon-plus");
                                                $.ajax({
                                                    type:   'POST',
                                                    async:  false,
                                                    url:    "{% block ajaxUrl %}{{ path('catalog_bmw_modifications') }}{% endblock ajaxUrl %}",
                                                    data:   {
                                                        regionCode: $(this).attr('regionCode'),
                                                        modelCode: "{{ model.getCode }}",
                                                        token: "{{ app.request.get('token') }}",
                                                        articul: "{{ app.request.get('articul')|trim }}",
                                                        callbackhost: "{{ app.request.get('callbackhost') }}",
                                                        domain: "{{ app.request.get('domain') }}"
                                                    },
                                                    success: function(data) {
                                                        $("#modifications_for_model{{ modelCode }}").html(data);
                                                    }
                                                });
                                                $("#{{ modelCode }}").toggleClass("glyphicon-minus");
                                                {% endblock ModelClick %}
                                            });
                                            $("#{{ modelCode }}").on("mouseover", function(){
                                                $(this).css("cursor", "pointer");
                                                $(this).addClass("btn-info");
                                            });
                                            $("#{{ modelCode }}").on("mouseout", function(){
                                                $(this).removeClass("btn-info");
                                            });
                                        </script>
                                    {% endblock modificationScript %}
                                    {% block ImgScript %}
                                        <script>
                                            $("img#{{ modelCode }}{{ modelCode }}").on("click", function(){

                                                {{ block('ModelClick') }}
                                            });
                                            $("img#{{ modelCode }}{{ modelCode }}").on("mouseover", function(){
                                                $("#{{ modelCode }}").css("cursor", "pointer");
                                                $("#{{ modelCode }}").addClass("btn-info");
                                            });
                                            $("img#{{ modelCode }}{{ modelCode }}").on("mouseout", function(){
                                                $("#{{ modelCode }}").removeClass("btn-info");
                                            });
                                        </script>
                                    {% endblock ImgScript %}
                                    {% endblock halfList %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock models %}

{% block regionPath %}
    {% if app.request.get('token') %}
        {{ path('catalog_bmw_token', {'token': app.request.get('token'), 'regionCode': region.getCode, 'callbackhost': app.request.get('callbackhost'), 'domain':  app.request.get('domain')}) }}

        {% else %}

        {{ path('catalog_bmw', {'regionCode': region.getCode, 'callbackhost': app.request.get('callbackhost'), 'domain':  app.request.get('domain')}) }}

    {% endif %}


{% endblock regionPath %}
