{% extends 'CatalogCommonBundle:Catalog:01_regions_models.html.twig' %}
{% use 'CatalogBmwBundle::bmw.base.html.twig' %}


{% block models %}

    <h3>Модельный ряд:</h3>

    <input name="filter-query" class="form-control" value="" id="filter-query" onclick="this.value='';" type="text" style="display:none;"/>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs pagination">

        <li class="active"><a href="#" data-toggle="tab" onclick="$('#filter-query').val('');
        repeatact(); $(this).addClass('active'); return false;"><b>Все</b></a></li>

            {% for trans in oContainer.getActiveRegion.getModels|first.getOption('firstSymbolsModels') %}

        <li><a href="#{{ trans }}" data-toggle="tab" onclick="$('#filter-query').val('{{ trans }}');
                    repeatact(); $(this).addClass('active'); return false ;"><b>{{ trans }}</b></a></li>

            {% endfor %}

    </ul>

    <div class="row">

        <div id="result">

            <div class="tecdocCont">

                {% for trans in oContainer.getActiveRegion.getModels|first.getOption('firstSymbolsModels') %}
                <div class="listLine">
                    <div class="wordBold">{{ trans }}</div>
                    <div class="clear"></div>
                    <div class="brandsList">

                <ul>


            {% for model in oContainer.getActiveRegion.getModels %}

                {% if  model.getRuname|slice(0,1) == trans %}

                {#{% if loop.index <= (modelsListLenght/4|round + 1) %}#}
                    {% block halfList %}
                        {% set modelCode = model.getCode|md5 %}


           {# <div class="tab-pane fade in active">#}



                    <li class="liSearch liModels" style="width: 40% !important;">
                    <img src="{{ asset('bundles/catalogbmw/grafik/w_grafik/'~model.getOption('grafik')) }}" id="{{ modelCode }}{{ modelCode }}" regionCode="{{ oContainer.getActiveRegion.getCode }}" alt="{{ model.getRuname }}" style="cursor: pointer">

                <div class="model glyphicon-plus" id="{{ modelCode }}" regionCode="{{ oContainer.getActiveRegion.getCode }}">
                    {{ model.getRuname }}
                </div>



                <div id="modifications_for_model{{ modelCode }}" class="hidden"></div>

                    <br/>

                    </li>



             {# </div>#}


           {% block modificationScript %}
               <script>


                   $("#{{ modelCode }}").on("click", function(){
                       {% block ModelClick %}

                       $("#modifications_for_model{{ modelCode }}").toggleClass("hidden");
                       $("#{{ modelCode }}").toggleClass("glyphicon-plus");
                       $.ajax({
                           type:   'POST',
                           async:  false,
                           url:    "{% block ajaxUrl %}{{ path('catalog_bmw_modifications') }}{% endblock ajaxUrl %}",
                           data:   {
                               regionCode: $(this).attr('regionCode'),
                               modelCode: "{{ model.getCode }}",
                               token: "{{ app.request.get('token') }}",
                               articul: "{{ app.request.get('articul')|trim }}",
                               callbackhost: "{{ app.request.get('callbackhost') }}",
                               domain: "{{ app.request.get('domain') }}"

                           },
                           success: function(data) {
                               $("#modifications_for_model{{ modelCode }}").html(data);
                           }
                       });
                       $("#{{ modelCode }}").toggleClass("glyphicon-minus");
                       {% endblock ModelClick %}
                   });
                   $("#{{ modelCode }}").on("mouseover", function(){
                       $(this).css("cursor", "pointer");
                       $(this).addClass("btn-info");
                   });
                   $("#{{ modelCode }}").on("mouseout", function(){
                       $(this).removeClass("btn-info");
                   });
               </script>
           {% endblock modificationScript %}
           {% block ImgScript %}
               <script>
                   $("img#{{ modelCode }}{{ modelCode }}").on("click", function(){
                       {{ block('ModelClick') }}
                   });

                   $("img#{{ modelCode }}{{ modelCode }}").on("mouseover", function(){
                       $("#{{ modelCode }}").css("cursor", "pointer");
                       $("#{{ modelCode }}").addClass("btn-info");
                   });

                   $("img#{{ modelCode }}{{ modelCode }}").on("mouseout", function(){
                       $("#{{ modelCode }}").removeClass("btn-info");
                   });
               </script>


           {% endblock ImgScript %}
           {% endblock halfList %}
     {# {% endif %}#}
                {% endif %}
            {% endfor %}
                </ul>

                    </div>
                </div>

                {% endfor %}
        </div>
    </div>
 {#  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div id="result">
            {% for model in oContainer.getActiveRegion.getModels %}
                {% if (loop.index <= (2*modelsListLenght/4|round + 1) and loop.index > (modelsListLenght/4|round + 1) ) %}
                    {{ block('halfList') }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div id="result">
            {% for model in oContainer.getActiveRegion.getModels %}
                {% if (loop.index <= (3*modelsListLenght/4|round + 1) and loop.index > (2*modelsListLenght/4|round + 1) ) %}
                    {{ block('halfList') }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div id="result">
            {% for model in oContainer.getActiveRegion.getModels %}
                {% if (loop.index <= (4*modelsListLenght/4|round + 1) and loop.index > (3*modelsListLenght/4|round + 1) ) %}
                    {{ block('halfList') }}
                {% endif %}
            {% endfor %}
        </div>
    </div>#}
    </div>
    <script>

        $(document).ready(function() {

            $('#filter-query').keyup(function(event){

                if (event.keyCode == 27 || $(this).val() == '') {
                    $(this).val('');
                    $('.liSearch').removeClass('visible').show().addClass('visible');
                    $('.wordBold').removeClass('visible').show().addClass('visible');
                }
                else {
                    filter('.liSearch', $(this).val());
                    filter('.wordBold', $(this).val());
                }
            });

        });
        function filter(selector, query) {
            query = $.trim(query);

            $(selector).each(function() {
                (($(this).text().search(new RegExp(query, "i")) < 0) || (($(this).text().search(new RegExp(query, "i")) >= 0) && $(this).text().trim().indexOf(query) != 0)
                 || (($(this).text().search(new RegExp(query, "i")) >= 0) && $(this).text().trim().indexOf(query) == 0) && ($(this).text().trim().charAt(1) != "'") && query.length == 1)
                        ? $(this).hide().removeClass('visible'): $(this).show().addClass('visible');
            });
        }
        function repeatact(){
            filter('.liSearch', $('#filter-query').val());
            }

    </script>


{% endblock models %}

{% block regionPath %}
    {% if app.request.get('token') %}
        {{ path('catalog_bmw_token', {'token': app.request.get('token'), 'regionCode': region.getCode, 'callbackhost': app.request.get('callbackhost'), 'domain':  app.request.get('domain'), 'domain':  app.request.get('domain')}) }}

        {% else %}

        {{ path('catalog_bmw', {'regionCode': region.getCode, 'callbackhost': app.request.get('callbackhost'), 'domain':  app.request.get('domain'), 'domain':  app.request.get('domain')}) }}

    {% endif %}


{% endblock regionPath %}
