{% trans_default_domain 'common' %}
{% extends 'CatalogCommonBundle:Catalog:07_schema.html.twig' %}
{% use 'CatalogBmwBundle::bmw.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('catalog_bmw_token', parameters) }} {% else %} {{ path('catalog_bmw') }} {% endif %}">{{ 'Регион, модель, модификация'|trans }} ({{ oContainer.getActiveRegion.getRuname }},
   {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> /
    <a href="{{ path('catalog_bmw_complectations', parameters) }}">{{ 'Комплектация'|trans }} ({{ oContainer.getActiveComplectation.getRuname}})</a> /
    <a href="{{ path('catalog_bmw_groups', parameters) }}">{{ 'Группа запчастей'|trans }} ({{ oContainer.getActiveGroup.getRuname}})</a>/
    <a href="{{ path('catalog_bmw_schemas', parameters) }}">{{ 'Схема'|trans }}</a> / {{ 'Запчасти'|trans }}
{% endblock breadcrumbs %}

{% block refGroupsHead %}<h4>{{ 'Связанные изображения'|trans }}</h4>{% endblock refGroupsHead %}

							{% block pncScript %}
                                <script>
                                    $("#pnc_{{ pnc.getCode }}").on("click", function(){
                                    	
                                    	{% block pncClick %}
                                    	
                                    	$("#articul_for_pnc{{ pnc.getCode }}").toggleClass("hidden");
                                        $("#pnc_{{ pnc.getCode }}").toggleClass("glyphicon-plus");
                                        
                                        $("#articul_for_pnc{{ pnc.getCode }}").html('<img src={{ asset("bundles/catalogcommon/images/loading.gif") }} height="15px" />');
                                        $.ajax({
                                            type:   'POST',
                                            async:  false,
                                            url:    "{{ path('catalog_bmw_articuls') }}",
                                            data:   {
                                                regionCode: '{{ oContainer.getActiveRegion.getCode }}',
                                                modelCode: '{{ oContainer.getActiveModel.getCode }}',
                                                modificationCode: '{{ oContainer.getActiveModification.getCode }}',
                                                complectationCode: '{{ oContainer.getActiveComplectation.getCode }}',
                                                groupCode: '{{ parameters.groupCode }}',
                                                subGroupCode: '{{ parameters.subGroupCode }}',
                                                pncCode: '{{ pnc.getCode }}',
                                                articul: '{{ parameters.articul }}',
                                                options: '{{ oContainer.getActiveSchema.getOptions|json_encode()|raw }}',
                                                token: '{{ parameters.token }}'
                                            },
                                            success: function(data) {
                                                $("#articul_for_pnc{{ pnc.getCode }}").html(data);
                                            }
                                        });
                                        
                                        $.scrollTo("#pnc_{{ pnc.getCode }}", {duration:1500});
                                        
                                        
                                        $("#pnc_{{ pnc.getCode }}").toggleClass("glyphicon-minus");
                                        $("#pnc_{{ pnc.getCode }}").toggleClass("small btn-default");
                                        
                                        {% endblock pncClick %}
                                    });
                                    $("#pnc_{{ pnc.getCode }}").on("mouseover", function(){
                                        $(this).css("cursor", "pointer");
                                        $(this).addClass("btn-info");
                                    });
                                    $("#pnc_{{ pnc.getCode }}").on("mouseout", function(){
                                        $(this).removeClass("btn-info");
                                    });
   
                                </script>
                            {% endblock pncScript %}
                            
{% block image %}
    <img src="{{ asset('bundles/catalogbmw/grafik/w_grafik/'~oContainer.getActiveSchema.getCode) }}" width="100%" usemap="#{{ oContainer.getActiveSchema.getCode }}" alt="{{ oContainer.getActiveSchema.getCode }}"/>

{% endblock image %}


{% block commonArticulPath %}{{ parameters.redirectAdress|replace({ '{article}': commonArticul.getCode }) }}{% endblock commonArticulPath %}


{% block subGroupPath %}{{ path('catalog_bmw_group', parameters|merge({'subGroupCode': refGroup.getCode})) }}{% endblock subGroupPath %}



{% block summary %}
    <div class="col-lg-4">
        <div>
            {% block region %}
                <b>{{ 'Регион'|trans }}:</b> {% block regionRuname %}{{ oContainer.getActiveRegion.getRuname }}{% endblock regionRuname %}
            {% endblock region %}
        </div>
        <div>
            {% block model %}
                <b>{% block modelTitle %}{{ 'Модель'|trans }}:{% endblock modelTitle %}</b> {% block modelRuname %}{{ oContainer.getActiveModel.getRuname }}{% endblock modelRuname %}
            {% endblock model %}
        </div>
        <div>
            {% block modification %}
                <b>{% block modificationTitle %}{{ 'Модификация'|trans }}:{% endblock modificationTitle %}</b> {% block modificationRuname %}{{ oContainer.getActiveModification.getRuname }}{% endblock modificationRuname %}
            {% endblock modification %}
        </div>
        <div>
            {% block complectation %}
                <b>{{ 'Комплектация'|trans }}:</b> {% block complectationRuname %}{{ oContainer.getActiveComplectation.getRuname }}{% endblock complectationRuname %}
            {% endblock complectation %}
        </div>
    </div>
    <div class="col-lg-4">
        <div>
            {% block group %}
                <b>{{ 'Группа запчастей'|trans }}:</b> {% block groupRuname %}{{ oContainer.getActiveGroup.getRuname }}{% endblock groupRuname %}
            {% endblock group %}
        </div>
        <div>
            {% block schemaSummary%}
                <b>{{ 'Схема'|trans }}:</b> {% block schemaRuname %}{{ oContainer.getActiveSchema.getRuname }}{% endblock schemaRuname %}
            {% endblock schemaSummary %}
        </div>
    </div>
{% endblock summary%}