{% trans_default_domain 'common' %}
{% extends 'CatalogCommonBundle:Catalog:03_complectations.html.twig' %}
{% use 'CatalogKiaBundle::kia.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('catalog_kia_token', {'token': app.request.get('token'), 'callbackhost':  app.request.cookies.get('COOKIEHOSTkia'~app.request.cookies.get('DOMAIN')|replace({'.': ''})), 'domain':  app.request.cookies.get('DOMAIN') }) }}
    {% else %} {{ path('catalog_kia', {'callbackhost':  app.request.cookies.get('COOKIEHOSTkia'~app.request.cookies.get('DOMAIN')|replace({'.': ''})), 'domain':  app.request.cookies.get('DOMAIN') }) }} {% endif %}">{{'Регион, модель, модификация'|trans}} ({{ oContainer.getActiveRegion.getRuname }},
        {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> / {{'Комплектация'|trans}}
{% endblock breadcrumbs %}



{% block body %}
    {% block head %}<h3>{{'Выбрать комплектацию'|trans}}:</h3>{% endblock head %}
    {% block complectations %}


        <div class="row">

            <div class="complectations">

                <div class="form-group control-group">
                    <form action="{{ path('catalog_kia_groups', parameters|merge({'complectationCode': '1'})) }}">
                        <div class="col-sm-4">

                            {{ form_widget(form) }}

                            <br>
                            <input type="submit" class="btn btn-primary" value="{{ 'Далее'|trans({}, 'kia') }}" />
                        </div>
                    </form>
                </div>


            </div>
        </div>



        <script>
            $(document).ready(function() {
                $('select.form-control').each(function(){
                    var selector = $(this).attr('id');
                    sel = document.getElementById(selector);
                    if (sel.options.length == 1)
                        sel.disabled = true;
                });
            });

            $('select.form-control').on('change', function(){
                filter('#'.concat($(this).attr('id')));
            });

            function filter(selector) {

                selectorDied = new Object();
                $('select.form-control').each(function(){
                    var selec = $(this).attr('id');
                    Selec = document.getElementById(selec);
                    if (Selec.disabled == true)
                    selectorDied[selec.substr(-2)] = Selec.value;

                });

                $(selector).each(function() {
                    if ($(selector).val() == '1') location.reload();
                    $.ajax({
                        type:   'POST',
                        async:  false,
                        url:    "{{ path('catalog_kia_complectation_korobka') }}",
                        data:   { select_name: selector.substr(-2) ,select_value: $(selector).val(), selectorD: selectorDied, modificationCode: '{{ oContainer.getActiveModification.getCode }}',
                            regionCode: '{{ oContainer.getActiveRegion.getCode }}',
                            modelCode: '{{ oContainer.getActiveModel.getCode }}'},
                        success: function(data){
                            objSel = new Object();
                            optSel = new Object();
                            selector1 = new Object();
                            $.each(JSON.parse(data), function(key, value) {
                                selector1[key] = selector.substr(0, selector.indexOf(selector.substr(-2))).concat(key);
                                objSel[key] = document.getElementById(selector1[key].substr(1,selector1[key].length));
                                optSel[key] = objSel[key].options[objSel[key].selectedIndex].value;
                                $(selector1[key]).empty();
                                $.each((value), function(key1, value1) {
                                    objSel[key].options[objSel[key].options.length] = new Option(value1, key1, true);
                                })
                            });
                            $.each(JSON.parse(data), function(key, value) {
                                if (objSel[key].options.length == 1)
                                    objSel[key].disabled = true;
                                for (var i = objSel[key].options.length-1; i >= 0; i--)
                                {
                                    if (objSel[key].options[i].value == optSel[key])
                                        objSel[key].options[i].selected = true;
                                }
                            });
                        }
                    });
                });
            }
        </script>

    {% endblock complectations %}
{% endblock body %}


