{% extends 'CatalogCommonBundle:Catalog:06_schemas.html.twig' %}
{% use 'CatalogKiaBundle::kia.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('catalog_kia_token', parameters) }} {% else %} {{ path('catalog_kia') }} {% endif %}">Регион, модель, модификация ({{ oContainer.getActiveRegion.getRuname }},
        {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> /
    <a href="{{ path('catalog_kia_complectations', parameters) }}">Комплектация ({{ oContainer.getActiveComplectation.getRuname}})</a> /
    <a href="{{ path('catalog_kia_groups', parameters) }}">Группа запчастей ({{ oContainer.getActiveGroup.getRuname}})</a>/
    <a href="{{ path('catalog_kia_subgroups', parameters) }}">Подгруппа запчастей ({{ oContainer.getActiveGroup.getSubGroup(parameters.subGroupCode).getRuname }})</a> / Выбрать схему
{% endblock breadcrumbs %}

{% block subGroupRuname %}{{ oContainer.getActiveGroup.getSubGroup(parameters['subGroupCode']).getRuname }}{% endblock subGroupRuname %}

{% block schema %}
    {% if schema.getCode is not empty %}
            <div class="col-xs-3">
        <a href="{{ path('catalog_kia_schema', parameters|merge({'schemaCode': schema.getCode})) }}">

                    <div class="row">
                        {{ schema.getCode }}
                    </div>

                    <div class="row">
                        <img src="{{ asset('bundles/catalogkia/Images/Images/'~schema.getRuname~'/'~schema.getCode~'.png') }}" width="300" alt="{{ schema.getRuname }}"/>
                    </div>


        </a>
            </div>
    {% endif %}
{% endblock schema %}