{% extends 'CatalogCommonBundle:Catalog:07_schema.html.twig' %}
{% use 'CatalogKiaBundle::kia.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('catalog_kia_token', parameters) }} {% else %} {{ path('catalog_kia') }} {% endif %}">Регион, модель, модификация ({{ oContainer.getActiveRegion.getRuname }},
   {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> /
    <a href="{{ path('catalog_kia_complectations', parameters) }}">Комплектация ({{ oContainer.getActiveComplectation.getRuname}})</a> /
    <a href="{{ path('catalog_kia_groups', parameters) }}">Группа запчастей ({{ oContainer.getActiveGroup.getRuname}})</a>/
    <a href="{{ path('catalog_kia_subgroups', parameters) }}">Подгруппа запчастей ({{ oContainer.getActiveGroup.getSubGroup(parameters.subGroupCode).getRuname }})</a> /
    <a href="{{ path('catalog_kia_schemas', parameters) }}">Схема</a> / Запчасти
{% endblock breadcrumbs %}

{% block refGroupsHead %}<h4>Связанные изображения</h4>{% endblock refGroupsHead %}

							{% block pncScript %}

                                <script>

                                    $("#pnc_{{ pnc.getCode }}").on("click", function(){
                                    	
                                    	{% block pncClick %}
                                    	
                                    	$("#articul_for_pnc{{ pnc.getCode }}").toggleClass("hidden");
                                        $("#pnc_{{ pnc.getCode }}").toggleClass("glyphicon-plus");
                                        
                                        $("#articul_for_pnc{{ pnc.getCode }}").html('<img src={{ asset("bundles/catalogcommon/images/loading.gif") }} height="15px" />');
                                        $.ajax({
                                            type:   'POST',
                                            async:  false,
                                            url:    "{{ path('catalog_kia_articuls') }}",
                                            data:   {
                                                regionCode: '{{ oContainer.getActiveRegion.getCode }}',
                                                modelCode: '{{ oContainer.getActiveModel.getCode }}',
                                                modificationCode: '{{ oContainer.getActiveModification.getCode }}',
                                                complectationCode: '{{ oContainer.getActiveComplectation.getCode }}',
                                                subGroupCode: '{{ parameters.subGroupCode }}',
                                                pncCode: '{{ pnc.getCode }}',
                                                articul: '{{ parameters.articul }}',
                                                token: '{{ parameters.token }}',
                                                options: '{{ oContainer.getActiveSchema.getOptions|json_encode()|raw }}'  },
                                            success: function(data) {
                                                $("#articul_for_pnc{{ pnc.getCode }}").html(data);
                                            }
                                        });
                                        
                                        $.scrollTo("#pnc_{{ pnc.getCode }}", {duration:1500});



                                        $("#pnc_{{ pnc.getCode }}").toggleClass("glyphicon-minus");
                                        $("#pnc_{{ pnc.getCode }}").toggleClass("small btn-default");
                                        
                                        {% endblock pncClick %}
                                    });
                                    $("#pnc_{{ pnc.getCode }}").on("mouseover", function(){
                                        $(this).css("cursor", "pointer");
                                        $(this).addClass("btn-info");
                                    });
                                    $("#pnc_{{ pnc.getCode }}").on("mouseout", function(){
                                        $(this).removeClass("btn-info");
                                    });
   
                                </script>
                            {% endblock pncScript %}
                            
{% block image %}

    {#<a class="picture" href="{{ ('bundles/catalogkia/Images/Images/'~oContainer.getActiveSchema.getRuname~'/'~oContainer.getActiveSchema.getCode~'.png')|file_exists() ?
    asset('bundles/catalogkia/Images/Images/'~oContainer.getActiveSchema.getRuname~'/'~oContainer.getActiveSchema.getCode~'.png') :
    asset('bundles/catalogkia/Images/Images/'~oContainer.getActiveSchema.getRuname~'/'~oContainer.getActiveSchema.getCode~'1.png') }}" title="Увеличить" >
        <img src="{{ ('bundles/catalogkia/Images/Images/'~oContainer.getActiveSchema.getRuname~'/'~oContainer.getActiveSchema.getCode~'.png')|file_exists() ?
        asset('bundles/catalogkia/Images/Images/'~oContainer.getActiveSchema.getRuname~'/'~oContainer.getActiveSchema.getCode~'.png') :
        asset('bundles/catalogkia/Images/Images/'~oContainer.getActiveSchema.getRuname~'/'~oContainer.getActiveSchema.getCode~'1.png') }}" width="160" height="107" alt="{{ oContainer.getActiveSchema.getRuname }}"/>
    </a>#}

    {% for pnc in oContainer.getActiveSchema.getPncs %}
        {% for coords in pnc.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::COORDS')) %}

            <div name="{{ pnc.getCode }}" class="dragger g_highlight" id="{{ pnc.getCode~coords[constant('Catalog\\CommonBundle\\Components\\Constants::X1')] }}" style="position: absolute;
                    width: calc({{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::X2')] }}px - {{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::X1')] }}px);
                    height: calc({{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::Y2')] }}px - {{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::Y1')] }}px);
                    margin-top: {{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::Y1')] }}px;
                    margin-left: {{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::X1')] }}px;
                    overflow: hidden;">

            </div>

            <script>
                $("#{{ pnc.getCode~coords[constant('Catalog\\CommonBundle\\Components\\Constants::X1')] }}").on("click", function(){
                    {{ block('pncClick') }}
                })
            </script>

        {% endfor %}
    {% endfor %}


    <img class="dragger" onload="rescaleImage(-100);" src="{{ ('bundles/catalogkia/Images/Images/'~oContainer.getActiveSchema.getRuname~'/'~oContainer.getActiveSchema.getCode~'.png')|file_exists() ?
    asset('bundles/catalogkia/Images/Images/'~oContainer.getActiveSchema.getRuname~'/'~oContainer.getActiveSchema.getCode~'.png') :
    asset('bundles/catalogkia/Images/Images/'~oContainer.getActiveSchema.getRuname~'/'~oContainer.getActiveSchema.getCode~'1.png') }}" alt="{{ oContainer.getActiveSchema.getCode }}"/>





    {#<script type="text/javascript">
        $(window).load(function() {
            $("a.picture").zoomscroll();
        });
    </script>#}

{% endblock image %}


{% block subGroupPath %}{{ path('catalog_kia_group', parameters|merge({'subGroupCode': refGroup.getCode})) }}{% endblock subGroupPath %}