{% trans_default_domain 'common' %}
{% extends 'CatalogCommonBundle:Catalog:07_schema.html.twig' %}
{% use 'CatalogKiaBundle::kia.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('catalog_kia_token', parameters) }} {% else %} {{ path('catalog_kia') }} {% endif %}">{{'Регион, модель, модификация'|trans}} ({{ oContainer.getActiveRegion.getRuname }},
        {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> /
    <a href="{{ path('catalog_kia_complectations', parameters) }}">{{'Комплектация'|trans}} ({{ oContainer.getActiveComplectation.getCode}})</a> /
    <a href="{{ path('catalog_kia_groups', parameters) }}">{{'Группа запчастей'|trans}} ({{ oContainer.getActiveGroup.getRuname}})</a>/
    <a href="{{ path('catalog_kia_subgroups', parameters) }}">{{'Подгруппа запчастей'|trans}} ({{ oContainer.getActiveGroup.getSubGroup(parameters.subGroupCode).getRuname }})</a> /
    <a href="{{ path('catalog_kia_schemas', parameters) }}">{{'Схема'|trans}}</a> / {{'Запчасти'|trans}}
{% endblock breadcrumbs %}
{% block complectationRuname %}{{ oContainer.getActiveComplectation.getCode }}{% endblock complectationRuname %}
{% block refGroupsHead %}<h4>{{ 'Связанные подгруппы'|trans }}</h4>{% endblock refGroupsHead %}

							{% block pncScript %}
                                <script>
                                    $("#pnc_{{ pnc.getCode }}").on("click", function(){
                                        {% block pncClick %}
                                        $("#articul_for_pnc{{ pnc.getCode }}").toggleClass("hidden");
                                        $("#pnc_{{ pnc.getCode }}").toggleClass("glyphicon-plus");
                                        $("#articul_for_pnc{{ pnc.getCode }}").html('<img src={{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~"/bundles/catalogcommon/images/loading.gif") }} height="15px" />');
                                        $.ajax({
                                            type:   'POST',
                                            async:  false,
                                            url:    "{{ path('catalog_kia_articuls') }}",
                                            data:   {
                                                regionCode: '{{ oContainer.getActiveRegion.getCode }}',
                                                modelCode: '{{ oContainer.getActiveModel.getCode }}',
                                                modificationCode: '{{ oContainer.getActiveModification.getCode }}',
                                                complectationCode: '{{ oContainer.getActiveComplectation.getCode }}',
                                                subGroupCode: '{{ parameters.subGroupCode }}',
                                                pncCode: '{{ pnc.getCode }}',
                                                articul: '{{ parameters.articul }}',
                                                token: '{{ parameters.token }}',
                                                options: '{{ oContainer.getActiveSchema.getOptions|json_encode()|raw }}'  },
                                            success: function(data) {
                                                $("#articul_for_pnc{{ pnc.getCode }}").html(data);
                                            }
                                        });
                                        $.scrollTo("#pnc_{{ pnc.getCode }}", {duration:1500});
                                        $("#pnc_{{ pnc.getCode }}").toggleClass("glyphicon-minus");
                                        $("#pnc_{{ pnc.getCode }}").toggleClass("small btn-default");
                                        {% endblock pncClick %}
                                    });
                                    $("#pnc_{{ pnc.getCode }}").on("mouseover", function(){
                                        $(this).css("cursor", "pointer");
                                        $(this).addClass("btn-info");
                                    });
                                    $("#pnc_{{ pnc.getCode }}").on("mouseout", function(){
                                        $(this).removeClass("btn-info");
                                    });

                                </script>
                            {% endblock pncScript %}

{% block pncArea %}{% endblock pncArea %}

{% block refGroups %}
    {% for refGroup in oContainer.getActiveSchema.getRefGroups %}
        {% block refGroup %}
            <div>
                <a href="{{ path('catalog_kia_group', parameters|merge({'subGroupCode': refGroup.getCode})) }}">{% block refGroupName %}({{ refGroup.getCode }}) {{ refGroup.getRuname }}{% endblock refGroupName %}</a>
            </div>
        {% endblock refGroup %}
    {% endfor %}
{% endblock refGroups %}

{% block imageviewport %}
    <div class="row">
        <div class="row" style="height: 600px;">
            <div class="guayaquil_unit_icons">
                <div class="guayaquil_zoom cboxElement" title="Схема: {{ oContainer.getActiveSchema.getCode }}" full="{{ (constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogkia/Imgs/Cats/'~oContainer.getActiveModification.getOption('option1')~'/'~oContainer.getActiveSchema.getCode~'.png')|file_exists() ?
                asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogkia/Imgs/Cats/'~oContainer.getActiveModification.getOption('option1')~'/'~oContainer.getActiveSchema.getCode~'.png') :
                asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogkia/Imgs/Cats/'~oContainer.getActiveModification.getOption('option1')~'/'~oContainer.getActiveSchema.getCode~'1.png') }}">
                    <img src="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogcommon/images/zoom.png') }}"/>
                </div>
            </div>
            <div id="viewport" class="inline_block" style="position: absolute; border: 1px solid rgb(119, 119, 119); background: white none repeat scroll 0% 0%; height:600px; overflow: auto;">
                {{ block('image1') }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <img src="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogcommon/images/mouse_wheel.png') }}"/>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    - {{'масштабирование изображения'|trans}}
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <img src="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogcommon/images/lmb.png') }}">
                    <img src="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogcommon/images/move.png') }}"/>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    - {{'прокрутка'|trans}}
                </div>
            </div>
        </div>
    </div>
{% endblock imageviewport %}

{% block image1 %}
    {% for pnc in oContainer.getActiveSchema.getPncs %}
        {% for coords in pnc.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::COORDS')) %}
            <div class="dragger g_highlight" id="{{ pnc.getCode~coords[constant('Catalog\\CommonBundle\\Components\\Constants::X1')] }}" name="{{ pnc.getCode }}" style="position: absolute;
                    width: calc({{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::X2')] }}px - {{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::X1')] }}px);
                    height: calc({{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::Y2')] }}px - {{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::Y1')] }}px);
                    margin-top: {{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::Y1')] }}px;
                    margin-left: {{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::X1')] }}px;
                    overflow: hidden; cursor: pointer">
                <img src="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogcommon/images/spacer.gif') }}" title="{{ pnc.getCode }}" />
            </div>
            <script>
                $("#{{ pnc.getCode~coords[constant('Catalog\\CommonBundle\\Components\\Constants::X1')] }}").on("click", function(){
                    {{ block('pncClick') }}
                });
            </script>
        {% endfor %}
    {% endfor %}
    {% for refGroup in oContainer.getActiveSchema.getRefGroups %}
        {% for coords in refGroup.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::COORDS')) %}
            <a href="{{ block('subGroupPath') }}">
                <div class="dragger g_highlight" name="{% block dataNamerefGroup %}{{ refGroup.getCode }}{% endblock dataNamerefGroup %}" id="{{ refGroup.getCode~coords[constant('Catalog\\CommonBundle\\Components\\Constants::X1')] }}" style="position: absolute;
                        width: calc({{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::X2')] }}px - {{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::X1')] }}px);
                        height: calc({{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::Y2')] }}px - {{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::Y1')] }}px);
                        margin-top: {{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::Y1')] }}px;
                        margin-left: {{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::X1')] }}px;
                        overflow: hidden; cursor: pointer">
                    <img src="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogcommon/images/spacer.gif') }}"/>
                </div>
            </a>
        {% endfor %}
    {% endfor %}
    <img class="dragger" onload="rescaleImage(-100);" src="{{ (constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogkia/Imgs/Cats/'~oContainer.getActiveModification.getOption('option1')~'/'~oContainer.getActiveSchema.getCode~'.png')|file_exists() ?
    asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogkia/Imgs/Cats/'~oContainer.getActiveModification.getOption('option1')~'/'~oContainer.getActiveSchema.getCode~'.png') :
    asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogkia/Imgs/Cats/'~oContainer.getActiveModification.getOption('option1')~'/'~oContainer.getActiveSchema.getCode~'.png') }}" alt="{{ oContainer.getActiveSchema.getCode }}"/>
{% endblock image1 %}

{% block subGroupPath %}{{ path('catalog_kia_group', parameters|merge({'subGroupCode': refGroup.getCode})) }}{% endblock subGroupPath %}