{% trans_default_domain 'common' %}
<div class="table-responsive">
    <table class="table small">
    {% if oContainer.getActivePnc.getArticuls %}
    <thead class="initialism">
        <tr>
            <th>{{ 'Артикул'|trans }}</th>
            <th>PNC</th>
            <th>{{ 'Кол-во'|trans }}</th>
            <th>{{ 'Период'|trans }}</th>
            <th>{{ 'Доп. информация'|trans({}, 'kia') }}</th>
        </tr>
    </thead>

    <tbody class="initialism">
    {% for articul in oContainer.getActivePnc.getArticuls %}
        <tr>
            <td><a href="{{ parameters.redirectAdress|replace({ '{article}': articul.getRuname }) }}" target="_blank">{% block articulItem %}{{ articul.getRuname }}{% endblock articulItem %}</a></td>
            <td>{{ articul.getOption('pnc') }}</td>
            <td>{{ articul.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::QUANTITY')) }}</td>
            <td>{{ articul.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::START_DATE'))|kia_date_convertor}} - {{ articul.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::END_DATE'))|kia_date_convertor}}</td>
            <td>{% if articul.getOption('descript') %}
                    {{ articul.getOption('descript') }}
                {% endif %}
                {% if articul.getOption('aOptions') %}
            <b>{{ 'Опции'|trans({}, 'kia') }}</b>:
                {% for key, option in articul.getOption('aOptions') %}
              </br>[{{ key }}] {{ option }}
                {% endfor %}
                {% endif %}
            </td>
            
        </tr>
    {% endfor %}
    </tbody>
    {% endif %}
    {% if not oContainer.getActivePnc.getArticuls %}
        <tbody>
        {{ 'Запчасть не применяется в выбранной комплектации'|trans }}
    </tbody>
    {% endif %}
    </table>
</div>
