{% extends 'CatalogCommonBundle:Catalog:04_groups.html.twig' %}
{% use 'CatalogMiniBundle::mini.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('catalog_mini') }}">Регион, модель, модификация ({{ oContainer.getActiveRegion.getRuname }},
   {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a>
     / Группа запчастей
{% endblock breadcrumbs %}
{% block complectation %}
{% endblock complectation %}

{% block body %}
    {% block head %}<h3>Выбрать группу запчастей:</h3>{% endblock head %}
    <div class="row">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

        <a class="btn btn-lg btn-success" href="#" data-toggle="modal" data-target="#basicModal">Написать разработчикам</a>
        {% block groups %}


            <div class="groups">
                {% for group in oContainer.getGroups %}







                    <div style=" height: 250px; " class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                        <a href="{{ path('catalog_mini_subgroups', parameters|merge({'groupCode': group.getCode})) }}">

                            <img src="{{ asset('bundles/catalogbmw/grafik/w_grafik/'~group.getOption('Id')) }}" width="100%" alt="{{ group.getRuname }}"/>
                            <b>{{ group.getRuname }}</b>

                        </a>

                    </div>



                {% endfor %}

            </div>
        {% endblock groups %}
    </div>
    </div>



    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><button class="close" type="button" data-dismiss="modal">x</button>
                    <h4 class="modal-title" id="myModalLabel">Введите сообщение</h4>
                </div>
                <div class="modal-body">
                    <h3>{{ path(app.request.attributes.get('_route'),
                        app.request.attributes.get('_route_params')) }}</h3>
                </div>
                <div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button>
                    <button class="btn btn-primary" type="button">Отправить</button></div>
            </div>
        </div>
    </div>


{% endblock body %}
