{% extends 'CatalogCommonBundle:Catalog:06_schemas.html.twig' %}
{% use 'CatalogSmartBundle::smart.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('catalog_smart_token', parameters) }} {% else %} {{ path('catalog_smart') }} {% endif %}">Выбрать регион, модель, модификацию</a> /
    <a href="{{ path('catalog_smart_complectations', parameters) }}">Выбрать комплектацию</a> /
    <a href="{{ path('catalog_smart_groups', parameters) }}">Выбрать группу запчастей</a> /
    <a href="{{ path('catalog_smart_subgroups', parameters) }}">Выбрать подгруппу запчастей</a> /
    Выбрать схему
{% endblock breadcrumbs %}
{% block subGroup %}<b>Подгруппа запчастей:</b> {{ oContainer.getActiveGroup.getSubGroup(parameters['sanum']).getRuname }}{% endblock subGroup %}
{% block schema %}
    {% if schema.getCode is not empty %}
            <div class="col-xs-3">
        <a href="{{ path('catalog_smart_saschema', parameters|merge({'schemaCode': schema.getCode, 'subGroupCode': parameters['sanum']})) }}">

                    <div class="row">
                        {{ schema.getRuname }}
                    </div>
                    <div class="row">
                        <img src="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogmercedes/images/SA_IMAGES/'~schema.getCode~'.png')|file_exists() ? asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogmercedes/images/SA_IMAGES/'~schema.getCode~'.png') : asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogmercedes/images/SA_IMAGES_ARC/'~schema.getCode~'.png') }}" width="300" alt="{{ schema.getRuname }}"/>
                    </div>

        </a>
            </div>
    {% endif %}
{% endblock schema %}
