{% extends 'CatalogCommonBundle:Catalog:07_schema.html.twig' %}
{% use 'CatalogSmartBundle::smart.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('catalog_smart_token', parameters) }} {% else %} {{ path('catalog_smart') }} {% endif %}">Выбрать регион, модель, модификацию</a> /
    <a href="{{ path('catalog_smart_complectations', parameters) }}">Выбрать комплектацию</a> /
    <a href="{{ path('catalog_smart_groups', parameters) }}">Выбрать группу запчастей</a> /
    <a href="{{ path('catalog_smart_subgroups', parameters) }}">Выбрать подгруппу запчастей</a> /
    <a href="{{ path('catalog_smart_schemas', parameters) }}">Выбрать схему</a> / Выбрать запчасть
{% endblock breadcrumbs %}
{% set schema = oContainer.getActiveSchema %}
{% block image %}
    <img src="{{ asset('bundles/catalogsmart/images/SA_IMAGES/'~schema.getCode~'.png')|file_exists() ? asset('bundles/catalogsmart/images/SA_IMAGES/'~schema.getCode~'.png') : asset('bundles/catalogsmart/images/SA_IMAGES_ARC/'~schema.getCode~'.png') }}" width="100%" usemap="#{{ schema.getCode }}" alt="{{ schema.getRuname }}"/>
{% endblock image %}

{% block ajaxUrl %}{{ path('catalog_smart_saarticuls') }}{% endblock ajaxUrl %}
{% block ajaxData %}
    {{ parent() }}
    , sanum: '{{ parameters.sanum }}',
    articul: '{{ parameters.articul }}',
    token: '{{ parameters.token }}'
{% endblock ajaxData %}
{% block commonArticulPath %}{{ parameters.redirectAdress|replace({ '{article}': commonArticul.getCode }) }}{% endblock commonArticulPath %}
{% block subGroupPath %}{% endblock subGroupPath %}
    {% block mapsterScript %}
        <script>
            $('img').mapster({
                stroke: true,
                strokeColor: '70daf1',
                strokeOpacity: 1,
                strokeWidth: 1,
                fill: true,
                fillColor: '70daf1',
                fillOpacity: 0.5,
                mapKey: 'data-name',
                render_highlight: {
                    fillOpacity: 0.5
                },
                render_select: {
                    fillOpacity: 0
                },

                onClick: function(e) {
                    e.e.preventDefault();
                    var target = $(this).attr('target');
                    if (target=='_blank') {
                        window.open($(this).attr('href'));
                    }
                    return false;
                },
                clickNavigate: false
            }).mapster('set', true, '{% block activeLabel %}{% endblock activeLabel %}');
        </script>
    {% endblock mapsterScript %}