<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% block brand %}Оригинальные каталоги автозапчастей{% endblock brand %}{% endblock title%}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/catalogcommon/css/bootstrap.min.css') }}" media="all">
        <link rel="stylesheet" href="{{ asset('bundles/catalogcommon/css/bootstrap-theme.min.css') }}" media="all">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>

<div class="col-lg-6">

{% for mark in marks %}

        <a href="http://vincat.ru/{{ mark|lower }}/catalog/0">{{ mark }}</a><br>


{% endfor %}

        <a href="http://nissan.by.suraman.newsolution.by">Nissan_old</a><br>


        <a href="http://cats-toyota.by.suraman.newsolution.by">Toyota_old</a><br>


        <a href="http://vincat.ru/mitsubishi">Mitsubishi</a><br>


</div>

