<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% block brand %}Оригинальные каталоги автозапчастей{% endblock brand %}{% endblock title%}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogcommon/css/bootstrap.min.css') }}" media="all">
        <link rel="stylesheet" href="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogcommon/css/bootstrap-theme.min.css') }}" media="all">
        <link rel="stylesheet" href="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogaudi/css/common.css') }}" media="all">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
{% block javascripts %}
    <script src="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogcommon/js/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogcommon/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogcommon/js/jquery.imagemapster.min.js') }}"></script>
    <script src="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/cataloghonda/js/jquery-scrolling.js') }}"></script>
{% endblock %}
{% block summary_set %}{% endblock summary_set %}
{% block body %}
    <div class="main">
    {% block vin %}
        <div class="alert alert-dismissable" id="vin-frame-group">
            <div class="row">
                <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
                    {% block head %}<h3>Поиск по VIN</h3>{% endblock head %}
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-10 col-lg-10 col-md-10 col-sm-10">
                                <input type="text" class="form-control" id="vin" placeholder="Введите VIN"/>
                            </div>
                            <div class="col-xs-2 col-lg-2 col-md-2 col-sm-2">
                                <input type="button" class="btn btn-info" value="Искать" id="vin-button"/>
                            </div>
                        </div>
                    </div>
                    <div id="vin-result"></div>
                </div>
            </div>
        </div>
    {% endblock vin %}
    {% block frame %}{% endblock frame %}
        {% block vinScript %}
                       <script>
                           $("#vin").keyup(function(event){
                               if(event.keyCode == 13){
                                   $("#vin-button").click();
                               }
                           });
                           $("#vin-button").on('click', function(){
                               if($("#vin").val(). replace(/\s+/g, '').length !== 17){
                                   alert("VIN должен состоять из 17 знаков!");
                                   return;
                               }
                               $("#vin-result").html('<img src={{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~"/bundles/catalogcommon/images/loading.gif") }} height="20px" />');
                               $.ajax({
                                   type:   'POST',
                                   async:  false,
                                   url:    "{% block vinAjaxPath %}{{ path('vin_common_result') }}{% endblock vinAjaxPath %}",
                                   data:   { vin: $("#vin").val(). replace(/\s+/g, '') },
                                   success: function(data) {
                                           $("#vin-result").html(data);
                                   }
                               });
                           });
                       </script>
        {% endblock vinScript %}
    {% block frameScript %}{% endblock frameScript %}
        <div class="row">
            <div class="col-lg-6">
                {% for mark in marks %}
                    <a href="https://vincat.ru/{{ mark|lower }}" target="_blank">{{ mark }}</a><br>
                {% endfor %}
                {#<a href="https://nissan.by.suraman.newsolution.by" target="_blank">Nissan_old</a><br>

                <a href="https://cats-toyota.by.suraman.newsolution.by" target="_blank">Toyota_old</a><br>#}
                <a href="https://vincat.ru/mitsubishi" target="_blank">Mitsubishi</a><br>
            </div>
        </div>
    </div>
{% endblock body %}



