{% extends 'CatalogCommonBundle:Catalog:07_schema_laximo.html.twig' %}
{% use 'CatalogLandRoverBundle::landrover.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('catalog_landrover_token', parameters) }} {% else %} {{ path('catalog_landrover') }} {% endif %}">Модель ({{ oContainer.getActiveModel.getRuname }})</a> /
    <a href="{{ path('catalog_landrover_groups', parameters) }}">Группа запчастей ({{ oContainer.getActiveGroup.getRuname}})</a>/
    <a href="{{ path('catalog_landrover_subgroups', parameters) }}">Подгруппа запчастей ({{ oContainer.getActiveGroup.getSubGroup(parameters.subGroupCode).getRuname }})</a> /
    <a href="{{ path('catalog_landrover_schemas', parameters) }}">Схема</a> / Запчасти
{% endblock breadcrumbs %}

{% block region %}{% endblock region%}
{% block regions %}{% endblock regions %}
{% block complectation %}
{% endblock complectation %}
{% block modification %}
{% endblock modification %}

{% block refGroupsHead %}<h4>Связанные изображения</h4>{% endblock refGroupsHead %}


{% block pncs %}
    {% for pnc in oContainer.getActiveSchema.getPncs %}
        {% block pnc %}
            <div class="pnc glyphicon-plus small" id="pnc_{{ pnc.getCode }}">
                ({{ pnc.getCode }}) {{ pnc.getRuname }}
            </div>
            {% block pncScript %}
                <script>
                    $("#pnc_{{ pnc.getCode }}").on("click", function(){
                        {% block pncClick %}
                        $("#articul_for_pnc{{ pnc.getCode }}").toggleClass("hidden");
                        $("#pnc_{{ pnc.getCode }}").toggleClass("glyphicon-plus");
                        $("#articul_for_pnc{{ pnc.getCode }}").html('<img src={{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~"/bundles/catalogcommon/images/loading.gif") }} height="15px" />');
                        $.ajax({
                            type:   'POST',
                            async:  false,
                            url:    "{{ path('catalog_landrover_articuls') }}",
                            data:   {
                                regionCode: '{{ oContainer.getActiveRegion.getCode }}',
                                modelCode: '{{ oContainer.getActiveModel.getCode }}',
                                modificationCode: '{{ oContainer.getActiveModification.getCode }}',
                                groupCode: '{{ parameters.groupCode }}',
                                subGroupCode: '{{ parameters.subGroupCode }}',
                                pncCode: '{{ pnc.getCode }}',
                                options: '{{ oContainer.getActiveSchema.getOptions|json_encode()|raw }}',
                                pncCode: '{{ pnc.getCode }}',
                                token: '{{ parameters.token }}'
                            },
                            success: function(data) {
                                $("#articul_for_pnc{{ pnc.getCode }}").html(data);
                            }
                        });
                        $.scrollTo("#pnc_{{ pnc.getCode }}", {duration:1500});

                        $("#pnc_{{ pnc.getCode }}").toggleClass("glyphicon-minus");
                        $("#pnc_{{ pnc.getCode }}").toggleClass("small btn-default");
                        {% endblock pncClick %}
                    });
                    $("#pnc_{{ pnc.getCode }}").on("mouseover", function(){
                        $(this).css("cursor", "pointer");
                        $(this).addClass("btn-info");
                    });
                    $("#pnc_{{ pnc.getCode }}").on("mouseout", function(){
                        $(this).removeClass("btn-info");
                    });
                </script>
            {% endblock pncScript %}
            {% for coords in pnc.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::COORDS')) %}
                <area shape="rect" coords="
                                        {{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::X1')] }},
                                        {{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::Y1')] }},
                                        {{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::X2')] }},
                                        {{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::Y2')] }}
                                    " href="#" id="{{ pnc.getCode~coords[constant('Catalog\\CommonBundle\\Components\\Constants::X1')] }}" data-name="{% block dataName %}{{ pnc.getCode }}{% endblock dataName %}"/>
                {% block pncAreaScript %}
                    <script>
                        $("area#{{ pnc.getCode~coords[constant('Catalog\\CommonBundle\\Components\\Constants::X1')] }}").on("click", function(){
                            {{ block('pncClick') }}
                        })
                    </script>
                {% endblock pncAreaScript %}
            {% endfor %}
        {% endblock pnc %}
        {% block articulForPnc %}
            <div class="hidden" id="articul_for_pnc{{ pnc.getCode }}"></div>
        {% endblock articulForPnc %}
    {% endfor %}
{% endblock pncs %}




                            
{% block imagePath %}
    {{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/cataloglandrover/Images/'~oContainer.getActiveSchema.getOption('pictureFolder')~'/'~oContainer.getActiveSchema.getCode~'.png') }}
{% endblock imagePath %}

{% block countArticulsInPnc %}1{% endblock countArticulsInPnc %}


{% block subGroupPath %}{{ path('catalog_landrover_group', parameters|merge({'subGroupCode': refGroup.getCode})) }}{% endblock subGroupPath %}