{% extends 'CatalogCommonBundle:Catalog:07_schema.html.twig' %}
{% use 'CatalogLanciaBundle::lancia.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('catalog_lancia_token', parameters) }} {% else %} {{ path('catalog_lancia') }} {% endif %}">Регион, модель, модификация ({{ oContainer.getActiveRegion.getRuname }},
   {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> /
    <a href="{{ path('catalog_lancia_groups', parameters) }}">Группа запчастей ({{ oContainer.getActiveGroup.getRuname}})</a>/
    <a href="{{ path('catalog_lancia_subgroups', parameters) }}">Подгруппа запчастей ({{ oContainer.getActiveGroup.getSubGroup(parameters.subGroupCode).getRuname }})</a> /
    <a href="{{ path('catalog_lancia_schemas', parameters) }}">Схема</a> / Запчасти
{% endblock breadcrumbs %}

{% block complectation %}
{% endblock complectation %}

{% block refGroupsHead %}<h4>Связанные изображения</h4>{% endblock refGroupsHead %}

							{% block pncScript %}
                                <script>
                                    $("#pnc_{{ pnc.getCode }}").on("click", function(){
                                    	
                                    	{% block pncClick %}
                                    	
                                    	$("#articul_for_pnc{{ pnc.getCode }}").toggleClass("hidden");
                                        $("#pnc_{{ pnc.getCode }}").toggleClass("glyphicon-plus");
                                        
                                        $("#articul_for_pnc{{ pnc.getCode }}").html('<img src={{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~"/bundles/catalogcommon/images/loading.gif") }} height="15px" />');
                                        $.ajax({
                                            type:   'POST',
                                            async:  false,
                                            url:    "{{ path('catalog_lancia_articuls') }}",
                                            data:   {
                                                regionCode: '{{ oContainer.getActiveRegion.getCode }}',
                                                modelCode: '{{ oContainer.getActiveModel.getCode }}',
                                                modificationCode: '{{ oContainer.getActiveModification.getCode }}',
                                                groupCode: '{{ parameters.groupCode }}',
                                                subGroupCode: '{{ parameters.subGroupCode }}',
                                                schemaCode: '{{ oContainer.getActiveSchema.getCode }}',
                                                pncCode: '{{ pnc.getCode }}',
                                                options: '{{ oContainer.getActiveSchema.getOptions|json_encode()|raw }}',
                                                token: '{{ parameters.token }}'
                                            },
                                            success: function(data) {
                                                $("#articul_for_pnc{{ pnc.getCode }}").html(data);
                                            }
                                        });
                                        
                                        $.scrollTo("#pnc_{{ pnc.getCode }}", {duration:1500});
                                        
                                        
                                        $("#pnc_{{ pnc.getCode }}").toggleClass("glyphicon-minus");
                                        $("#pnc_{{ pnc.getCode }}").toggleClass("small btn-default");
                                        
                                        {% endblock pncClick %}
                                    });
                                    $("#pnc_{{ pnc.getCode }}").on("mouseover", function(){
                                        $(this).css("cursor", "pointer");
                                        $(this).addClass("btn-info");
                                    });
                                    $("#pnc_{{ pnc.getCode }}").on("mouseout", function(){
                                        $(this).removeClass("btn-info");
                                    });
   
                                </script>
                            {% endblock pncScript %}
                            
{% block image %}
 
    <img src="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogfiat/Imgs/images/'~oContainer.getActiveSchema.getOption('catalog')~'/'~oContainer.getActiveSchema.getOption('picture')) }}" width="100%" usemap="#{{ oContainer.getActiveSchema.getCode }}" alt="{{ oContainer.getActiveSchema.getCode }}"/>

{% endblock image %}


{% block subGroupPath %}{{ path('catalog_lancia_group', parameters|merge({'subGroupCode': refGroup.getCode})) }}{% endblock subGroupPath %}