{% extends 'CatalogCommonBundle:Vin:02_result.html.twig' %}
{% block specification %}
    <div class="row">
        <div class="col-lg-8">
            <table class="table table-bordered">



                <tr>
                    <td>Модель:</td>
                    <td>{{ result.model }}</td>
                </tr>

                <tr>
                    <td>Дата выпуска:</td>
                    <td>{{ result[constant('Catalog\\CommonBundle\\Components\\Constants::PROD_DATE')]|landrover_vin_date_convertor }}</td>
                </tr>
                <tr>
                    <td>Двигатель:</td>
                    <td>{{ result.engine }}</td>
                </tr>

                <tr>
                    <td>Трансмиссия:</td>
                    <td>{{ result.transmission }}</td>
                </tr>



</table>
</div>
</div>
{% endblock specification %}
{% block catalogPath %}
{{ path('vin_landrover_groups',({
    'regionCode': 'EU',
    'modelCode': result.model_for_groups,
    'token': app.request.get('token')
})) }}
{% endblock catalogPath %}