{% extends 'CatalogCommonBundle:Catalog:06_schemas.html.twig' %}
{% use 'CatalogMiniBundle::mini.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('vin_mini') }}">Поиск по номеру кузова ({{ oContainer.getActiveRegion.getRuname }},
        {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }}, {{ oContainer.getActiveComplectation.getRuname}})</a> /
    <a href="{{ path('vin_mini_groups', parameters) }}">Группа запчастей ({{ oContainer.getActiveGroup.getRuname}})</a>/
    <a href="{{ path('vin_mini_subgroups', parameters) }}">Подгруппа запчастей ({{ oContainer.getActiveGroup.getSubGroup(parameters.subGroupCode).getRuname }})</a> / Выбрать схему
{% endblock breadcrumbs %}


{% block subGroupRuname %}{{ oContainer.getActiveGroup.getSubGroup(parameters['subGroupCode']).getRuname }}{% endblock subGroupRuname %}

{% block schema %}
    {% if schema.getCode is not empty %}
        <div class="col-xs-3">
            <a href="{{ path('vin_mini_schema', parameters|merge({'schemaCode': schema.getCode})) }}">

                <div class="row">
                    {{ schema.getRuname }}
                </div>

                <div class="row">
                    <img src="{{ asset('bundles/catalogbmw/grafik/w_grafik/'~schema.getCode)  }}" width="300" alt="{{ schema.getRuname }}"/>
                </div>


            </a>
        </div>
    {% endif %}
{% endblock schema %}