{% extends 'CatalogCommonBundle:Catalog:07_schema.html.twig' %}
{% use 'CatalogSuzukiBundle::suzuki.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('articul_suzuki_find_token', parameters) }} {% else %} {{ path('articul_suzuki_find') }} {% endif %}">Регион, модель, модификация ({{ oContainer.getActiveRegion.getRuname }},
   {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> /
    <a href="{{ path('articul_suzuki_complectations', parameters) }}">Комплектация ({{ oContainer.getActiveComplectation.getRuname}})</a> /
    <a href="{{ path('articul_suzuki_groups', parameters) }}">Группа запчастей ({{ oContainer.getActiveGroup.getRuname}})</a>/
    <a href="{{ path('articul_suzuki_subgroups', parameters) }}">Подгруппа запчастей ({{ oContainer.getActiveGroup.getSubGroup(parameters.subGroupCode).getRuname }})</a> /
    <a href="{{ path('articul_suzuki_schemas', parameters) }}">Схема</a> / Запчасти
{% endblock breadcrumbs %}

{% block refGroupsHead %}<h4>Связанные изображения</h4>{% endblock refGroupsHead %}

{% block image %}
    <img src="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogsuzuki/images/'~oContainer.getActiveSchema.getCode~'.png') }}" width="900" usemap="#{{ oContainer.getActiveSchema.getCode }}" alt="{{ oContainer.getActiveSchema.getRuname }}"/>
{% endblock image %}

{% block ajaxUrl %}{{ path('articul_suzuki_articuls') }}{% endblock ajaxUrl %}
{% block ajaxData %}
    regionCode: '{{ oContainer.getActiveRegion.getCode }}',
    modelCode: '{{ oContainer.getActiveModel.getCode }}',
    modificationCode: '{{ oContainer.getActiveModification.getCode }}',
    complectationCode: '{{ oContainer.getActiveComplectation.getCode }}',
    groupCode: '{{ oContainer.getActiveGroup.getCode }}',
    subGroupCode: '{{ parameters.subGroupCode }}',
    pncCode: '{{ pnc.getCode }}',
    articul: '{{ parameters.articul }}',
    token: '{{ parameters.token }}',
    options: '{{ oContainer.getActiveSchema.getOptions|json_encode()|raw }}'

{% endblock ajaxData %}

{% block subGroupPath %}{{ path('catalog_suzuki_group', parameters|merge({'subGroupCode': refGroup.getCode})) }}{% endblock subGroupPath %}
{% block pncScript %}
    {% if pnc.isActive %}
        <script>
            $(document).ready(function(){
                {{ block('pncClick') }}
            });
        </script>

    {% endif %}
    {{ parent() }}
{% endblock pncScript %}
{% set a = [] %}
{% for pnc in oContainer.getActiveSchema.getPncs %}
    {% if pnc.isActive %}
        {% set a = a|merge([pnc.getCode]) %}
    {% endif %}
{% endfor %}
{% block activeLabel %}{{ a|join(',') }}{% endblock activeLabel %}