{% form_theme form 'form/fields.html.twig' %}
{% trans_default_domain 'common' %}
{% extends 'CatalogCommonBundle:Catalog:03_complectations.html.twig' %}
{% use 'CatalogHyundaiBundle::hyundai.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('catalog_hyundai_token', {'token': app.request.get('token'), 'callbackhost':  app.request.cookies.get('COOKIEHOSThyundai'~app.request.cookies.get('DOMAIN')|replace({'.': ''})), 'domain':  app.request.cookies.get('DOMAIN') }) }}
    {% else %} {{ path('catalog_hyundai', {'callbackhost':  app.request.cookies.get('COOKIEHOSThyundai'~app.request.cookies.get('DOMAIN')|replace({'.': ''})), 'domain':  app.request.cookies.get('DOMAIN') }) }} {% endif %}">{{'Регион, модель, модификация'|trans}} ({{ oContainer.getActiveRegion.getRuname }},
        {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> / {{'Комплектация'|trans}}
{% endblock breadcrumbs %}



{% block body %}
    {% block head %}<h3>{{'Выбрать комплектацию'|trans}}:</h3>{% endblock head %}
    {% block complectations %}
        <div class="row">
            <div class="complectations">
                <div class="control-group">
                    <form role="form" action="{{ path('catalog_hyundai_groups', parameters|merge({'complectationCode': 'data'})) }}" id="ComplectationForm">
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                            {{ form_widget(form) }}

                                <br><button type="submit" class="btn btn-primary" id="submit-button">{{ 'Далее'|trans({}, 'hyundai') }}</button>
                                <button type="button" class="btn btn-default" id="reset-button">{{ 'Сбросить'|trans({}, 'hyundai') }}</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            $('#reset-button').on('click', function() {
                window.location.href = "{{ path(app.request.get('_route'), parameters) }}";
            });
            $(document).ready(function() {
                $('select.form-control').each(function(){
                    var selector = $(this).attr('id');
                    sel = document.getElementById(selector);
                    if (sel.options.length == 1){
                        sel.disabled = true;
                        jQuery('#'+selector+'_reset').css('display', 'none !important');
                    }

                });
            });
            $('form').on('submit', function(){
                selectorAll = new Object();
                var inputs = $(this).find('select');
                $.each((inputs), function(key, value) {
                    selectorAll[value.id.substr(-2)] = value.value;
                });
                $.ajax({
                    type:   'POST',
                    async:  false,
                    url:    "{{ path('catalog_hyundai_complectation_form_valid_value') }}",
                    data:   { selectorD: selectorAll, priznakAllSelect: 1,
                        modificationCode: '{{ oContainer.getActiveModification.getCode }}',
                        regionCode: '{{ oContainer.getActiveRegion.getCode }}',
                        modelCode: '{{ oContainer.getActiveModel.getCode }}'},
                    success: function(submit_data){
                        submit_data = submit_data.replace(new RegExp('"','g'), '');
                        var action = $('#ComplectationForm').attr('action');
                        $('#ComplectationForm').attr('action', action.replace('data', submit_data));
                        /*console.log($('form').attr('action'));*/
                    }
                });
            });
            $('select.form-control').on('change', function(){
                var reset = 0;
                filter('#'.concat($(this).attr('id')), reset);
            });
            $('i.glyphicon').on('click', function(){
                var selector = $(this).attr('id');
                var reset = 1;
                $('#'+selector).css("display","none");
                filter('#'+selector.replace('_reset', ''), reset);
            });

            /*reset - признак того, что функция вызвана нажатием на кнопку сброса значения селекта $('i.glyphicon')*/
            function filter(selector, reset) {
                selectorDied = new Object();
                $('select.form-control').each(function(){
                    var selec = $(this).attr('id');
                    Selec = document.getElementById(selec);
                    if (Selec.disabled == true) {
                        selectorDied[selec.substr(-2)] = Selec.value;
                    }
                });
                /**/
                $(selector+'_reset').css("display", function(i,val){
                    if(reset == 0){
                        return 'inline';
                    }
                });
                $.each(selectorDied, function(key, value) {
                    if ($('#ComplectationType_title'+key+'_reset').css('display') == 'none')
                    {
                        delete selectorDied[key];
                        $('#ComplectationType_title'+key).attr('disabled', false);
                    }
                });

                $.each(selectorDied, function(key, value) {
                });

                $(selector).each(function() {
                    if ($(selector).val() == '1') location.reload();
                    if(reset == 0){
                        var select_name = selector.substr(-2);
                        var select_value = $(selector).val();
                        selectorDied[select_name] = select_value;
                    }
                    $.ajax({
                        type:   'POST',
                        async:  false,
                        url:    "{{ path('catalog_hyundai_complectation_form_valid_value') }}",
                        data:   { selectorD: selectorDied, priznakAllSelect: 0,
                            modificationCode: '{{ oContainer.getActiveModification.getCode }}',
                            regionCode: '{{ oContainer.getActiveRegion.getCode }}',
                            modelCode: '{{ oContainer.getActiveModel.getCode }}'},
                        success: function(data){
                            objSel = new Object();
                            optSel = new Object();
                            selector1 = new Object();
                            $.each(JSON.parse(data), function(key, value) {
                                selector1[key] = selector.substr(0, selector.indexOf(selector.substr(-2))).concat(key);
                                objSel[key] = document.getElementById(selector1[key].substr(1,selector1[key].length));
                                optSel[key] = objSel[key].options[objSel[key].selectedIndex].value;
                                $(selector1[key]).empty();
                                $.each((value), function(key1, value1) {
                                    objSel[key].options[objSel[key].options.length] = new Option(value1, key1, true);
                                })
                            });
                            $.each(JSON.parse(data), function(key, value) {
                                if (objSel[key].options.length == 1)
                                {
                                    objSel[key].disabled = true;
                                    /*jQuery('#ComplectationType_title'+key+'_reset').css('display', 'inline');*/
                                }
                                for (var i = objSel[key].options.length-1; i >= 0; i--)
                                {
                                    if (objSel[key].options[i].value == optSel[key])
                                        objSel[key].options[i].selected = true;
                                }
                            });
                        }
                    });
                });
            }
        </script>

    {% endblock complectations %}
{% endblock body %}


