{% extends 'CatalogCommonBundle:Catalog:04_groups.html.twig' %}
{% use 'CatalogAbarthBundle::abarth.base.html.twig' %}
{% block breadcrumbs %}
   <a href="{% if  app.request.get('token') %} {{ path('catalog_abarth_token', parameters) }} {% else %} {{ path('catalog_abarth') }} {% endif %}">Регион, модель, модификация ({{ oContainer.getActiveRegion.getRuname }},
   {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a>
    / Группа запчастей
{% endblock breadcrumbs %}

{% block complectation %}
{% endblock complectation %}

{% block body %}
    {% block head %}<h3>Выбрать группу запчастей:</h3>{% endblock head %}
    <div class="row">
    <div class="col-lg-12">
        {% block groups %}
            <div class="groups">
                {% for group in oContainer.getGroups %}

                    <div style=" height: 250px; " class="col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-0">

                        <a href="{{ path('catalog_abarth_subgroups', parameters|merge({'groupCode': group.getCode})) }}">
                            <div class="row">

                            ({{ group.getCode }}) {{ group.getRuname }}

                            </div>
                            <br>

                            <div class="row">
                            <img src="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogfiat/Imgs/images/L_EPERFIG/'~group.getOption('catalog')~'/'~group.getOption('picture')|replace({'png':'th.png'})) }}"  width="100%" alt="{{ group.getRuname }}"/>
                            </div>


                        </a>

                    </div>
                {% endfor %}
            </div>
        {% endblock groups %}
    </div>
    </div>
{% endblock body %}
