{% extends 'CatalogCommonBundle:Catalog:06_schemas.html.twig' %}
{% use 'CatalogAbarthBundle::abarth.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('catalog_abarth') }}">Регион, модель, модификация ({{ oContainer.getActiveRegion.getRuname }},
        {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> /
    <a href="{{ path('catalog_abarth_groups', parameters) }}">Группа запчастей ({{ oContainer.getActiveGroup.getRuname}})</a>/
    <a href="{{ path('catalog_abarth_subgroups', parameters) }}">Подгруппа запчастей ({{ oContainer.getActiveGroup.getSubGroup(parameters.subGroupCode).getRuname }})</a> / Выбрать схему
{% endblock breadcrumbs %}

{% block subGroupRuname %}{{ oContainer.getActiveGroup.getSubGroup(parameters['subGroupCode']).getRuname }}{% endblock subGroupRuname %}
{% block complectation %}{% endblock complectation %}

{% block body %}
    {% block head %}<h3>Выбрать схему:</h3>{% endblock head %}
    {% block schemas %}
        <div class="schemas">
            {% for schema in oContainer.getSchemas %}


                        <div style=" height: 250px; " class="col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5 col-lg-2 col-lg-offset-5 col-xs-2 col-xs-offset-5">
                            <a href="{{ path('catalog_abarth_schema', parameters|merge({'schemaCode': schema.getCode})) }}">

                                       <div class="row">
                                           {{ schema.getRuname }}
                                       </div>

                                       {#<div class="row">
                                       {{ schema.getOption('pattern')|replace({',':', '}) }}
                                       </div>#}

                                <div class="row">

                                    <img src="{{ asset('bundles/catalogfiat/Imgs/images/L_EPERFIG/'~oContainer.getActiveGroup.getOption('catalog')~'/'~oContainer.getActiveGroup.getOption('picture')|replace({'png':'th.png'})) }}"  width="100%" alt="{{ oContainer.getActiveGroup.getRuname }}"/>

                                    {# <img src="{{ asset('bundles/catalogfiat/Imgs/images/'~schema.getOption('catalog')~'/'~schema.getOption('picture')|replace({'png':'th.png'})) }}" width="100%" alt="{{ schema.getRuname }}"/>#}
                                </div>


                            </a>
                        </div>
                    

            {% endfor %}
        </div>
    {% endblock schemas %}
{% endblock body %}

