{% extends 'CatalogCommonBundle:Vin:02_result.html.twig' %}
{% block specification %}
    <div class="row">
        <div class="col-lg-8">
            <table class="table table-bordered">
                <tr>
                    <td>Марка:</td>
                    <td>{{ result.marka }}</td>
                </tr>
                <tr>
                    <td>Модель:</td>
                    <td>{{ result.model }}</td>
                </tr>
                <tr>
                    <td>Комплектация:</td>
                    <td>{% for compl_pos in result.compl %}
                            {{ compl_pos }}<br/>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Дата выпуска:</td>
                    <td>{{ result[constant('Catalog\\CommonBundle\\Components\\Constants::PROD_DATE')]|hyundai_date_convertor }}</td>
                </tr>

                    <tr>

                        <td>Регион:</td>
                        <td>{{ result.region }}</td>
                    </tr>

                <tr>

                    <td>Страна:</td>
                    <td>{{ result.country }}</td>
                </tr>

                <tr>

                    <td>Положение руля:</td>
                    <td>{{ result.wheel }}</td>
                </tr>

                <tr>
                    <td>Цвет внешней отделки:</td>
                    <td>{{ result.ext_color }}</td>
                </tr>

                    <tr>
                        <td>Цвет внутренней отделки:</td>
                        <td>{{ result.int_color }}</td>
                    </tr>

            </table>
        </div>
    </div>
{% endblock specification %}
{% block catalogPath %}
    {{ path('vin_hyundai_groups',({'regionCode': result.region_for_groups, 'modelCode': result.model_for_groups, 'modificationCode': result.modif, 'complectationCode': result.compl_for_groups, 'token': app.request.get('token')})) }}
{% endblock catalogPath %}