{% trans_default_domain 'common' %}
{% for key, results in result %}
    {% if key is not constant('Catalog\\CommonBundle\\Components\\Constants::PROD_DATE') %}
    <div class="row">
        <div class="col-lg-10 col-xs-10 col-sm-10 col-md-10">
            <table class="table table-bordered">

                <tr>
                    <td>Брэнд:</td>
                    <td>{{ results.brand }}</td>
                </tr>
                <tr>
                    <td>Дата выпуска:</td>
                    <td>{{ results[constant('Catalog\\CommonBundle\\Components\\Constants::PROD_DATE')]|alfaromeo_vin_date_convertor }}</td>
                </tr>
                    <tr>
                        <td>Модель:</td>
                        <td>{{ results.model }}</td>
                    </tr>

                <tr>
                    <td>Модификация:</td>
                    <td>{{ results.modif }}</td>
                </tr>

                <tr>
                    <td>Модельный код:</td>
                    <td>{{ results.modif_for_group }}</td>
                </tr>

                <tr>
                    <td>Код двигателя:</td>
                    <td>{{ results.motor }}</td>
                </tr>

                <tr>
                    <td>Описание:</td>
                    <td>{{ results.mvs_dsc }}</td>
                </tr>

            </table>
        </div>
    </div>

    {% block button %}
        <div class="row">
            <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
                <a class="btn btn-default" id = "{{ key+1 }}"
                   href="{{ path('vin_alfaromeo_groups',({'regionCode': results.region, 'modelCode': results.model_for_group, 'modificationCode': results.modif_for_group, 'token': app.request.get('token') }))
                }}">{{ 'Перейти в каталог'|trans }}</a>
            </div>
        </div>
        <hr>
    {% endblock button %}

    {% endif %}
{% endfor %}