{% extends 'CatalogCommonBundle:Catalog:04_groups.html.twig' %}
{% use 'CatalogMercedesBundle::mercedes.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('catalog_mercedes') }}">Выбрать регион, модель, модификацию</a> / Выбрать группу запчастей
{% endblock breadcrumbs %}

{% block pathToSubgroup %}{{ path('catalog_mercedes_subgroups', parameters|merge({'groupCode': group.getCode})) }}{% endblock pathToSubgroup %}
{% block picture %}
    {% for modification in oContainer.getActiveModel.getModifications %}
        {{ modification.getRuname }}<br/>
        {% for complectation in modification.getOption('COMPLECTATIONS') %}
            <a href="{{ path('catalog_mercedes_groups', parameters|merge({'modificationCode': modification.getCode, 'complectationCode': complectation})) }}">{{ complectation }}</a> <br/>
        {% endfor %}
    {% endfor %}
{% endblock picture %}