{% extends 'CatalogCommonBundle:Catalog:05_subgroups.html.twig' %}
{% use 'CatalogMercedesBundle::mercedes.base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/catalogmercedes/css/mercedes.css') }}" media="all">
{% endblock %}
{#{% block breadcrumbs %}#}
    {#<a href="{{ path('catalog_mercedes') }}">Выбрать регион, модель, модификацию</a> /#}
    {#<a href="{{ path('catalog_mercedes_complectations', parameters) }}">Выбрать комплектацию</a> /#}
    {#Выбрать группу запчастей#}
{#{% endblock breadcrumbs %}#}
{#{% block groupRuname %}{{ oContainer.getActiveGroup.getRuname }}{% endblock groupRuname %}#}
{#{% block groups %}{% endblock groups %}#}

{#{% block pathToSubgroup %}{{ path('catalog_mercedes_subgroups', parameters|merge({'groupCode': group.getCode})) }}{% endblock pathToSubgroup %}#}
{#{% block picture %}#}
        {#<table class="table">#}
        {#{% for group in oContainer.getGroups %}#}
            {#<tr>#}
                {#<td><a href="{{ path('catalog_mercedes_saschemas', parameters|merge({'groupCode': group.getCode})) }}"><span class="col-lg-3">{{ group.getCode }}</span><span class="col-lg-9">{{ group.getRuname }}</span></a></td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</table>#}
{#{% endblock picture %}#}

{% block breadcrumbs %}
    <a href="{{ path('catalog_mercedes') }}">Выбрать регион, модель, модификацию</a> /
    <a href="{{ path('catalog_mercedes_complectations', parameters) }}">Выбрать комплектацию</a> /
    <a href="{{ path('catalog_mercedes_groups', parameters) }}">Выбрать группу запчастей</a> /
    Выбрать подгруппу запчастей
{% endblock breadcrumbs %}


{% block subgroupImage %}{% endblock subgroupImage %}
{% block subgroups %}
    {{ parent() }}
    {% block saSubgroups %}
        {% if oContainer.getGroups is not empty %}
            <h4>SA-каталог (специальная комплектация)</h4>
            {% for subgroup in oContainer.getGroups %}
                <div id="subgroup{{ subgroup.getCode }}">
                    <a href="{{ path('catalog_mercedes_saschemas', parameters|merge({'groupCode': subgroup.getCode})) }}">({{ subgroup.getCode }}) {{ subgroup.getRuname }}</a>
                </div>
            {% endfor %}
        {% endif %}
    {% endblock saSubgroups %}
{% endblock subgroups %}

{% block imagePath %}{% endblock imagePath %}

{% block pathToSchemas %}
    {{ path('catalog_mercedes_saschemas', parameters|merge({'subGroupCode': subgroup.getCode})) }}
{% endblock pathToSchemas %}