{% extends 'CatalogCommonBundle:Catalog:07_schema.html.twig' %}
{% use 'CatalogMercedesBundle::mercedes.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('catalog_mercedes_token', parameters) }} {% else %} {{ path('catalog_mercedes') }} {% endif %}">Выбрать регион, модель, модификацию</a> /
    <a href="{{ path('catalog_mercedes_complectations', parameters) }}">Выбрать комплектацию</a> /
    <a href="{{ path('catalog_mercedes_groups', parameters) }}">Выбрать группу запчастей</a> /
    <a href="{{ path('catalog_mercedes_subgroups', parameters) }}">Выбрать подгруппу запчастей</a> /
    <a href="{{ path('catalog_mercedes_schemas', parameters) }}">Выбрать схему</a> / Выбрать запчасть
{% endblock breadcrumbs %}
{% set schema = oContainer.getActiveSchema %}
{% block image %}
    <img src="{{ ('bundles/catalogmercedes/images/BM_IMAGES/'~schema.getCode~'.png')|file_exists() ? asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogmercedes/images/BM_IMAGES/'~schema.getCode~'.png') : asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogmercedes/images/BM_IMAGES_ARC/'~schema.getCode~'.png') }}" width="100%" usemap="#{{ schema.getCode }}" alt="{{ schema.getCode }}"/>
{% endblock image %}

{% block ajaxUrl %}{{ path('catalog_mercedes_articuls') }}{% endblock ajaxUrl %}
{% block ajaxData %}
    {{ parent() }}
    , groupCode: '{{ parameters.groupCode }}',
    complectationCode: '{{ parameters.complectationCode }}',
    articul: '{{ parameters.articul }}',
    token: '{{ parameters.token }}'
{% endblock ajaxData %}
{% block commonArticulPath %}{{ parameters.redirectAdress|replace({ '{article}': commonArticul.getCode }) }}{% endblock commonArticulPath %}
{% block subGroupPath %}{% endblock subGroupPath %}