{% if oContainer.getActivePnc.getArticuls %}
<div class="table-responsive">
    <table class="table small">
        <thead>
        <tr>
            <th>Артикул</th>
            <th>Кол-во</th>
            <th>Период</th>
            <th>Примеч.</th>
        </tr>
        </thead>
        <tbody>
        {% for articul in oContainer.getActivePnc.getArticuls %}
            <tr>
                <td><a href="{% block commonArticulPath %}{{ parameters.redirectAdress|replace({ '{article}': articul.getCode }) }}{% endblock commonArticulPath %}" target="_blank">{% block articulItem %}{{ articul.getCode }}{% endblock articulItem %}</a>
                    {% if articul.getOption('REPL') %}<br>Замена: {{ articul.getOption('REPL')}} {% endif %}
                </td>
                <td>{{ articul.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::QUANTITY')) }}</td>
                <td>{{ articul.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::START_DATE'))|date_convertor }} - {{ articul.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::END_DATE'))|date_convertor }}</td>
                <td class="small">{{ articul.getRuname }}
                    {% if articul.getOption('DESCRIPTION') is not null %}<br>{{ articul.getOption('DESCRIPTION') }}{% endif %}
                    {% if articul.getOption('NEUTRAL') is not null %}<br>{{ articul.getOption('NEUTRAL') }}{% endif %}
                    {% for keyt, footnote in articul.getOption('FOOTNOTES') %}
                        {% if footnote['TEXT_FOR_TWIG'] is defined %}
                            <br>
                        <b>[{{ keyt }}] {{ footnote['PREFIX'] }}
                            {% autoescape 'html' %}
                                {{ footnote['TEXT_FOR_TWIG']|raw }}
                            {% endautoescape %}
                        </b>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <div class="label label-danger">Запчасти отсутствуют</div>
{% endif %}

