<table class="table small">
    {% if oContainer.getActivePnc.getArticuls %}
    <thead>
        <tr>
            <th>Артикул</th>
            <th>Период</th>
            <th>Кол-во</th>
            <th>Информация</th>
        </tr>
    </thead>

    <tbody>
    {% for articul in oContainer.getActivePnc.getArticuls %}
        <tr>
            <td><a href="{{ parameters.redirectAdress|replace({ '{article}': articul.getCode }) }}" target="_blank">{% block articulItem %}{{ articul.getCode }}{% endblock articulItem %}</a>
            </td>
            <td>{{ articul.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::START_DATE'))|mitsubishi_date_convertor }}
                -{{ articul.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::END_DATE'))|mitsubishi_date_convertor }}</td>
            <td>{% autoescape false %}{{ articul.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::QUANTITY'))|replace({';':'<br/>'}) }}{% endautoescape %}<br/></td>
            <td>{{ articul.getOption('add_desc_en') }}</td>


        </tr>
    {% endfor %}
    </tbody>
    {% endif %}
    {% if not oContainer.getActivePnc.getArticuls %}
        <tbody>
    Запчасть не применяется в выбранной модели
    </tbody>
    {% endif %}

</table>