{% extends 'CatalogCommonBundle:Catalog:04_groups.html.twig' %}
{% use 'CatalogBmwBundle::bmw.base.html.twig' %}
{% block breadcrumbs %}
   <a href="{{ path('vin_bmw',parameters) }}">Поиск по номеру кузова ({{ oContainer.getActiveRegion.getRuname }},
   {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }}, {{ oContainer.getActiveComplectation.getRuname}})</a>
    / Группа запчастей
{% endblock breadcrumbs %}


{% block body %}
    {% block head %}<h3>Выбрать группу запчастей:</h3>{% endblock head %}
    <div class="row">
    <div class="col-lg-10 col-sm-10 col-md-10">
        {% block groups %}
            <div class="groups">
                {% for group in oContainer.getGroups %}
                    <div style=" height: 250px; " class="col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-0">

                        <a href="{{ path('vin_bmw_subgroups', parameters|merge({'groupCode': group.getCode})) }}">

                            <img src="{{ asset('bundles/catalogbmw/grafik/w_grafik/'~group.getOption('Id')) }}" width="100%" alt="{{ group.getRuname }}"/>
                            {{ group.getRuname }}

                        </a>

                    </div>
                {% endfor %}
            </div>
        {% endblock groups %}
    </div>
    </div>
{% endblock body %}