{% extends 'CatalogCommonBundle:Vin:02_result.html.twig' %}
{% block specification %}
    <div class="row">
        <div class="col-lg-8">
            <table class="table table-bordered">
                <tr>

                    <td>Регион:</td>
                    <td>{{ result.region }}</td>
                </tr>
                <tr>
                    <td>Модель:</td>
                    <td>{{ result.model }}</td>
                </tr>
                <tr>
                    <td>Модификация:</td>
                    <td>
                        {{ result.modif }}<br/>

                    </td>
                </tr>
                <tr>
                    <td>Дата выпуска:</td>
                    <td>{{ result[constant('Catalog\\CommonBundle\\Components\\Constants::PROD_DATE')]|bmv_date_convertor }}</td>
                </tr>

                <tr>

                    <td>Положение руля:</td>
                    <td>{{ result.wheel }}</td>
                </tr>
                <tr>

                    <td>Двигатель:</td>
                    <td>{{ result.engine }}</td>
                </tr>
                <tr>

                    <td>Коробка передач:</td>
                    <td>{{ result.korobka }}</td>
                </tr>


            </table>
        </div>
    </div>
{% endblock specification %}
{% block catalogPath %}
    {{ path('vin_bmv_groups',({'regionCode': result.region, 'modelCode': result.modelforGroups, 'modificationCode': result.modifforGroups})) }}
{% endblock catalogPath %}