{% extends 'CatalogCommonBundle:Catalog:04_groups.html.twig' %}
{% use 'CatalogSmartBundle::smart.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('vin_smart') }}">Поиск по номеру кузова</a> / Выбрать группу запчастей
{% endblock breadcrumbs %}

{% block complectationRuname %}{{ oContainer.getActiveComplectation.getRuname }}{% endblock complectationRuname %}

{% block pathToSubgroup %}{{ path('vin_smart_subgroups', parameters|merge({'groupCode': group.getCode})) }}{% endblock pathToSubgroup %}

{% block picture %}
    {% for modification in oContainer.getActiveModel.getModifications %}
        {{ modification.getRuname }}<br/>
        <table class="table">
            {% for complectationCode, complectationName in modification.getOption('COMPLECTATIONS') %}
                <tr>
                    <td><a href="{{ path('vin_smart_groups', parameters|merge({'modificationCode': modification.getCode, 'complectationCode': complectationCode})) }}"><span class="col-lg-3">{{ complectationCode|slice(-7) }}</span><span class="col-lg-9">{{ complectationName }}</span></a></td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock picture %}