{% extends 'CatalogSeatBundle:Catalog:05_subgroups.html.twig' %}
{% use 'CatalogSeatBundle::seat.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('articul_seat_find_token', parameters) }} {% else %} {{ path('articul_seat_find') }} {% endif %}">Регион, модель, модификация ({{ oContainer.getActiveRegion.getRuname }},
   {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> /
    <a href="{{ path('articul_seat_groups', parameters) }}">Группа запчастей ({{ oContainer.getActiveGroup.getRuname}})</a> /
    Подгруппа запчастей
{% endblock breadcrumbs %}

{% block complectation %}
{% endblock complectation %}



{% block subgroupImage %}

    <div class="row">

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
                    <input name="filter-query" class="form-control" value="" id="filter-query" onclick="this.value='';"
                           type="text" placeholder="Введите любой признак для фильтрации параметров"/>

                </div>
                <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2">
                    <input type="button" class="btn btn-default" onclick="$('#filter-query').val('');
        repeatact();return false" value="Показать все" id="vin-button"/>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        {% if oContainer.getActiveGroup.getSubgroups|first.getOption('ObDvig') %}

            <b>Объем двигателя:</b>
            {% for trans in oContainer.getActiveGroup.getSubgroups|first.getOption('ObDvig') %}

                <a href="#" name = "res" id = "{{ trans }}" class="btn btn-default" onclick="$('#filter-query').val('{{ trans }}');
                        repeatact(); $(this).addClass('btn-primary'); return false ;">{{ trans }}</a>

            {% endfor %}

        {% endif %}


    </div><hr />
    <br/>





    <table class="table">
        <thead>
        <tr>
            <th>Подгруппа</th>
            <th>Код</th>
            <th>Описание</th>
            <th>Примечание</th>
            <th>Данные по модели</th>
            <th>Изображение</th>

        </tr>
        </thead>
        <tbody>
        {% for subgroup in oContainer.getActiveGroup.getSubgroups %}

            <tr>
                <td>{{ subgroup.getOption('podgr') }}</td>
                <td>{{ subgroup.getCode }}</td>
                <td> <a href="{{ path('articul_seat_schemas',
                    parameters|merge({'subGroupCode': subgroup.getCode})) }}"> {{ subgroup.getRuname }}</a></td>
                <td>{{ subgroup.getOption('prime4') }}</td>
                <td>{{ subgroup.getOption('dannye')|replace({';':' '}) }}</td>
                <td>
                    <div class="row">
                        <a href="{{ path('articul_seat_schemas', parameters|merge({'subGroupCode': subgroup.getCode})) }}">
                            <img src="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogaudi/Images/Minis/'~subgroup.getOption('grafik')~'.png') }}" width="100" alt="{{ subgroup.getRuname }}"/>
                        </a>
                    </div>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <script>

        $(document).ready(function() {


            $('#filter-query').keyup(function(event){

                if (event.keyCode == 27 || $(this).val() == '') {
                    $(this).val('');
                    $('.table tbody tr').removeClass('visible').show().addClass('visible');
                }
                else {
                    filter('.table tbody tr', $(this).val());
                }
            });

        });
        function filter(selector, query) {
            query = $.trim(query);

            $('a[name="res"]').removeClass('btn-primary');

            re = /(\d(\,\d))/i;

            $(selector).each(function() {
                (($(this).text().search(new RegExp(query, "i")) < 0) & ($(this).text().match(re)!=null))
                        ? $(this).hide().removeClass('visible') : $(this).show().addClass('visible');
            });
        }
        function repeatact(){
            filter('.table tbody tr', $('#filter-query').val());
        }

    </script>
{% endblock subgroupImage %}

 {% block subGroupsMap %}

 {% endblock subGroupsMap %}
