<table class="table small">
    {% if oContainer.getActivePnc.getArticuls %}
    <thead>
        <tr>
            <th>Артикул</th>
            <th>Период выпуска</th>
            <th>Кол-во</th>
            <th>Применяемость</th>
        </tr>
    </thead>

    <tbody>
    {% for articul in oContainer.getActivePnc.getArticuls %}
        <tr>
            <td><a href="{{ parameters.redirectAdress|replace({ '{article}': articul.getRuname }) }}" target="_blank">{% block articulItem %}{{ articul.getRuname }}{% endblock articulItem %}</a>
              {#  <br/> {% if articul.getOption('REPLACE') %} Замена: {{ articul.getOption('REPLACE') }} {% endif %}#} </td>
            <td>{{ articul.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::START_DATE'))|lexus_date_convertor }} - {{ articul.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::END_DATE'))|lexus_date_convertor }}</td>
            <td> {{ articul.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::QUANTITY')) }} </td>
            <td>{% autoescape false %}{{ articul.getOption('DESC') }}{% endautoescape %}
                </td>
            
        </tr>
    {% endfor %}
    </tbody>
    {% endif %}
    {% if not oContainer.getActivePnc.getArticuls %}
        <tbody>
    Запчасть не применяется в выбранной комплектации
    </tbody>
    {% endif %}

</table>