{% trans_default_domain 'common' %}
{% extends 'CatalogKiaBundle:Catalog:07_schema.html.twig' %}
{% use 'CatalogKiaBundle::kia.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('vin_kia',parameters) }}">{{ 'Поиск по номеру кузова'|trans }} ({{ oContainer.getActiveRegion.getRuname }},
   {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> /
    <a href="{{ path('vin_kia_groups', parameters) }}">{{'Группа запчастей'|trans}} ({{ oContainer.getActiveGroup.getRuname}})</a> /
    <a href="{{ path('vin_kia_subgroups', parameters) }}">{{'Подгруппа запчастей'|trans}} ({{ oContainer.getActiveGroup.getSubGroup(parameters.subGroupCode).getRuname }})</a> /
    <a href="{{ path('vin_kia_schemas', parameters) }}">{{ 'Cхема'|trans }}</a> / {{'Запчасти'|trans}}
{% endblock breadcrumbs %}

{% block ajaxUrl %}{{ path('vin_kia_articuls') }}{% endblock ajaxUrl %}
{% block subGroupPath %}{{ path('vin_kia_group', parameters|merge({'subGroupCode': refGroup.getCode})) }}{% endblock subGroupPath %}
