{% extends 'CatalogCommonBundle:Catalog:04_groups.html.twig' %}
{% use 'CatalogAudiBundle::audi.base.html.twig' %}
{% block breadcrumbs %}
   <a href="{% if  app.request.get('token') %} {{ path('catalog_audi_token', parameters) }} {% else %} {{ path('catalog_audi') }} {% endif %}">Регион, модель, модификация ({{ oContainer.getActiveRegion.getRuname }},
   {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a>
    / Группа запчастей
{% endblock breadcrumbs %}

{% block complectation %}
{% endblock complectation %}

{% block body %}
    {% block head %}<h3>Выбрать группу запчастей:</h3>{% endblock head %}
    <div class="row">
    <div class="col-lg-12">
        {% block groups %}
            <div class="groups">
                {% for group in oContainer.getGroups %}
                    <div>
                        <a href="{{ path('catalog_audi_subgroups', parameters|merge({'groupCode': group.getCode})) }}">({{ group.getCode }}) {{ group.getRuname }}</a>
                    </div>
                {% endfor %}
            </div>
        {% endblock groups %}
    </div>
    </div>
{% endblock body %}
