{% extends 'CatalogMitsubishiBundle:Catalog:01_regions_models.html.twig' %}
{% use 'CatalogMitsubishiBundle::mitsubishi.base.html.twig' %}



{% block regionPath %}
    {% if app.request.get('token') %}
        {{ path('articul_mitsubishi_find_token', {'regionCode': region.getCode, 'token': app.request.get('token'), 'articul': app.request.get('articul')|trim}) }}

    {% else %}

        {{ path('articul_mitsubishi_find', {'regionCode': region.getCode, 'articul': app.request.get('articul')|trim}) }}

    {% endif %}
{% endblock regionPath %}

{% block modificationScript %}
    <script>
        $("#{{ modelCode }}").on("click", function(){
            $("#modifications_for_model{{ modelCode }}").toggleClass("hidden");
            $(this).toggleClass("glyphicon-plus");
            $.ajax({
                type:   'POST',
                async:  false,
                url:    "{% block ajaxUrl %}{{ path('articul_mitsubishi_modifications') }}{% endblock ajaxUrl %}",
                data:   {
                    regionCode: $(this).attr('regionCode'),
                    modelCode: "{{ model.getCode }}",
                    token: "{{ app.request.get('token') }}",
                    articul: "{{ app.request.get('articul')|trim }}",
                },
                success: function(data) {
                    $("#modifications_for_model{{ modelCode }}").html(data);
                }
            });
            $(this).toggleClass("glyphicon-minus");
        });
        $("#{{ modelCode }}").on("mouseover", function(){
            $(this).css("cursor", "pointer");
            $(this).addClass("btn-info");
        });
        $("#{{ modelCode }}").on("mouseout", function(){
            $(this).removeClass("btn-info");
        });
    </script>
{% endblock modificationScript %}

{% block modificationScript1 %}
    <script>
        $("#{{ modelCode }}").on("click", function(){
            $("#modifications_for_model{{ modelCode }}").toggleClass("hidden");
            $(this).toggleClass("glyphicon-plus");
            $.ajax({
                type:   'POST',
                async:  false,
                url:    "{% block ajaxUrl1 %}{{ path('articul_mitsubishi_modifications') }}{% endblock ajaxUrl1 %}",
                data:   {
                    regionCode: $(this).attr('regionCode'),
                    modelCode: "{{ model.getCode }}",
                    token: "{{ app.request.get('token') }}",
                    articul: "{{ app.request.get('articul')|trim }}",
                },
                success: function(data) {
                    $("#modifications_for_model{{ modelCode }}").html(data);
                }
            });
            $(this).toggleClass("glyphicon-minus");
        });
        $("#{{ modelCode }}").on("mouseover", function(){
            $(this).css("cursor", "pointer");
            $(this).addClass("btn-info");
        });
        $("#{{ modelCode }}").on("mouseout", function(){
            $(this).removeClass("btn-info");
        });
    </script>
{% endblock modificationScript1 %}
{% block head %}
    <h3>Запчасть с таким артикулом найдена в следующих моделях:</h3>
    {{ parent() }}
{% endblock head %}