{% extends 'CatalogCommonBundle:Catalog:03_complectations.html.twig' %}
{% use 'CatalogMercedesBundle::mercedes.base.html.twig' %}

{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('articul_mercedes_find_token', parameters) }} {% else %} {{ path('articul_mercedes_find') }} {% endif %}">Выбрать регион, модель, модификацию</a> /
    Выбрать комплектацию
{% endblock breadcrumbs %}

{% block head %}<h3>{{ 'Выбрать автомобиль'|trans }}:</h3>{% endblock head %}
{% set complectationsListLenght = oContainer.getActiveModification.getComplectations|length %}
{% block complectations %}
    {% set variants = models_array() %}

    {#Разбиваем исходный массив на 4 колонки#}
    {% set chunk_variants = array_chunk(variants, 4) %}

    <div class="complectations">
        {% for key, variant in chunk_variants  %}
            <div class="panel-group col-xs-6 col-sm-6 col-md-3 col-lg-3" id="accordion{{ key }}">
                {% for keyt, var in variant  %}
                    <div class="panel" id = '{{ var }}'>
                        <div class="panel-heading" onclick='$("#collapse_{{ keyt }}").collapse("toggle");'>
                            <h4 class="panel-title">
                                {{ var }}
                            </h4>
                        </div>
                        <div id="collapse_{{ keyt }}" class="panel-collapse collapse" >
                            <div class="panel-body">
                                <table class="table table-responsive">
                                    {% for complectation in oContainer.getActiveModification.getComplectations %}
                                        {% if var ==  complectation.getOption('opt') %}
                                            <tr>
                                                <td>
                                                    <small><a href="{{ path('articul_mercedes_groups', parameters|merge({ 'complectationCode': complectation.getCode })) }}">{{ complectation.getRuname }}</a></small>
                                                </td>
                                                <td>
                                                    <small><a href="{{ path('articul_mercedes_groups', parameters|merge({ 'complectationCode': complectation.getCode })) }}">{{ complectation.getCode|slice(4) }}</a></small>
                                                </td>
                                                <td><small>{{ complectation.getOption('REMARKS') }}</small></td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <script>
        $(".panel").on("mouseover", function(){
            $(this).css("cursor", "pointer");
            $(this).addClass("panel-default");
        });
        $(".panel").on("mouseout", function(){
            $(this).removeClass("panel-default");
        });

        $('.panel-collapse').each(function(){
            arr = new Object();
            var selector = $(this).attr('id');
            sel = document.getElementById(selector);
            tr = sel.getElementsByTagName('tr');
            if (tr.length == 0){
                $('#'+selector).parent('div').css('display', 'none');
            }
        });

        $('.panel-group').each(function(){
            var selector = $(this).attr('id');
            pn = $(this).find('.panel');
            var count = 0;
            $.each(pn, function(key, value) {
                if (pn[key].style.display !== 'none'){
                    count = count + 1;
                }
            });
            if (count == 0){
                $('#'+selector).css('display', 'none');
            }
        });
        $(document).ready(function() {
            pn = $(this).find('.panel');
            var count = 0;
            var krey;
            $.each(pn, function(key, value) {
                if (pn[key].style.display !== 'none'){
                    count = count + 1;
                    krey = key
                }
            });
            if (count == 1){
                $('#collapse_'+krey).collapse('toggle');
                $(pn[krey]).attr('class', "panel panel-default");
            }
        });


    </script>
{% endblock complectations %}