{% extends 'CatalogRollsRoyceBundle:Catalog:01_regions_models.html.twig' %}
{% use 'CatalogRollsRoyceBundle::rollsroyce.base.html.twig' %}
{% block regionPath %}

    {% if app.request.get('token') %}

        {{ path('articul_rollsroyce_find_token', {'token': app.request.get('token'),'articul': app.request.get('articul')|trim, 'regionCode': region.getCode }) }}

    {% else %}

        {{ path('articul_rollsroyce_find', {'regionCode': region.getCode, 'articul': app.request.get('articul')|trim}) }}

    {% endif %}

{% endblock regionPath %}

{% block modificationScript %}
    <script>
        $("#{{ modelCode }}").on("click", function(){
            $("#modifications_for_model{{ modelCode }}").toggleClass("hidden");
            $(this).toggleClass("glyphicon-plus");
            $.ajax({
                type:   'POST',
                async:  false,
                url:    "{% block ajaxUrl %}{{ path('articul_rollsroyce_modifications') }}{% endblock ajaxUrl %}",
                data:   {
                    regionCode: $(this).attr('regionCode'),
                    modelCode: "{{ model.getCode }}",
                    token: "{{ app.request.get('token') }}",
                    articul: "{{ app.request.get('articul')|trim }}"
                },
                success: function(data) {
                    $("#modifications_for_model{{ modelCode }}").html(data);
                }
            });
            $(this).toggleClass("glyphicon-minus");
        });
        $("#{{ modelCode }}").on("mouseover", function(){
            $(this).css("cursor", "pointer");
            $(this).addClass("btn-info");
        });
        $("#{{ modelCode }}").on("mouseout", function(){
            $(this).removeClass("btn-info");
        });
    </script>
{% endblock modificationScript %}

{% block head %}
    <h3>Запчасть с таким артикулом найдена в следующих моделях:</h3>
    {{ parent() }}
{% endblock head %}