{% trans_default_domain "common" %}
{% extends 'CatalogCommonBundle:Catalog:04_groups.html.twig' %}
{% use 'CatalogBmwBundle::bmw.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('articul_bmw_find_token', parameters) }} {% else %} {{ path('articul_bmw_find') }} {% endif %}">{{ 'Регион, модель, модификация'|trans }} ({{ oContainer.getActiveRegion.getRuname }},
   {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a>  /
    <a href="{{ path('articul_bmw_complectations', parameters) }}">{{ 'Комплектация'|trans }} ({{ oContainer.getActiveComplectation.getRuname}})</a> /{{ 'Группа запчастей'|trans }}
{% endblock breadcrumbs %}


{% block body %}
    {% block head %}<h3>{{ 'Выбрать группу запчастей'|trans }}:</h3>{% endblock head %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
        {% block groups %}
            <div class="groups">
                {% for group in oContainer.getGroups %}
                    <div style=" height: 250px; " class="col-lg-2 col-md-3 col-sm-6 col-xs-6">

                        <a href="{{ path('articul_bmw_schemas', parameters|merge({'groupCode': group.getCode})) }}">

                            <img src="{{ asset('bundles/catalogbmw/grafik/w_grafik/'~group.getOption('Id')) }}" width="100%" alt="{{ group.getRuname }}"/>
                            {{ group.getRuname }}

                        </a>

                    </div>
                {% endfor %}
            </div>
        {% endblock groups %}
        </div>
    </div>
{% endblock body %}