{% extends 'CatalogCommonBundle:Catalog:05_subgroups.html.twig' %}
{% use 'CatalogBmwBundle::bmw.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('articul_bmw_find') }}">Регион, модель, модификация ({{ oContainer.getActiveRegion.getRuname }}, 
   {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> /
    <a href="{{ path('articul_bmw_complectations', parameters) }}">Комплектация ({{ oContainer.getActiveComplectation.getRuname}})</a> /
    <a href="{{ path('articul_bmw_groups', parameters) }}">Группа запчастей ({{ oContainer.getActiveGroup.getRuname}})</a> / 
    Подгруппа запчастей
{% endblock breadcrumbs %}


{% block subgroupImage %}
        {% endblock subgroupImage %}


{% block subgroupItem %}
    <div id="subgroup{{ subgroup.getCode }}">
        <a href="{{ path('articul_bmw_schemas', parameters|merge({'subGroupCode': subgroup.getCode})) }}">({{ subgroup.getCode }}) {{ subgroup.getRuname }}</a>
    </div>
{% endblock subgroupItem %}