{% trans_default_domain "common" %}
{% extends 'CatalogCommonBundle:Catalog:06_schemas.html.twig' %}
{% use 'CatalogBmwBundle::bmw.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('articul_bmw_find_token', parameters) }} {% else %} {{ path('articul_bmw_find') }} {% endif %}">{{ 'Регион, модель, модификация'|trans }}</a> /
    <a href="{{ path('articul_bmw_complectations', parameters) }}">{{ 'Комплектация'|trans }} ({{ oContainer.getActiveComplectation.getRuname}})</a> /
    <a href="{{ path('articul_bmw_groups', parameters) }}">{{ 'Группа запчастей'|trans }}</a> /
    {{ 'Выбрать схему'|trans }}
{% endblock breadcrumbs %}


{% block subGroup %}{% endblock subGroup %}

{% block schema %}
    {% if schema.getCode is not empty %}
            <div class="col-xs-3">
        <a href="{{ path('articul_bmw_schema', parameters|merge({'schemaCode': schema.getCode})) }}">

                    <div class="row">
                        {{ schema.getRuname }}
                    </div>

                    <div class="row">
                        <img src="{{ asset('bundles/catalogbmw/grafik/w_grafik/'~schema.getCode) }}" width="300" alt="{{ schema.getRuname }}"/>
                    </div>

        </a>
            </div>
    {% endif %}
{% endblock schema %}