{% extends 'CatalogCommonBundle:Catalog:06_schemas.html.twig' %}
{% use 'CatalogHondaEuropeBundle::hondaeurope.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('catalog_hondaeurope_token', parameters) }} {% else %} {{ path('catalog_hondaeurope') }} {% endif %}">Выбрать регион, модель, модификацию</a> / <a href="{{ path('catalog_hondaeurope_complectations', parameters) }}">Выбрать комплектацию</a> / <a href="{{ path('catalog_hondaeurope_groups', parameters) }}">Выбрать группу запчастей</a> / <a href="{{ path('catalog_hondaeurope_subgroups', parameters) }}">Выбрать подгруппу запчастей</a> / Выбрать схему
{% endblock breadcrumbs %}

{% block subGroupRuname %}{{ oContainer.getActiveGroup.getSubGroup(parameters['subGroupCode']).getRuname }}{% endblock subGroupRuname %}

{% block schema %}
    {% if schema.getCode is not empty %}
            <div class="col-xs-3">
        <a href="{{ path('catalog_hondaeurope_schema', parameters|merge({'schemaCode': schema.getCode})) }}">

                    <div class="row">
                        {{ schema.getRuname }}
                    </div>
                    <div class="row">
                        <img src="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/cataloghondaeurope/Pictures/'~oContainer.getActiveSchema.getCode~'/IMGE/'~oContainer.getActiveGroup.getSubGroup(parameters['subGroupCode']).getCode~'.TIF') }}"/>
                    </div>

        </a>
            </div>
    {% endif %}
{% endblock schema %}