{% extends 'CatalogCommonBundle:Catalog:04_groups.html.twig' %}
{% use 'CatalogBuickBundle::buick.base.html.twig' %}
{% block breadcrumbs %}
   <a href="{% if  app.request.get('token') %} {{ path('catalog_buick_token', parameters) }} {% else %} {{ path('catalog_buick') }} {% endif %}">Регион, модель, модификация ({{ oContainer.getActiveRegion.getRuname }},
   {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a>
    /<a href="{{ path('catalog_buick_complectations', parameters) }}"> Комплектация ({{ oContainer.getActiveComplectation.getRuname }})</a>
    / Группа запчастей
{% endblock breadcrumbs %}


{% block body %}
    {% block head %}<h3>Выбрать группу запчастей:</h3>{% endblock head %}
    <div class="row">
    <div class="col-lg-12">
        {% block groups %}
            <div class="groups">
                {% for group in oContainer.getGroups %}

                    <div class="col-sm-10 col-sm-offset-5 col-md-10 col-md-offset-0">

                        <a href="{{ path('catalog_buick_subgroups', parameters|merge({'groupCode': group.getCode})) }}">
                            <div class="row">

                            ({{ group.getCode }}) {{ group.getRuname }}

                            </div>

                        </a>

                    </div>
                {% endfor %}
            </div>
        {% endblock groups %}
    </div>
    </div>
{% endblock body %}
