{% extends 'CatalogLandRoverBundle:Catalog:07_schema.html.twig' %}
{% use 'CatalogLandRoverBundle::landrover.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('articul_landrover_find_token', parameters) }} {% else %} {{ path('articul_landrover_find') }} {% endif %}">Модель ({{ oContainer.getActiveModel.getRuname }})</a> /
    <a href="{{ path('articul_landrover_groups', parameters) }}">Группа запчастей ({{ oContainer.getActiveGroup.getRuname}})</a>/
    <a href="{{ path('articul_landrover_subgroups', parameters) }}">Подгруппа запчастей ({{ oContainer.getActiveGroup.getSubGroup(parameters.subGroupCode).getRuname }})</a> /
    <a href="{{ path('articul_landrover_schemas', parameters) }}">Схема</a> / Запчасти
{% endblock breadcrumbs %}

{% block region %}{% endblock region%}
{% block regions %}{% endblock regions %}
{% block complectation %}
{% endblock complectation %}
{% block modification %}
{% endblock modification %}



{% block refGroupsHead %}<h4>Связанные изображения</h4>{% endblock refGroupsHead %}

{% block image %}
    <img src="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/cataloglandrover/Images/'~oContainer.getActiveSchema.getOption('pictureFolder')~'/'~oContainer.getActiveSchema.getCode~'.png') }}" width="500" usemap="#{{ oContainer.getActiveSchema.getCode }}" alt="{{ oContainer.getActiveSchema.getCode }}"/>
{% endblock image %}
{% block commonArticulPath %}{{ parameters.redirectAdress|replace({ '{article}': commonArticul.getCode }) }}{% endblock commonArticulPath %}
{% block subGroupPath %}{{ path('articul_landrover_group', parameters|merge({'subGroupCode': refGroup.getCode})) }}{% endblock subGroupPath %}
{% block pncScript %}
    {% if pnc.isActive %}
        <script>
            $(document).ready(function(){
                {% block pncClick %}
                $(("#articul_for_pnc{{ pnc.getCode }}")).toggleClass("hidden");
                $(("#pnc_{{ pnc.getCode }}")).toggleClass("glyphicon-plus");
                $(("#articul_for_pnc{{ pnc.getCode }}")).html('<img src={{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~"/bundles/catalogcommon/images/loading.gif") }} height="15px" />');
                $.ajax({
                    type:   'POST',
                    async:  false,
                    url:    "{% block ajaxUrl %}{{ path('articul_landrover_articuls') }}{% endblock ajaxUrl %}",
                    data:   {
                        regionCode: '{{ oContainer.getActiveRegion.getCode }}',
                        modelCode: '{{ oContainer.getActiveModel.getCode }}',
                        modificationCode: '{{ oContainer.getActiveModification.getCode }}',
                        groupCode: '{{ parameters.groupCode }}',
                        subGroupCode: '{{ parameters.subGroupCode }}',
                        pncCode: '{{ pnc.getCode }}',
                        articul: '{{ parameters.articul }}',
                        token: '{{ app.request.get('token') }}',
                        options: '{{ oContainer.getActiveSchema.getOptions|json_encode()|raw }}'
                    },
                    success: function(data) {
                        $(("#articul_for_pnc{{ pnc.getCode }}")).html(data);
                    }
                });
                $(("#pnc_{{ pnc.getCode }}")).toggleClass("glyphicon-minus");
                $(("#pnc_{{ pnc.getCode }}")).toggleClass("small btn-default");
                {% endblock pncClick %}
            });
        </script>

    {% endif %}
    {{ parent() }}
{% endblock pncScript %}
{% set a = [] %}
{% for pnc in oContainer.getActiveSchema.getPncs %}
    {% if pnc.isActive %}
        {% set a = a|merge([pnc.getCode]) %}
    {% endif %}
{% endfor %}
{% block activeLabel %}{{ a|join(',') }}{% endblock activeLabel %}