{% extends 'CatalogInfinitiBundle:Catalog:07_schema.html.twig' %}
{% use 'CatalogInfinitiBundle::infiniti.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('articul_infiniti_find_token', parameters) }} {% else %} {{ path('articul_infiniti_find') }} {% endif %}">Регион, модель, модификация ({{ oContainer.getActiveRegion.getRuname }},
   {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> /
    <a href="{{ path('articul_infiniti_complectations', parameters) }}">Комплектация ({{ oContainer.getActiveComplectation.getRuname}})</a>/
    <a href="{{ path('articul_infiniti_groups', parameters) }}">Группа запчастей ({{ oContainer.getActiveGroup.getRuname}})</a>/
    <a href="{{ path('articul_infiniti_subgroups', parameters) }}">Подгруппа запчастей ({{ oContainer.getActiveGroup.getSubGroup(parameters.subGroupCode).getRuname }})</a> /
    <a href="{{ path('articul_infiniti_schemas', parameters) }}">Схема</a> / Запчасти
{% endblock breadcrumbs %}



{% block refGroupsHead %}<h4>Связанные изображения</h4>{% endblock refGroupsHead %}

{% block image %}
    <img src="{{ asset('bundles/catalognissan/Img/'~oContainer.getActiveRegion.getCode~'/'~oContainer.getActiveComplectation.getCode|slice(0,3)~'/SECIMG/'~oContainer.getActiveSchema.getCode|slice(0,6)~'.gif') }}" width="100%" usemap="#{{ oContainer.getActiveSchema.getCode }}" alt="{{ oContainer.getActiveSchema.getCode }}"/>{% endblock image %}

{% block commonArticulPath %}{{ parameters.redirectAdress|replace({ '{article}': commonArticul.getCode }) }}{% endblock commonArticulPath %}
{% block subGroupPath %}{{ path('articul_infiniti_group', parameters|merge({'subGroupCode': refGroup.getCode})) }}{% endblock subGroupPath %}
{% block pncScript %}
    {% if pnc.isActive %}
        <script>
            $(document).ready(function(){
                {% block pncClick %}
                $(addslashes("#articul_for_pnc{{ pnc.getCode }}")).toggleClass("hidden");
                $(addslashes("#pnc_{{ pnc.getCode }}")).toggleClass("glyphicon-plus");
                $(addslashes("#articul_for_pnc{{ pnc.getCode }}")).html('<img src={{ asset("bundles/catalogcommon/images/loading.gif") }} height="15px" />');
                $.ajax({
                    type:   'POST',
                    async:  false,
                    url:    "{% block ajaxUrl %}{{ path('articul_infiniti_articuls') }}{% endblock ajaxUrl %}",
                    data:   { {% block ajaxData %}
                        regionCode: '{{ oContainer.getActiveRegion.getCode }}',
                        modelCode: '{{ oContainer.getActiveModel.getCode }}',
                        modificationCode: '{{ oContainer.getActiveModification.getRuname }}',
                        complectationCode: '{{ oContainer.getActiveComplectation.getCode}}',
                        groupCode: '{{ oContainer.getActiveGroup.getCode}}',
                        subgroupCode: '{{ oContainer.getActiveGroup.getSubGroup(parameters.subGroupCode).getCode }}',
                        pncCode: '{{ pnc.getCode }}',
                        articul: '{{ parameters.articul }}',
                        token: '{{ app.request.get('token') }}',
                        options: '{{ oContainer.getActiveSchema.getOptions|json_encode()|raw }}'
                        {% endblock ajaxData %} },
                    success: function(data) {
                        $(addslashes("#articul_for_pnc{{ pnc.getCode }}")).html(data);
                    }
                });
                $(addslashes("#pnc_{{ pnc.getCode }}")).toggleClass("glyphicon-minus");
                $(addslashes("#pnc_{{ pnc.getCode }}")).toggleClass("small btn-default");
                {% endblock pncClick %}
            });
        </script>

    {% endif %}
    {{ parent() }}
{% endblock pncScript %}
{% set a = [] %}
{% for pnc in oContainer.getActiveSchema.getPncs %}
    {% if pnc.isActive %}
        {% set a = a|merge([pnc.getCode]) %}
    {% endif %}
{% endfor %}
{% block activeLabel %}{{ a|join(',') }}{% endblock activeLabel %}