<table class="table small">
    {% if oContainer.getActivePnc.getArticuls %}
    <thead>
        <tr>
            <th>Артикул</th>
            <th>Наименование</th>
            <th>Примечание</th>
            <th>Кол-во</th>
            <th>Период</th>
            <th>Данные по модели</th>
        </tr>
    </thead>

    <tbody>
    {% for articul in oContainer.getActivePnc.getArticuls %}
        <tr>
            <td><a href="{{ constant('Catalog\\CommonBundle\\Components\\Constants::FIND_PATH') }}{{ articul.getCode }}" target="_blank">{% block articulItem %}{{ articul.getCode }}{% endblock articulItem %}</a>
                {% if articul.getOption('zamena') %} <br>C {{ articul.getOption('dataOtmeny')|fiat_date_convertor  }} замена: {{ articul.getOption('zamena') }} <br>({{ articul.getOption('zamenakoli4')|replace({'~':' '}) }} шт.){% endif %}
            </td>
            <td>{{ articul.getRuname }}</td>
            <td>{% if articul.getOption('prime4') %} {{ articul.getOption('prime4')|replace({'~':'', 'X':'', ';':''})}} {% endif %}<br/> {{ articul.getOption('with')|replace({'~':'', 'X':'', ';':''})}}</td>
            <td>{% autoescape false %}{{ articul.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::QUANTITY'))|replace({';':'<br/>'}) }}{% endautoescape %}<br/></td>
            <td>{{ articul.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::START_DATE'))|fiat_date_convertor}} - {{ articul.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::END_DATE'))|fiat_date_convertor}}</td>
            <td>{% if articul.getOption('dannye') %} {{ articul.getOption('dannye')|replace({';':' '}) }} {% endif %}</td>
            
        </tr>
    {% endfor %}
    </tbody>
    {% endif %}
    {% if not oContainer.getActivePnc.getArticuls %}
        <tbody>
    Запчасть не применяется в выбранной модели
    </tbody>
    {% endif %}

</table>