{% extends 'CatalogCommonBundle:Catalog:06_schemas.html.twig' %}
{% use 'CatalogKiaBundle::kia.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('articul_kia_find_token', parameters) }} {% else %} {{ path('articul_kia_find') }} {% endif %}">Выбрать регион, модель, модификацию</a> / <a href="{{ path('articul_kia_groups', parameters) }}">Выбрать группу запчастей</a> / <a href="{{ path('articul_kia_subgroups', parameters) }}">Выбрать подгруппу запчастей</a> / Выбрать схему
{% endblock breadcrumbs %}



{% block schema %}
    {% if schema.getCode is not empty %}
            <div class="col-xs-3">
        <a href="{{ path('articul_kia_schema', parameters|merge({'schemaCode': schema.getCode})) }}">

                    <div class="row">
                        {{ schema.getCode }}
                    </div>
                    <div class="row">
                        <img src="{{ ('bundles/catalogkia/Images/Images/'~schema.getRuname~'/'~schema.getCode~'.png')|file_exists() ?
                        asset('bundles/catalogkia/Images/Images/'~schema.getRuname~'/'~schema.getCode~'.png') :
                        asset('bundles/catalogkia/Images/Images/'~schema.getRuname~'/'~schema.getCode~'1.png') }}" width="300" alt="{{ schema.getRuname }}"/>
                    </div>

        </a>
            </div>
    {% endif %}
{% endblock schema %}