{% extends 'CatalogCommonBundle:Catalog:05_subgroups.html.twig' %}
{% use 'CatalogSaabBundle::saab.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('articul_saab_find_token', parameters) }} {% else %} {{ path('articul_saab_find') }} {% endif %}">Регион, модель, модификация ({{ oContainer.getActiveRegion.getRuname }},
   {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> /
    <a href="{{ path('articul_saab_groups', parameters) }}">Группа запчастей ({{ oContainer.getActiveGroup.getRuname}})</a> / 
    Подгруппа запчастей
{% endblock breadcrumbs %}
{% block complectation %}
{% endblock complectation %}

{% block subgroupImage %}
        {% endblock subgroupImage %}


{% block subgroupItem %}
    <div id="subgroup{{ subgroup.getCode }}">
        <a href="{{ path('articul_saab_schemas', parameters|merge({'subGroupCode': subgroup.getCode})) }}">({{ subgroup.getCode }}) {{ subgroup.getRuname }}</a>
    </div>
{% endblock subgroupItem %}