{% extends 'CatalogCommonBundle:Vin:02_result.html.twig' %}
{% block specification %}
    <div class="row">
    <div class="col-lg-8">
            <table class="table table-bordered">
                <tr>
                    <td>Регион:</td>
                    <td>{{ result.region }}</td>
                </tr>
                <tr>
                    <td>Модель</td>:
                    <td>{{ result.model }}</td>
                </tr>
                <tr>
                    <td>Дата выпуска:</td>
                    <td>{{ result[constant('Catalog\\CommonBundle\\Components\\Constants::PROD_DATE')]|date_convertor }}</td>
                </tr>
                <tr>
                    <td>Модификация:</td>
                    <td>{{ result.modification }}</td>
                </tr>
                <tr>
                    <td>Комплектация:</td>
                    <td>{{ result.complectation }}</td>
                </tr>
                <tr>
                    <td>Двигатель:</td>
                    <td>{{ result.engine }}</td>
                </tr>
                <tr>
                    <td>Исполнение:</td>
                    <td>{{ result.sus }}</td>
                </tr>
                <tr>
                    <td>Кузов:</td>
                    <td>{{ result.body }}</td>
                </tr>
                <tr>
                    <td>Привод:</td>
                    <td>{{ result.train }}</td>
                </tr>
                <tr>
                    <td>Трансмиссия:</td>
                    <td>{{ result.trans }}</td>
                </tr>
                <tr>
                    <td>Цвет:</td>
                    <td>{{ result.ext_color }}</td>
                </tr>
                <tr>
                    <td>Код отделки:</td>
                    <td>{{ result.Trim_code }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock specification %}
{% block catalogPath %}
    {{ path('vin_subaru_groups', {'regionCode': result.region, 'modelCode': result.model|slice(1,3), 'modificationCode': result.modification, 'complectationCode': result.complectation}) }}
{% endblock catalogPath %}