{% trans_default_domain 'common' %}
{% extends 'CatalogCommonBundle:Vin:02_result.html.twig' %}
{% block specification %}
    <div class="row">
    <div class="col-lg-8">
            <table class="table table-bordered">
                <tr>
                    <td>{{'Марка'|trans}}:</td>
                    <td>{{ result.marka }}</td>
                </tr>
                <tr>
                    <td>{{'Регион'|trans}}:</td>
                    <td>{{ result.region }}</td>
                </tr>
                <tr>
                    <td>{{'Модель'|trans}}:</td>
                    <td>{{ result.model }}</td>
                </tr>
                <tr>
                    <td>{{'Дата выпуска'|trans}}:</td>
                    <td>{{ result[constant('Catalog\\CommonBundle\\Components\\Constants::PROD_DATE')]|subaru_date_convertor }}</td>
                </tr>
                <tr>
                    <td>{{'Модификация'|trans}}:</td>
                    <td>{{ result.modification }}</td>
                </tr>
                <tr>
                    <td>{{'Код комплектации'|trans({}, 'subaru')}}:</td>
                    <td>{{ result.complectation }}</td>
                </tr>
                <tr>
                    <td>{{'Комплектация'|trans}}:</td>

                    <td>
                        {% for  compl in result.complectation%}
                                {{ compl }} <br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>{{'Цвет'|trans({}, 'subaru')}}:</td>
                    <td>{{ result.ext_color }}</td>
                </tr>
                <tr>
                    <td>{{'Код отделки'|trans({}, 'subaru')}}:</td>
                    <td>{{ result.Trim_code }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock specification %}
{% block catalogPath %}
    {{ path('vin_subaru_groups',({
        'regionCode': result.region,
        'modelCode': result.model|slice(1,3),
        'modificationCode': result.modification,
        'complectationCode': result.complectationCode,
        'token': app.request.get('token')
    })) }}
{% endblock catalogPath %}
