{% trans_default_domain 'common' %}
{% extends 'CatalogSubaruBundle:Catalog:07_schema.html.twig' %}
{% use 'CatalogSubaruBundle::subaru.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('vin_subaru', parameters) }}">{{ 'Поиск по номеру кузова'|trans }} ({{ oContainer.getActiveRegion.getRuname }},
        {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> /
    <a href="{{ path('vin_subaru_groups', parameters) }}">{{'Группа запчастей'|trans}} ({{ oContainer.getActiveGroup.getRuname|trans }})</a> /
    <a href="{{ path('vin_subaru_subgroups', parameters) }}">{{'Подгруппа запчастей'|trans}} ({{ oContainer.getActiveGroup.getSubGroup(parameters.subGroupCode).getRuname }})</a> /
    <a href="{{ path('vin_subaru_schemas', parameters) }}">{{ 'Cхема'|trans }}</a> / {{'Запчасти'|trans}}
{% endblock breadcrumbs %}


{% block ajaxUrl %}{{ path('vin_subaru_articuls') }}{% endblock ajaxUrl %}
{% block subGroupPath %}{{ path('vin_subaru_group', parameters|merge({'subGroupCode': refGroup.getCode})) }}{% endblock subGroupPath %}