{% extends 'CatalogCommonBundle:Catalog:04_groups.html.twig' %}
{% use 'CatalogSmartBundle::smart.base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogsmart/css/smart.css') }}" media="all">
{% endblock %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('articul_smart_find_token', parameters) }} {% else %} {{ path('articul_smart_find') }} {% endif %}">Выбрать регион, модель, модификацию</a> /
    <a href="{{ path('articul_smart_complectations', parameters) }}">Выбрать комплектацию</a> /
    Выбрать группу запчастей
{% endblock breadcrumbs %}

{% block pathToSubgroup %}{{ path('articul_smart_subgroups', parameters|merge({'groupCode': group.getCode})) }}{% endblock pathToSubgroup %}
{% block picture %}
    {% for modification in oContainer.getActiveModel.getModifications %}
        {{ modification.getRuname }}<br/>
        <table class="table">
        {% for complectationCode, complectationName in modification.getOption('COMPLECTATIONS') %}
            <tr>
                <td><a href="{{ path('articul_smart_groups', parameters|merge({'modificationCode': modification.getCode, 'complectationCode': complectationCode})) }}"><span class="col-lg-3">{{ complectationCode|slice(-7) }}</span><span class="col-lg-9">{{ complectationName }}</span></a></td>
            </tr>
        {% endfor %}
        </table>
    {% endfor %}
{% endblock picture %}