{% trans_default_domain 'common' %}
{% extends 'CatalogCommonBundle:Catalog:05_subgroups.html.twig' %}
{% use 'CatalogToyotaBundle::toyota.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('vin_toyota',parameters) }}">{{ 'Поиск по номеру кузова'|trans }} ({{ oContainer.getActiveRegion.getRuname }},
   {{ oContainer.getActiveModel.getRuname }}, {{ oContainer.getActiveModification.getRuname }})</a> /
    <a href="{{ path('vin_toyota_groups', parameters) }}">{{'Группа запчастей'|trans}} ({{ oContainer.getActiveGroup.getRuname|trans({}, 'toyota') }})</a> /
    {{'Подгруппа запчастей'|trans}}
{% endblock breadcrumbs %}

{% block groupRuname %}{{ oContainer.getActiveGroup.getRuname|trans({}, 'toyota') }}{% endblock groupRuname %}


{% block subgroupImage %}{% endblock subgroupImage %}
{% block subgroupItem %}
    <div id="subgroup{{ subgroup.getCode }}">
        <a href="{{ path('vin_toyota_schemas', parameters|merge({'subGroupCode': subgroup.getCode})) }}">({{ subgroup.getCode }}) {{ subgroup.getRuname }}</a>
    </div>
{% endblock subgroupItem %}
 {% block area %}
 {% endblock area %}
{% block cycleScript %}
{% endblock cycleScript %}