{% trans_default_domain 'common' %}
{% extends 'CatalogCommonBundle:Catalog:05_subgroups.html.twig' %}
{% use 'CatalogSubaruBundle::subaru.base.html.twig' %}
{% block breadcrumbs %}
    <a href="{% if  app.request.get('token') %} {{ path('catalog_subaru_token', parameters) }} {% else %} {{ path('catalog_subaru') }} {% endif %}">{{'Регион, модель, модификация'|trans}}</a> / <a href="{{ path('catalog_subaru_complectations', parameters) }}">{{'Комплектация'|trans}}</a> / <a href="{{ path('catalog_subaru_groups', parameters) }}">{{'Группа запчастей'|trans}}</a> / {{'Подгруппа запчастей'|trans}}
{% endblock breadcrumbs %}


{% block subgroupImage %}
        <div class="col-lg-8">
            <img src="{{ asset(constant('Catalog\\CommonBundle\\Components\\Constants::PREFIX_STATIC')~'/bundles/catalogsubaru/Subaru_Images/'~oContainer.getActiveSchema.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::CD'))~'/'~oContainer.getActiveSchema.getOption('sub_dir')~'/'~oContainer.getActiveSchema.getOption('sub_wheel')~'/model'~oContainer.getActiveSchema.getOption('num_model')~'/part1/'~oContainer.getActiveSchema.getOption('num_image')~'.png') }}" alt="{{ oContainer.getActiveGroup.getRuname }}" width="900" usemap="#{{ oContainer.getActiveGroup.getCode }}" />
        </div>
        {% endblock subgroupImage %}



{% block pathToSchemas %}
    {{ path('catalog_subaru_schemas', parameters|merge({'subGroupCode': subgroup.getCode})) }}
{% endblock pathToSchemas %}
{% block groupRuname %}{{ oContainer.getActiveGroup.getRuname(app.request.get('_locale')) }}{% endblock groupRuname %}



                    {% block subGroupsMap %}
                        <map name="{{ oContainer.getActiveGroup.getCode }}">

                            {% for subgroup in oContainer.getActiveGroup.getSubgroups %}
                                {% block subgroupItem %}
                                <div id="subgroup{{ subgroup.getCode }}">
                                    <a href="{{ block('pathToSchemas') }}">({{ subgroup.getCode }}) {{ subgroup.getRuname }}</a>
                                </div>
                                {% endblock subgroupItem %}

                                {% for coords in subgroup.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::COORDS')) %}
                                    {% block area %}
                            <area shape="rect" coords="
                                        {{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::X1')] }},
                                        {{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::Y1')] }},
                                        {{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::X2')] }},
                                        {{ coords[constant('Catalog\\CommonBundle\\Components\\Constants::Y2')] }}
                                " href="{{ block('pathToSchemas') }}" target="_blank" id="{{ subgroup.getCode~coords[constant('Catalog\\CommonBundle\\Components\\Constants::Y1')] }}" data-name="{{ subgroup.getCode~coords[constant('Catalog\\CommonBundle\\Components\\Constants::Y1')] }}"/>
                                    {% endblock area %}



                                {% block cycleScript %}
                                <script>
                                    $("#{{ subgroup.getCode~coords[constant('Catalog\\CommonBundle\\Components\\Constants::Y1')] }}").on('mouseover', function(){
                                        $("#subgroup{{ subgroup.getCode }}").toggleClass("btn-default");
                                    });
                                    $("#{{ subgroup.getCode~coords[constant('Catalog\\CommonBundle\\Components\\Constants::Y1')] }}").on('mouseout', function(){
                                        $("#subgroup{{ subgroup.getCode }}").toggleClass("btn-default");
                                    });
                                    $("#{{ subgroup.getCode~coords[constant('Catalog\\CommonBundle\\Components\\Constants::Y1')] }}").on('click', function(){
                                        $("#subgroup{{ subgroup.getCode }}").toggleClass("btn-info");
                                    });
                                </script>
                                {% endblock cycleScript %}
                                {% endfor %}
                            {% endfor %}
                        </map>
                    {% endblock subGroupsMap %}
{% block mapsterScript %}
    <script>
        $('img').mapster({
            fillColor: '70daf1',
            fillOpacity: 0.3,
            mapKey: 'data-name',
            staticState: true,
            clickNavigate: true
        });
    </script>
{% endblock mapsterScript %}