<table class="table small">
    <thead>
        <tr>
            <th>Артикул</th>
            <th>Период производства</th>
            <th>Применение</th>
        </tr>
    </thead>
    <tbody>
    {% for articul in oContainer.getActivePnc.getArticuls %}
        <tr>
            <td><a href="{{ constant('Catalog\\CommonBundle\\Components\\Constants::FIND_PATH') }}{{ articul.getCode }}" target="_blank">{% block articulItem %}{{ articul.getCode }}{% endblock articulItem %}</a></td>
            <td>{{ articul.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::START_DATE'))|subaru_date_convertor }} - {{ articul.getOption(constant('Catalog\\CommonBundle\\Components\\Constants::END_DATE'))|subaru_date_convertor }}</td>
            <td>{{ articul.getRuname }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>